<div class="dialog-container bg-white flex-grow-1 position-relative swiper-slide" uk-height-viewport="offset-top: 80">
  <div class="d-table w-100 h-100 dialog-table mh-100">
    <div class="d-table-row">
      <div class="position-relative overflow-hidden td-main d-table-cell">
        <div class="dialog-table-wrapper position-absolute">
          <small class="d-block typo-xs text-center my-4_25 dialog-datetime">20 Июля 2019</small>
          {% include '_part/dashboard-7/dialog-items.html' %}
          <div class="pb-2 pb-sm-4_25 pb-lg-5_5"></div>
        </div>
      </div>
    </div>
    <div class="d-table-row">
      <div class="td-footer d-table-cell">
        {% include '_part/dashboard-7/dialog-footer.html' %}
      </div>
    </div>
  </div>
</div>
