<figure class="media dialog-item dialog-item-myself px-4 mb-0 flex-row-reverse my-2 my-lg-0">
  <img class="dialog-item-avatar rounded-pill ml-3 align-self-end position-relative d-none d-sm-inline-block" src="images/avatar.png" width="32" height="32">
  <div class="media-body text-right">
    <div class="typo-lg px-3 py-1_5 dialog-item-bubble d-inline-block font-weight-normal text-left position-relative">
      Я опаздываю на 15 минут
    </div>
    <figcaption class="mt-2 dialog-item-footer">
      <small class="typo-xs dialog-item-footer-text d-block">15:34</small>
    </figcaption>
  </div>
</figure>
{% for i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15] -%}
<figure class="media dialog-item px-4 mb-0 my-2 my-lg-0">
  <img class="dialog-item-avatar rounded-pill mr-3 align-self-end position-relative d-none d-sm-inline-block" src="images/avatar.png" width="32" height="32">
  <div class="media-body">
    <div class="typo-lg px-3 py-1_5 dialog-item-bubble d-inline-block font-weight-normal position-relative">
      Добрый день, я ваш персональный менеджер Вячеслав. Ничего страшного мы вас обязательно дождемся.
    </div>
    <figcaption class="mt-2 dialog-item-footer">
      <small class="typo-xs dialog-item-footer-text d-block">15:34</small>
    </figcaption>
  </div>
</figure>
<figure class="media dialog-item dialog-item-myself px-4 mb-0 flex-row-reverse my-2 my-lg-0">
  <img class="dialog-item-avatar rounded-pill ml-3 align-self-end position-relative d-none d-sm-inline-block" src="images/avatar.png" width="32" height="32">
  <div class="media-body text-right">
    <div class="typo-lg px-3 py-1_5 dialog-item-bubble d-inline-block font-weight-normal text-left position-relative">
      Спасибо
    </div>
    <figcaption class="mt-2 dialog-item-footer">
      <small class="typo-xs dialog-item-footer-text d-block">Прочитано</small>
    </figcaption>
  </div>
</figure>
{%- endfor %}
