<div class="dialog-sidebar d-none d-sm-flex flex-sm-column overflow-hidden swiper-slide" uk-height-viewport="offset-top: 80">
  <div class="dialog-sidebar-wrapper h-100">
    {% include '_part/dashboard-7/dialog-list-items.html' %}
  </div>
  <div class="dialog-sidebar-toggler d-lg-none"></div>
</div>
