<div class="dialog-footer d-flex flex-nowrap align-items-end px-4 pt-2 pb-4_25">
  <button class="btn btn-only-icon btn-link text-muted"><span class="icon icon-attach"><svg viewBox="0 0 22 23" width="22" height="23" xmlns="http://www.w3.org/2000/svg"><path d="M20.44 11.05l-9.19 9.19a6.003 6.003 0 11-8.49-8.49l9.19-9.19a4.002 4.002 0 115.66 5.66l-9.2 9.19a2.001 2.001 0 11-2.83-2.83l8.49-8.48" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg></span></button>
  <textarea class="dialog-textarea typo-lg font-weight-normal js-autosize border-0 flex-grow-1 overflow-auto" rows="1" cols="10" placeholder="Написать">Подскажите как мне перенести заказ</textarea>
  <button class="btn btn-only-icon btn-primary rounded-pill ml-2" href=""><span class="icon icon-arrow-right"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 0L6.59 1.41 12.17 7H0v2h12.17l-5.58 5.59L8 16l8-8-8-8z"/></svg></span></button>
</div>
