<section class="mb-4_5 d-lg-none">
  <h2 class="mb-0 mx-2">Взаиморасчеты с курьерами</h2>
  <div class="mx-n4_25 mx-lg-n4_5">
    <div class="swiper-container swiper-container-scrollbar mt-4 js-swiper-container-scrollbar px-4_5">
      <div class="swiper-wrapper">
        <div class="swiper-slide mr-2">
          <section class="card payment-card">
            <div class="card-body pl-2 pr-6 py-4">
              <h6 class="mb-3 text-muted font-weight-normal">Сумма наложенного платежа</h6>
              <div class="text-nowrap h1 font-weight-normal">12 000 ₽</div>
              <div class="mt-2">Всего</div>
            </div>
          </section>
        </div>
        <div class="swiper-slide mr-2">
          <section class="card payment-card">
            <div class="card-body pl-2 pr-6 py-4">
              <h6 class="mb-3 text-muted font-weight-normal">Сумма наложенного платежа к выплате</h6>
              <div class="text-nowrap h1 font-weight-normal">12 000 ₽</div>
              <div class="mt-2 text-success">Подтверждено</div>
            </div>
          </section>
        </div>
        <div class="swiper-slide mr-2">
          <section class="card payment-card">
            <div class="card-body pl-2 pr-6 py-4">
              <h6 class="mb-3 text-muted font-weight-normal">Сумма наложенного платежа</h6>
              <div class="text-nowrap h1 font-weight-normal">12 000 ₽</div>
              <div class="mt-2 text-danger">Не подтверждено</div>
            </div>
          </section>
        </div>
        <div class="swiper-slide mr-2">
          <section class="card payment-card">
            <div class="card-body pl-2 pr-6 py-4">
              <h6 class="mb-3 text-muted font-weight-normal">Сумма наложенного платежа</h6>
              <div class="text-nowrap h1 font-weight-normal">12 000 ₽</div>
              <div class="mt-2 text-danger">Не подтверждено</div>
            </div>
          </section>
        </div>
        <div class="swiper-slide mr-2">
          <section class="card payment-card">
            <div class="card-body pl-2 pr-6 py-4">
              <h6 class="mb-3 text-muted font-weight-normal">Сумма наложенного платежа</h6>
              <div class="text-nowrap h1 font-weight-normal">12 000 ₽</div>
              <div class="mt-2 text-danger">Не подтверждено</div>
            </div>
          </section>
        </div>
      </div>
      <div class="swiper-scrollbar mt-2 mx-2"></div>
    </div>
  </div>
</section>
