<div class="d-none d-lg-block">
  <section class="card mb-4_5 payment-card">
    <div class="card-body pl-4_5 pr-6 py-4">
      <h6 class="mb-4 text-muted font-weight-normal">Сумма наложенного платежа</h6>
      <div class="text-nowrap h1 font-weight-normal">12 000 ₽</div>
      <div class="mt-2">Всего</div>
    </div>
  </section>
  <section class="card mb-4_5 payment-card">
    <div class="card-body pl-4_5 pr-6 py-4">
      <h6 class="mb-4 text-muted font-weight-normal">Сумма наложенного платежа к выплате</h6>
      <div class="text-nowrap h1 font-weight-normal">12 000 ₽</div>
      <div class="mt-2 text-success">Подтверждено</div>
    </div>
  </section>
  <section class="card mb-4_5 payment-card">
    <div class="card-body pl-4_5 pr-6 py-4">
      <h6 class="mb-4 text-muted font-weight-normal">Сумма наложенного платежа</h6>
      <div class="text-nowrap h1 font-weight-normal">12 000 ₽</div>
      <div class="mt-2 text-danger">Не подтверждено</div>
    </div>
  </section>
</div>
