<div class="navbar sales-navbar px-0 py-4_5 d-none d-lg-flex flex-nowrap">
  <h1 class="h1 d-none d-xl-block flex-grow-1 mx-4_5">Статистика</h1>
  <select class="js-selectpicker selectpicker-white" name="" id="" data-style="btn-white" data-dropup-auto="false">
    <option value="">Все клиенты</option>
    <option value="">Выбор 2</option>
  </select>
  <select class="js-selectpicker selectpicker-white ml-4_5" name="" id="" data-style="btn-white" data-dropup-auto="false">
    <option value="">Все менеджеры</option>
    <option value="">Выбор 2</option>
  </select>
  <select class="js-selectpicker selectpicker-white ml-4_5" name="" id="" data-style="btn-white" data-dropup-auto="false">
    <option value="">Курьеры</option>
    <option value="">Выбор 2</option>
  </select>
</div>
