<section class="card statistic-chart-card border-0">
  <div class="embed-responsive statistic-chart-embed">
    <div class="embed-responsive-item">
      <div class="chart"><div class="position-absolute chart-wrapper w-100 h-100" id="chart"></div></div>
    </div>
  </div>
  <div class="card-img-overlay px-2 pt-2 px-lg-4_5 pt-lg-4_5">
    <div class="row no-gutters">
      <div class="col-12 col-sm-auto ml-sm-auto">
        <div class="btn-group btn-group-toggle btn-group-toggle-light statistic-chart-buttons w-100 js-radio-buttons with-indicator row-cols-2">
          <button class="btn btn-toggle active px-4_5">
            График
          </button>
          <button class="btn btn-toggle px-4_5">
            Гистограмма
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
