<div class="card statistic-card-main mt-4_5">
  <div class="card-group statistic-card-group position-relative d-none d-lg-flex flex-lg-nowrap mw-100 overflow-hidden">
    <section class="card statistic-card">
      <div class="card-body pt-4 pb-4_25">
        <h6 class="mb-5 font-weight-normal d-flex flex-column"><span>Новых</span> <span>клиентов</span></h6>
        <div class="d-flex justify-content-between">
          <div class="h1 font-weight-normal text-nowrap statistic-card-number">5</div>
          <span class="d-flex">
            <span class="icon statistic-card-icon-plus ml-2 align-bottom"><svg viewBox="0 0 12 12" width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M.667 6l.94.94 3.726-3.72v8.113h1.334V3.22l3.72 3.727.946-.947L6 .667z" fill-rule="evenodd"/></svg></span>
            <span class="statistic-card-percent ml-2">26%</span>
          </span>
        </div>
      </div>
    </section>
    <section class="card statistic-card">
      <div class="card-body pt-4 pb-4_25">
        <h6 class="mb-5 font-weight-normal d-flex flex-column"><span>Создано</span> <span>заказов</span></h6>
        <div class="d-flex justify-content-between align-items-end">
          <div class="h1 font-weight-normal text-nowrap statistic-card-number">5</div>
          <span class="d-flex">
            <span class="icon statistic-card-icon-plus ml-2 align-bottom"><svg viewBox="0 0 12 12" width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M.667 6l.94.94 3.726-3.72v8.113h1.334V3.22l3.72 3.727.946-.947L6 .667z" fill-rule="evenodd"/></svg></span>
            <span class="statistic-card-percent ml-2">26%</span>
          </span>
        </div>
      </div>
    </section>
    <section class="card statistic-card">
      <div class="card-body pt-4 pb-4_25">
        <h6 class="mb-5 font-weight-normal d-flex flex-column"><span>Оплачено</span> <span>заказов</span></h6>
        <div class="d-flex justify-content-between align-items-end">
          <div class="h1 font-weight-normal text-nowrap statistic-card-number">5</div>
          <span class="d-flex">
            <span class="icon statistic-card-icon-plus ml-2 align-bottom"><svg viewBox="0 0 12 12" width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M.667 6l.94.94 3.726-3.72v8.113h1.334V3.22l3.72 3.727.946-.947L6 .667z" fill-rule="evenodd"/></svg></span>
            <span class="statistic-card-percent ml-2">26%</span>
          </span>
        </div>
      </div>
    </section>
    <section class="card statistic-card">
      <div class="card-body pt-4 pb-4_25">
        <h6 class="mb-5 font-weight-normal d-flex flex-column"><span>Отправлено</span> <span>заказов</span></h6>
        <div class="d-flex justify-content-between align-items-end">
          <div class="h1 font-weight-normal text-nowrap statistic-card-number">5</div>
          <span class="d-flex">
            <span class="icon statistic-card-icon-plus ml-2 align-bottom"><svg viewBox="0 0 12 12" width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M.667 6l.94.94 3.726-3.72v8.113h1.334V3.22l3.72 3.727.946-.947L6 .667z" fill-rule="evenodd"/></svg></span>
            <span class="statistic-card-percent ml-2">26%</span>
          </span>
        </div>
      </div>
    </section>
    <section class="card statistic-card">
      <div class="card-body pt-4 pb-4_25">
        <h6 class="mb-5 font-weight-normal d-flex flex-column"><span>Доставлено</span> <span>заказов</span></h6>
        <div class="d-flex justify-content-between align-items-end">
          <div class="h1 font-weight-normal text-nowrap statistic-card-number">5</div>
          <span class="d-flex">
            <span class="icon statistic-card-icon-plus ml-2 align-bottom"><svg viewBox="0 0 12 12" width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M.667 6l.94.94 3.726-3.72v8.113h1.334V3.22l3.72 3.727.946-.947L6 .667z" fill-rule="evenodd"/></svg></span>
            <span class="statistic-card-percent ml-2">26%</span>
          </span>
        </div>
      </div>
    </section>
    <section class="card statistic-card">
      <div class="card-body pt-4 pb-4_25">
        <h6 class="mb-5 font-weight-normal d-flex flex-column"><span>Не оплачено</span> <span>заказов</span></h6>
        <div class="d-flex justify-content-between align-items-end">
          <div class="h1 font-weight-normal text-nowrap statistic-card-number">5</div>
          <span class="d-flex">
            <span class="icon statistic-card-icon-plus ml-2 align-bottom"><svg viewBox="0 0 12 12" width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M.667 6l.94.94 3.726-3.72v8.113h1.334V3.22l3.72 3.727.946-.947L6 .667z" fill-rule="evenodd"/></svg></span>
            <span class="statistic-card-percent ml-2">26%</span>
          </span>
        </div>
      </div>
    </section>
    <section class="card statistic-card">
      <div class="card-body pt-4 pb-4_25">
        <h6 class="mb-5 font-weight-normal d-flex flex-column"><span>Не доставлено</span> заказов</span></h6>
        <div class="d-flex justify-content-between align-items-end">
          <div class="h1 font-weight-normal text-nowrap statistic-card-number">5</div>
          <span class="d-flex">
            <span class="icon statistic-card-icon-plus ml-2 align-bottom"><svg viewBox="0 0 12 12" width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M.667 6l.94.94 3.726-3.72v8.113h1.334V3.22l3.72 3.727.946-.947L6 .667z" fill-rule="evenodd"/></svg></span>
            <span class="statistic-card-percent ml-2">26%</span>
          </span>
        </div>
      </div>
    </section>
  </div>
  <section class="card statistic-chart-card border-0">
  <div class="embed-responsive statistic-chart-embed">
    <div class="embed-responsive-item">
      <div class="chart"><div class="position-absolute chart-wrapper w-100 h-100" id="chart"></div></div>
    </div>
  </div>
  <div class="card-img-overlay px-2 pt-2 px-lg-4_5 pt-lg-4_5">
    <div class="row no-gutters">
      <div class="col-12 col-sm-auto ml-sm-auto">
        <div class="btn-group btn-group-toggle btn-group-toggle-light statistic-chart-buttons w-100 js-radio-buttons with-indicator row-cols-2">
          <button class="btn btn-toggle active px-4_5">
            График
          </button>
          <button class="btn btn-toggle px-4_5">
            Гистограмма
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

</div>
