<section class="mb-4_5 d-lg-none">
  <h2 class="mb-0 mx-2">Статистика</h2>
  <div class="mx-n4_25 mx-lg-n4_5">
    <div class="swiper-container swiper-container-scrollbar mt-4 js-swiper-container-scrollbar px-4_5">
      <div class="swiper-wrapper">
        <div class="swiper-slide mr-2">
          <section class="card statistic-card">
            <div class="card-body pt-4 pb-4_25 px-2">
              <h6 class="mb-4_5 font-weight-normal d-flex flex-column"><span>Новых</span> <span>клиентов</span></h6>
              <div class="d-flex justify-content-between align-items-end">
                <div class="h1 font-weight-normal text-nowrap statistic-card-number">5</div>
                <span class="d-flex">
                  <span class="icon statistic-card-icon-plus ml-2 align-bottom"><svg viewBox="0 0 12 12" width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M.667 6l.94.94 3.726-3.72v8.113h1.334V3.22l3.72 3.727.946-.947L6 .667z" fill-rule="evenodd"/></svg></span>
                  <span class="statistic-card-percent ml-2">26%</span>
                </span>
              </div>
            </div>
          </section>
        </div>
        <div class="swiper-slide mr-2">
          <section class="card statistic-card">
            <div class="card-body pt-4 pb-4_25 px-2">
              <h6 class="mb-4_5 font-weight-normal d-flex flex-column"><span>Создано</span> <span>заказов</span></h6>
              <div class="d-flex justify-content-between align-items-end">
                <div class="h1 font-weight-normal text-nowrap statistic-card-number">5</div>
                <span class="d-flex">
                  <span class="icon statistic-card-icon-plus ml-2 align-bottom"><svg viewBox="0 0 12 12" width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M.667 6l.94.94 3.726-3.72v8.113h1.334V3.22l3.72 3.727.946-.947L6 .667z" fill-rule="evenodd"/></svg></span>
                  <span class="statistic-card-percent ml-2">26%</span>
                </span>
              </div>
            </div>
          </section>
        </div>
        <div class="swiper-slide mr-2">
          <section class="card statistic-card">
            <div class="card-body pt-4 pb-4_25 px-2">
              <h6 class="mb-4_5 font-weight-normal d-flex flex-column"><span>Оплачено</span> <span>заказов</span></h6>
              <div class="d-flex justify-content-between align-items-end">
                <div class="h1 font-weight-normal text-nowrap statistic-card-number">5</div>
                <span class="d-flex">
                  <span class="icon statistic-card-icon-plus ml-2 align-bottom"><svg viewBox="0 0 12 12" width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M.667 6l.94.94 3.726-3.72v8.113h1.334V3.22l3.72 3.727.946-.947L6 .667z" fill-rule="evenodd"/></svg></span>
                  <span class="statistic-card-percent ml-2">26%</span>
                </span>
              </div>
            </div>
          </section>
        </div>
        <div class="swiper-slide mr-2">
          <section class="card statistic-card">
            <div class="card-body pt-4 pb-4_25 px-2">
              <h6 class="mb-4_5 font-weight-normal d-flex flex-column"><span>Отправлено</span> <span>заказов</span></h6>
              <div class="d-flex justify-content-between align-items-end">
                <div class="h1 font-weight-normal text-nowrap statistic-card-number">5</div>
                <span class="d-flex">
                  <span class="icon statistic-card-icon-plus ml-2 align-bottom"><svg viewBox="0 0 12 12" width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M.667 6l.94.94 3.726-3.72v8.113h1.334V3.22l3.72 3.727.946-.947L6 .667z" fill-rule="evenodd"/></svg></span>
                  <span class="statistic-card-percent ml-2">26%</span>
                </span>
              </div>
            </div>
          </section>
        </div>
        <div class="swiper-slide mr-2">
          <section class="card statistic-card">
            <div class="card-body pt-4 pb-4_25 px-2">
              <h6 class="mb-4_5 font-weight-normal d-flex flex-column"><span>Доставлено</span> <span>заказов</span></h6>
              <div class="d-flex justify-content-between align-items-end">
                <div class="h1 font-weight-normal text-nowrap statistic-card-number">5</div>
                <span class="d-flex">
                  <span class="icon statistic-card-icon-plus ml-2 align-bottom"><svg viewBox="0 0 12 12" width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M.667 6l.94.94 3.726-3.72v8.113h1.334V3.22l3.72 3.727.946-.947L6 .667z" fill-rule="evenodd"/></svg></span>
                  <span class="statistic-card-percent ml-2">26%</span>
                </span>
              </div>
            </div>
          </section>
        </div>
        <div class="swiper-slide mr-2">
          <section class="card statistic-card">
            <div class="card-body pt-4 pb-4_25 px-2">
              <h6 class="mb-4_5 font-weight-normal d-flex flex-column"><span>Не оплачено</span> <span>заказов</span></h6>
              <div class="d-flex justify-content-between align-items-end">
                <div class="h1 font-weight-normal text-nowrap statistic-card-number">5</div>
                <span class="d-flex">
                  <span class="icon statistic-card-icon-plus ml-2 align-bottom"><svg viewBox="0 0 12 12" width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M.667 6l.94.94 3.726-3.72v8.113h1.334V3.22l3.72 3.727.946-.947L6 .667z" fill-rule="evenodd"/></svg></span>
                  <span class="statistic-card-percent ml-2">26%</span>
                </span>
              </div>
            </div>
          </section>
        </div>
        <div class="swiper-slide mr-2">
          <section class="card statistic-card">
            <div class="card-body pt-4 pb-4_25 px-2">
              <h6 class="mb-4_5 font-weight-normal d-flex flex-column"><span>Не доставлено</span> <span>заказов</span></h6>
              <div class="d-flex justify-content-between align-items-end">
                <div class="h1 font-weight-normal text-nowrap statistic-card-number">5</div>
                <span class="d-flex">
                  <span class="icon statistic-card-icon-plus ml-2 align-bottom"><svg viewBox="0 0 12 12" width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M.667 6l.94.94 3.726-3.72v8.113h1.334V3.22l3.72 3.727.946-.947L6 .667z" fill-rule="evenodd"/></svg></span>
                  <span class="statistic-card-percent ml-2">26%</span>
                </span>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="swiper-scrollbar mt-2 mx-2"></div>
    </div>
  </div>
</section>
