<section class="card mb-4_5">
  <div class="card-body pl-4_5 pr-5 py-4">
    <h6 class="mb-3 text-muted font-weight-normal">Сумма наложенного платежа</h6>
    <div class="text-nowrap h1 font-weight-normal">12 000 ₽</div>
    <div class="mt-2">Всего</div>
  </div>
</section>
<section class="card mb-4_5">
  <div class="card-body pl-4_5 pr-5 py-4">
    <h6 class="mb-3 text-muted font-weight-normal">Сумма наложенного платежа к выплате</h6>
    <div class="text-nowrap h1 font-weight-normal ">12 000 ₽</div>
    <div class="mt-2 text-success">Подтверждено</div>
  </div>
</section>
<section class="card mb-4_5">
  <div class="card-body pl-4_5 pr-5 py-4">
    <h6 class="mb-3 text-muted font-weight-normal">Сумма наложенного платежа</h6>
    <div class="text-nowrap h1 font-weight-normal">12 000 ₽</div>
    <div class="mt-2 text-danger">Не подтверждено</div>
  </div>
</section>
