{% extends 'layouts/application-with-menu.html' %}

{% set bodyClass="overflow-hidden" %}

{% block header %}
{% include 'shared/header-navbar-4-1-mobile.html' %}
{% include 'shared/header-navbar-4-1.html' %}
{% endblock %}

{% block content %}
<main>
  <div class="mt-n4_25 mt-lg-n4_5 mx-n4_25 mx-lg-n4_5">
    <div class="dialog-container bg-white flex-grow-1 d-flex flex-column">
      <div class="dialog-container-wrapper">
        {% include '_part/dashboard-7/dialog-list-items.html' %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
