{% extends 'layouts/application-with-menu.html' %}

{% block header %}
  {% include 'shared/header-navbar-2-mobile.html' %}
  {% include 'shared/header-navbar-2.html' %}
{% endblock %}

{% block content %}
<main>
  {% include '_part/dashboard-2/client-info-form.html' %}
  <div class="mt-2 mt-lg-4_5"></div>
  {% include '_part/dashboard-2/client-requsites-form.html' %}
  <div class="d-none d-lg-block">
    {% include '_part/dashboard-2/filter-navbar.html' %}
  </div>
  {% include '_part/dashboard-2/address-navbar.html' %}
  {% include '_part/dashboard-2/address-table.html' %}
</main>
{% endblock %}

{% block modals %}
  {% include 'shared/modal-delete-address.html' %}
{% endblock %}

{% block bottomStack %}
<div class="bottom-stack-mobile d-lg-none">
  <div class="bottom-stack-item">
    <div class="bottom-stack-toggler"></div>
    <div class="modal modal-static">
      <div class="modal-dialog modal-bottom modal-address">
        <div class="modal-content">
          <div class="moda-body px-4_25 pt-4 pb-0">
            <div class="modal-buttons-scroll mx-n4_25">
              <div class="modal-buttons-scroll-wrapper px-4_25 w-100">
                <div class="btn-group btn-group-toggle btn-group-toggle-light min-w-100 with-indicator with-indicator-3 row-cols-3" data-toggle="buttons">
                  <label class="btn btn-toggle">
                    <input type="radio" name="options">
                    Заказы
                  </label>
                  <label class="btn btn-toggle">
                    <input type="radio" name="options">
                    События
                  </label>
                  <label class="btn btn-toggle active">
                    <input type="radio" name="options" checked>
                    Адреса
                  </label>
                </div>
              </div>
            </div>
            <div class="pre-scrollable mx-n4_25 mt-4">
              <div class="list-group list-group-flush">
                {% for i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15] -%}
                <div class="list-group-item list-group-item-action list-group-item-address d-flex align-items-center px-0 py-3 position-relative mb-0">
                  <div class="primary-content flex-grow-1">
                    <label class="custom-control custom-checkbox mx-4_25 float-left">
                      <input type="checkbox" class="custom-control-input" id="addr1">
                      <span class="custom-control-label"></span>
                    </label>
                    <div class="d-flex flex-column">
                      <div class="text-truncate text-black">ПВЗ Василеостровская</div>
                      <div class="typo-sm text-muted text-truncate">9-я линия В.О. д. 34А</div>
                    </div>
                  </div>
                  <div class="secondary-content d-flex flex-column pl-4_25">
                    <a class="typo-sm text-muted" href="">
                      <span class="icon icon-direction list-group-icon mr-2 align-middle"><svg viewBox="0 0 19 19" width="19" height="19" xmlns="http://www.w3.org/2000/svg"><path d="M0 9l19-9-9 19-2-8z" fill="#F6AE00" fill-rule="evenodd"/></svg></span>
                      ~ 45 мин.
                    </a>
                  </div>
                </div>
                {%- endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-stack-item">
    <div class="bottom-stack-toggler"></div>
    <div class="modal modal-static">
      <div class="modal-dialog modal-search mx-4_25 mb-4_25 mb-sm-5_25 ml-sm-auto">
        <div class="modal-content">
          <div class="modal-body px-0 py-2 d-flex flex-nowrap align-items-center justify-content-between">
            <span class="mx-4 text-nowrap"><a href="">5</a> шт.</span>
            <a data-toggle="modal" data-target="" href="">Удалить выбранное</a>
            <button class="btn btn-primary btn-only-icon modal-btn-action ml-3 mr-2">
              <span class="icon icon-plus"><svg viewBox="0 0 16 16" width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><path d="M8 1v14M1 8h14"/></g></svg></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
