{% extends 'layouts/application-with-menu.html' %}

{% block content %}
<main>
  {% include '_part/dashboard-3/order-navbar-1.html' %}
  {% include '_part/dashboard-3/order-navbar-2.html' %}
  {% include '_part/dashboard-3/order-table.html' %}
  {% include '_part/dashboard-3/order-table-tablet.html' %}
  {% include '_part/dashboard-3/order-table-mobile.html' %}
</main>
{% endblock %}

{% block modals %}
{% endblock %}

{% block bottomStack %}
<div class="bottom-stack-mobile d-lg-none">
  <div class="bottom-stack-item">
    <div class="bottom-stack-toggler"></div>
    <div class="modal modal-static">
      <div class="modal-dialog modal-search mx-4_25 mb-4_25 mb-sm-5_25 ml-sm-auto">
        <div class="modal-content">
          <div class="modal-body px-0 py-2 d-flex flex-nowrap align-items-center justify-content-between">
            <span class="icon icon-filter modal-icon-action mx-3"><svg viewBox="0 0 22 20" width="22" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M21 1H1l8 9.46V17l4 2v-8.54z" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"/></svg></span>
            <div class="search-input search-input-mobile">
              <div class="search-wrapper position-relative">
                <span class="icon search-icon position-absolute"><svg viewBox="0 0 20 20" width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M20 17.738l-5.326-5.326A8 8 0 100 8a8 8 0 0012.412 6.674L17.737 20 20 17.738zM2.267 8.002A5.733 5.733 0 018 2.269a5.733 5.733 0 110 11.466 5.734 5.734 0 01-5.733-5.733z" fill-rule="nonzero"/></svg></span>
                <input type="text" class="form-control form-control-light search-form-control" placeholder="Поиск">
              </div>
            </div>
            <button class="btn btn-primary btn-only-icon modal-btn-action ml-3 mr-2">
              <span class="icon icon-plus"><svg viewBox="0 0 16 16" width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><path d="M8 1v14M1 8h14"/></g></svg></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
