{% extends 'layouts/application-with-menu.html' %}

{% block content %}
<main>
  <div class="row flex-lg-nowrap">
    <div class="col-12 col-lg d-flex flex-column justify-content-end order-1 order-lg-2">
      {% include '_part/dashboard/sales-navbar.html' %}
      <div class="flex-grow-1"></div>
      {% include '_part/dashboard/sales-funnel-mobile.html' %}
      {% include '_part/dashboard/sales-funnel.html' %}
    </div>
    <div class="col-12 col-lg-auto d-flex flex-column justify-content-end order-2 order-lg-1">
      {% include '_part/dashboard/courier-payment-mobile.html' %}
      {% include '_part/dashboard/courier-payment.html' %}
    </div>
  </div>
  {% include '_part/dashboard/indicators-mobile.html' %}
  {% include '_part/dashboard/indicators.html' %}
  {% include '_part/dashboard/statistics-mobile.html' %}
  {% include '_part/dashboard/statistics.html' %}
  <div class="section-divider"></div>
</main>
{% endblock %}

{% block bottomStack %}
<div class="bottom-stack-mobile d-lg-none">
  <div class="bottom-stack-item">
    <div class="bottom-stack-toggler"></div>
    <div class="modal-dialog modal-search mx-4_25 mb-4_25 mb-sm-5_25 ml-sm-auto">
      <div class="modal-content">
        <div class="modal-body px-0 py-2 d-flex flex-nowrap align-items-center justify-content-between">
          <span class="icon icon-filter modal-icon-action mx-3"><svg viewBox="0 0 22 20" width="22" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M21 1H1l8 9.46V17l4 2v-8.54z" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"/></svg></span>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="javascripts/app.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.14.2/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.11/c3.min.js"></script>

<script>
  $(() => {
    let chart01 = c3.generate({
      data: {
        columns: [
          ['data1', 300, 350, 300, 0, 0, 0],
          ['data2', 130, 100, 140, 200, 150, 50]
        ],
        types: {
          data1: 'area',
          data2: 'area-spline',
        }
      },
      resizable: {
        enabled: true,
      },
      axis: {
        y: {
          show: false,
        },
        x: {
          show: false,
        },
        y2: {
          show: false,
        }
      },
      legend: {
        show: false,
      },
    });
  });
</script>
{% endblock %}
