{% extends 'layouts/application-with-menu.html' %}

{% set bodyClass="overflow-hidden" %}

{% block header %}
{% include 'shared/header-navbar-4-mobile.html' %}
{% include 'shared/header-navbar-4.html' %}
{% endblock %}

{% block content %}
<main>
  <div class="mt-n4_25 mt-lg-n4_5 mx-n4_25 mx-lg-n4_5">
    <div class="swiper-container js-swiper-container-slidable-menu">
      <div class="swiper-wrapper">
        {% include '_part/dashboard-7/dialog-sidebar.html' %}
        {% include '_part/dashboard-7/dialog-container.html' %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
