{% extends 'layouts/application-with-menu.html' %}

{% block header %}
{% include 'shared/header-navbar-1-mobile.html' %}
{% endblock %}

{% block content %}
<main>
  <div class="mt-n4_25 mt-lg-n4_5" id="accordion">
    <section class="card request-courier-card mx-n4_25 mx-lg-n4_5 rounded-0 shadow-sm">
      <header class="card-header px-4 px-lg-4_5 py-4 position-relative d-flex align-items-center">
        <h6 class="h6 m-0 py-0_5 text-truncate font-weight-medium">
          <a class="stretched-link text-dark collapse-toggle collapsed" data-toggle="collapse" data-target="#collapse-01" href="#collapse-01">
            Нераспределенные заявки
          </a>
        </h6>
        <div class="flex-grow-1"></div>
        <span class="counter ml-3 m-sm-auto d-sm-flex justify-content-sm-center align-items-sm-center">345</span>
        <span class="icon icon-chevron-down collapse-icon text-muted ml-2"><svg viewBox="0 0 12 7" width="12" height="7" xmlns="http://www.w3.org/2000/svg"><path d="M1.41 0L6 4.327 10.59 0 12 1.332 6 7 0 1.332z" fill-rule="evenodd"></path></svg></span>
      </header>
      <div class="card-collapse collapse request-courier-card-collapse" id="collapse-01" data-parent="#accordion">
        {% include '_part/dashboard-8/request-courier-cards.html' %}
      </div>
    </section>
    <section class="card request-courier-card mx-n4_25 mx-lg-n4_5 rounded-0 shadow-sm">
      <header class="card-header px-4 px-lg-4_5 py-4 position-relative d-flex align-items-center">
        <img class="mr-2 rounded-pill my-n1" width="28" height="28" src="http://placehold.it/28x28" alt="">
        <h6 class="h6 m-0 py-0_5 text-truncate font-weight-medium">
          <a class="stretched-link text-dark collapse-toggle collapsed" data-toggle="collapse" data-target="#collapse-02" href="#collapse-02">
            Мария Яковлева
          </a>
        </h6>
        <i class="icon icon-online mx-1"></i>
        <small class="typo-sm text-muted d-none d-lg-inline">Online</small>
        <div class="flex-grow-1"></div>
        <span class="counter ml-3 m-sm-auto d-sm-flex justify-content-sm-center align-items-sm-center">8</span>
        <button class="btn btn-only-icon btn-primary mx-3 my-n2 d-sm-none position-relative">
          <span class="icon icon-location"><svg viewBox="0 0 14 20" width="14" height="20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7 0C3.13 0 0 3.13 0 7c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 010-5 2.5 2.5 0 010 5z"/></svg></span>
        </button>
        <button class="btn btn-primary mx-4 my-n2 d-none d-sm-inline-block min-w-160px position-relative">
          <span class="icon icon-location my-n1 mr-2"><svg viewBox="0 0 14 20" width="14" height="20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7 0C3.13 0 0 3.13 0 7c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 010-5 2.5 2.5 0 010 5z"/></svg></span>
          На карте
        </button>
        <span class="icon icon-chevron-down collapse-icon text-muted ml-2"><svg viewBox="0 0 12 7" width="12" height="7" xmlns="http://www.w3.org/2000/svg"><path d="M1.41 0L6 4.327 10.59 0 12 1.332 6 7 0 1.332z" fill-rule="evenodd"></path></svg></span>
      </header>
      <div class="card-collapse collapse request-courier-card-collapse show" id="collapse-02" data-parent="#accordion">
        {% include '_part/dashboard-8/request-courier-cards.html' %}
      </div>
    </section>
    <section class="card request-courier-card mx-n4_25 mx-lg-n4_5 rounded-0 shadow-sm border-da">
      <header class="card-header px-4 px-lg-4_5 py-4 position-relative d-flex align-items-center">
        <img class="mr-2 rounded-pill my-n1" width="28" height="28" src="http://placehold.it/28x28" alt="">
        <h6 class="h6 m-0 py-0_5 text-truncate font-weight-medium">
          <a class="stretched-link text-dark collapse-toggle collapsed" data-toggle="collapse" data-target="#collapse-03" href="#collapse-03">
            Ольга Иванова
          </a>
        </h6>
        <small class="typo-sm text-muted d-none d-lg-inline ml-2">заходила 5 минут назад</small>
        <div class="flex-grow-1"></div>
        <span class="counter ml-3 m-sm-auto d-sm-flex justify-content-sm-center align-items-sm-center">333</span>
        <button class="btn btn-only-icon btn-primary mx-3 my-n2 d-sm-none position-relative">
          <span class="icon icon-location"><svg viewBox="0 0 14 20" width="14" height="20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7 0C3.13 0 0 3.13 0 7c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 010-5 2.5 2.5 0 010 5z"/></svg></span>
        </button>
        <button class="btn btn-primary mx-4 my-n2 d-none d-sm-inline-block min-w-160px position-relative">
          <span class="icon icon-location my-n1 mr-2"><svg viewBox="0 0 14 20" width="14" height="20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7 0C3.13 0 0 3.13 0 7c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 010-5 2.5 2.5 0 010 5z"/></svg></span>
          На карте
        </button>
        <span class="icon icon-chevron-down collapse-icon text-muted ml-2"><svg viewBox="0 0 12 7" width="12" height="7" xmlns="http://www.w3.org/2000/svg"><path d="M1.41 0L6 4.327 10.59 0 12 1.332 6 7 0 1.332z" fill-rule="evenodd"></path></svg></span>
      </header>
      <div class="card-collapse request-courier-card-collapse collapse" id="collapse-03" data-parent="#accordion">
        {% include '_part/dashboard-8/request-courier-cards.html' %}
      </div>
    </section>
  </div>
</main>
{% endblock %}
