{% extends 'layouts/application.html' %}

{% macro page(name, new=false) %}
<p><a href="{{name}}.html" target="_blank">{{name}}{{ '<sup class="text-danger"> new!</sup>' | safe if new else '' }}</a></p>
{% endmacro %}

{%
	set title = ''
%}

{% block content %}
<div class="container">
    <div class="section-divider"></div>
    {{ page('ui-kit') }}
    {{ page('ui-kit-mobile') }}
    {{ page('login') }}
    {{ page('dashboard') }}
    {{ page('dashboard-2') }}
    {{ page('dashboard-3') }}
    {{ page('dashboard-6', true) }}
    {{ page('dashboard-7', true) }}
    {{ page('dashboard-7-1', true) }}
    {{ page('dashboard-8', true) }}
    {{ page('modals', true) }}
    {{ page('rubricator', true) }}
    <div class="section-divider"></div>
</div>
{% endblock %}
