{% extends 'layouts/application-darker.html' %}

{% set bodyClass="page-login bg-darker bg-login cover-background" %}

{% block header %}
{% endblock %}

{% block content %}
<div class="w-100">
  <div class="row">
    <div class="col-lg-4 ml-auto mr-auto mr-md-0 col-login d-flex flex-column">
      {% include 'shared/header-navbar-login.html' %}
      {% include '_part/login/login-form.html' %}
    </div>
  </div>
</div>
{% endblock %}
