{% extends 'layouts/application-with-menu.html' %}

{% block content %}
<main>
  <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal-register-client">Регистрация клиента</button>
  <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal-create-tariff">Создание тарифа</button>
</main>
{% endblock %}

{% block modals %}
  {% include 'shared/modal-register-client.html' %}
  {% include 'shared/modal-create-tariff.html' %}
{% endblock %}
