{% extends 'layouts/application-with-menu.html' %}

{% block header %}
{% include 'shared/header-navbar-1-mobile.html' %}
{% endblock %}

{% block content %}
<main class="d-flex flex-column min-vh-100 mx-n4_25 mx-lg-n4_5 mt-n4_25 mt-lg-n4_5">
  <section class="bg-transparent px-4_25 px-lg-6 pt-4_25 pt-lg-5_25 pb-4_25">
    <h1 class="mb-4_25 mb-lg-4_5">База знаний</h1>
    <div class="d-flex flex-column flex-sm-row">
      <div class="flex-grow-1">
        <p class="mb-0 line-height-4">В этом разделе Вы можете найти ответы на интересующие Вас технические вопросы, связанные с работой серверов компании FASTVPS. Мы собираем эту базу уже больше пяти лет. Большая часть тем уже, скорее всего, получила разъяснение ранее. Если всё же Ваш вопрос останется без ответа, пишите на
          <a class="text-body" href="mailto:sales@fastvps.hosting">sales@fastvps.hosting</a></p>
      </div>
      <div class="mt-4 mt-sm-0 ml-sm-6 mr-sm-4">
        <button class="btn btn-primary btn-block">Добавить статью</button>
      </div>
    </div>
  </section>
  <section class="bg-white px-4_25 px-lg-6 pt-4_25 pt-lg-5_5 pb-4_25 flex-grow-1 column-lg-1-2">
    <div>
      <h4 class="h4 mb-0">1. Предпродажные вопросы</h4>
      <ul class="typo-lg list-unstyled mt-4_25 mt-lg-4_5 mb-4_75 mb-lg-5 line-height-4">
        <li class="my-4"><a href="">Какие проекты и/или материалы нельзя размещать на серверах VPS?</a></li>
        <li class="my-4"><a href="">Что будет с моим сервером в случае DDOS-атаки на него?</a></li>
      </ul>
    </div>
    <div>
      <h4 class="h4 mb-0">2. Работа с сервером</h4>
      <ul class="typo-lg list-unstyled mt-4_25 mt-lg-4_5 mb-4_75 mb-lg-5 line-height-4">
        <li class="my-4"><a href="">Миграция, смена тарифа</a></li>
        <li class="my-4"><a href="">Технические вопросы</a></li>
        <li class="my-4"><a href="">Администрирование сервера</a></li>
      </ul>
    </div>
    <div>
      <h4 class="h4 mb-0">3. Работа с сервером</h4>
      <ul class="typo-lg list-unstyled mt-4_25 mt-lg-4_5 mb-4_75 mb-lg-5 line-height-4">
        <li class="my-4"><a href="">Миграция, смена тарифа</a></li>
        <li class="my-4"><a href="">Технические вопросы</a></li>
        <li class="my-4"><a href="">Администрирование сервера</a></li>
      </ul>
    </div>
    <div>
      <h4 class="h4 mb-0">4. Работа с сервером</h4>
      <ul class="typo-lg list-unstyled mt-4_25 mt-lg-4_5 mb-4_75 mb-lg-5 line-height-4">
        <li class="my-4"><a href="">Миграция, смена тарифа</a></li>
        <li class="my-4"><a href="">Технические вопросы</a></li>
        <li class="my-4"><a href="">Администрирование сервера</a></li>
      </ul>
    </div>
  </section>
</main>
{% endblock %}

{% block modals %}
{% endblock %}

{% block bottomStack %}
{% endblock %}
