{% extends 'layouts/application.html' %}

{% block content %}
<div class="row mx-auto no-gutters" style="width: 380px;">
  <div class="col-12">
    <div class="modal modal-static">
      <div class="modal-dialog modal-search mx-4_25">
        <div class="modal-content">
          <div class="modal-body px-0 py-2 d-flex flex-nowrap align-items-center justify-content-between">
            <span class="icon icon-filter modal-icon-action mx-3"><svg viewBox="0 0 22 20" width="22" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M21 1H1l8 9.46V17l4 2v-8.54z" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"/></svg></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="modal modal-static">
      <div class="modal-dialog modal-search mx-4_25">
        <div class="modal-content">
          <div class="modal-body px-0 py-2 d-flex flex-nowrap align-items-center justify-content-between">
            <span class="icon icon-filter modal-icon-action mx-3"><svg viewBox="0 0 22 20" width="22" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M21 1H1l8 9.46V17l4 2v-8.54z" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"/></svg></span>
            <button class="btn btn-primary btn-only-icon modal-btn-action ml-3 mr-2">
              <span class="icon icon-plus"><svg viewBox="0 0 16 16" width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><path d="M8 1v14M1 8h14"/></g></svg></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="modal modal-static">
      <div class="modal-dialog modal-search mx-4_25">
        <div class="modal-content">
          <div class="modal-body px-0 py-2 d-flex flex-nowrap align-items-center justify-content-between">
            <span class="mx-4 text-nowrap"><a href="">5</a> шт.</span>
            <a data-toggle="modal" data-target="" href="">Удалить выбранное</a>
            <button class="btn btn-primary btn-only-icon modal-btn-action ml-3 mr-2">
              <span class="icon icon-plus"><svg viewBox="0 0 16 16" width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><path d="M8 1v14M1 8h14"/></g></svg></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="modal modal-static">
      <div class="modal-dialog modal-search mx-4_25">
        <div class="modal-content">
          <div class="modal-body px-0 py-2 d-flex flex-nowrap align-items-center justify-content-between">
            <span class="icon icon-filter modal-icon-action mx-3"><svg viewBox="0 0 22 20" width="22" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M21 1H1l8 9.46V17l4 2v-8.54z" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"/></svg></span>
            <div class="search-input search-input-mobile">
              <div class="search-wrapper position-relative">
                <span class="icon search-icon position-absolute"><svg viewBox="0 0 20 20" width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M20 17.738l-5.326-5.326A8 8 0 100 8a8 8 0 0012.412 6.674L17.737 20 20 17.738zM2.267 8.002A5.733 5.733 0 018 2.269a5.733 5.733 0 110 11.466 5.734 5.734 0 01-5.733-5.733z" fill-rule="nonzero"/></svg></span>
                <input type="text" class="form-control form-control-light search-form-control" placeholder="Поиск">
              </div>
            </div>
            <button class="btn btn-primary btn-only-icon modal-btn-action ml-3 mr-2">
              <span class="icon icon-plus"><svg viewBox="0 0 16 16" width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><path d="M8 1v14M1 8h14"/></g></svg></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="modal modal-static">
      <div class="modal-dialog modal-bottom">
        <div class="modal-content">
          <div class="modal-body px-4_25 pt-4 pb-0">
            <div class="modal-buttons-scroll mx-n4_25">
              <div class="modal-buttons-scroll-wrapper px-4_25 w-100">
                <div class="btn-group btn-group-toggle btn-group-toggle-light min-w-100 with-indicator with-indicator-4 row-cols-4" data-toggle="buttons">
                  <label class="btn btn-toggle">
                    <input type="radio" name="options">
                    Сегодня
                  </label>
                  <label class="btn btn-toggle">
                    <input type="radio" name="options">
                    Вчера
                  </label>
                  <label class="btn btn-toggle active">
                    <input type="radio" name="options" checked>
                    Неделя
                  </label>
                  <label class="btn btn-toggle">
                    <input type="radio" name="options">
                    Месяц
                  </label>
                </div>
              </div>
            </div>
            <div class="mt-4 border-top-light"></div>
            <div class="mobile-date-wrapper position-relative">
              <div class="input-group range-date-input-group w-100 mt-3" data-module="daterange" data-parentEl=".mobile-date-wrapper">
                <label class="input-group-prepend" for="mobileStartDate">
                  <span class="input-group-text px-0 mx-auto">с</span>
                </label>
                <input type="text" class="form-control form-control-light rounded-left start" value="" autocomplete="off" id="mobileStartDate">
                <label class="input-group-prepend px-0">
                  <span class="input-group-text px-0 mx-auto" for="mobileEndDate">по</span>
                </label>
                <input type="text" class="form-control form-control-light end" value="" autocomplete="off" id="mobileEndDate">
              </div>
            </div>
            <div class="mt-3 border-top-light"></div>
            <select class="js-selectpicker selectpicker-light w-100 mt-4" name="" id="" data-style="btn-light" data-dropup-auto="false">
              <option value="">Все клиенты</option>
            </select>
            <select class="js-selectpicker selectpicker-light w-100 mt-4" name="" id="" data-style="btn-light" data-dropup-auto="false">
              <option value="">Все менеджеры</option>
            </select>
            <select class="js-selectpicker selectpicker-light w-100 mt-4" name="" id="" data-style="btn-light" data-dropup-auto="false">
              <option value="">Все курьеры</option>
            </select>
          </div>
          <div class="moda-footer px-4_25 pb-4_25 pt-4 lex-column">
            <button class="btn btn-primary btn-block">Применить</button>
            <button class="btn btn-outline-primary btn-block mt-2">Сбросить фильтр</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="modal modal-static">
      <div class="modal-dialog modal-bottom">
        <div class="modal-content">
          <div class="modal-body px-4_25 pt-4 pb-0">
            <button class="btn btn-primary btn-block">Создать заказ</button>
            <div class="modal-buttons-scroll mt-4 mx-n4_25">
              <div class="modal-buttons-scroll-wrapper px-4_25 w-100">
                <div class="btn-group btn-group-toggle btn-group-toggle-light min-w-100 with-indicator with-indicator-4 row-cols-4" data-toggle="buttons">
                  <label class="btn btn-toggle">
                    <input type="radio" name="options">
                    Все
                  </label>
                  <label class="btn btn-toggle">
                    <input type="radio" name="options">
                    Новые
                  </label>
                  <label class="btn btn-toggle active">
                    <input type="radio" name="options" checked>
                    В работе
                  </label>
                  <label class="btn btn-toggle">
                    <input type="radio" name="options">
                    Выполненные
                  </label>
                </div>
              </div>
            </div>
            <select class="js-selectpicker selectpicker-light w-100 mt-4" name="" id="" data-style="btn-light" data-dropup-auto="false">
              <option value="">Сортировать по дате доставки</option>
            </select>
          </div>
          <div class="moda-footer px-4_25 pb-4_25 pt-4 lex-column">
            <button class="btn btn-primary btn-block">Применить</button>
            <button class="btn btn-outline-primary btn-block mt-2">Сбросить фильтр</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="modal modal-static">
      <div class="modal-dialog mx-4_25">
        <div class="modal-content">
          <div class="modal-header py-5 px-3 justify-content-center">
            <h4 class="modal-title h4 font-weight-medium mb-0">Удалить выбранные адреса?</h4>
          </div>
          <div class="modal-footer px-3 pb-3 pt-0">
            <div class="row no-gutters m-0 w-100">
              <div class="col-6 pr-2">
                <button type="button" class="btn btn-primary btn-block">Да</button>
              </div>
              <div class="col-6 pl-2">
                <button type="button" class="btn btn-outline-primary btn-block">Нет</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="modal modal-static">
      <div class="modal-dialog mx-4_25">
        <div class="modal-content">
          <div class="modal-header py-5 px-3 justify-content-center">
            <h4 class="modal-title h4 font-weight-medium mb-0">Адреса успешно удалены</h4>
          </div>
          <div class="modal-footer px-3 pb-3 pt-0">
            <button type="button" class="btn btn-primary btn-block">ОК</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12" style="width: 200%; flex: 0 0 200%; max-width: 200%;">
    <div class="modal modal-static">
      <div class="modal-dialog modal-bottom">
        <div class="modal-content">
          <div class="moda-body px-4_25 pt-4 pb-0">
            <div class="modal-buttons-scroll mx-n4_25">
              <div class="modal-buttons-scroll-wrapper px-4_25 w-100">
                <div class="btn-group btn-group-toggle btn-group-toggle-light min-w-100 with-indicator with-indicator-3 row-cols-3" data-toggle="buttons">
                  <label class="btn btn-toggle">
                    <input type="radio" name="options">
                    Заказы
                  </label>
                  <label class="btn btn-toggle">
                    <input type="radio" name="options">
                    События
                  </label>
                  <label class="btn btn-toggle active">
                    <input type="radio" name="options" checked>
                    Адреса
                  </label>
                </div>
              </div>
            </div>
            <div class="pre-scrollable mx-n4_25 mt-4">
              <div class="list-group list-group-flush">
                {% for i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15] -%}
                <div class="list-group-item list-group-item-action list-group-item-address d-flex align-items-center px-0 py-3 position-relative mb-0">
                  <div class="primary-content flex-grow-1">
                    <label class="custom-control custom-checkbox mx-4_25 float-left">
                      <input type="checkbox" class="custom-control-input" id="addr1">
                      <span class="custom-control-label"></span>
                    </label>
                    <div class="d-flex flex-column">
                      <div class="text-truncate text-black">ПВЗ Василеостровская</div>
                      <div class="typo-sm text-muted text-truncate">9-я линия В.О. д. 34А</div>
                    </div>
                  </div>
                  <div class="secondary-content d-flex flex-column pl-4_25">
                    <a class="typo-sm text-muted" href="">
                      <span class="icon icon-direction list-group-icon mr-2 align-middle"><svg viewBox="0 0 19 19" width="19" height="19" xmlns="http://www.w3.org/2000/svg"><path d="M0 9l19-9-9 19-2-8z" fill="#F6AE00" fill-rule="evenodd"/></svg></span>
                      ~ 45 мин.
                    </a>
                  </div>
                </div>
                {%- endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

