{% extends 'layouts/application.html' %}

{% block content %}
<div class="row p-4">
  <div class="col-auto">
    {% include '_part/ui-kit/radio.html' %}
  </div>
  <div class="col-auto">
    {% include '_part/ui-kit/checkbox.html' %}
  </div>
  <div class="col-auto">
    {% include '_part/ui-kit/checkbox-indeterminate.html' %}
  </div>
  <div class="col-auto">
    {% include '_part/ui-kit/select.html' %}
  </div>
  <div class="col-auto d-flex flex-column">
    {% include '_part/ui-kit/button.html' %}
  </div>
  <div class="col-auto">
    {% include '_part/ui-kit/search-input.html' %}
  </div>
  <div class="col-auto">
    {% include '_part/ui-kit/call-button.html' %}
  </div>
  <div class="col-auto">
    {% include '_part/ui-kit/icons.html' %}
  </div>
  <div class="section-divider w-100"></div>
  <div class="col-6">
    {% include '_part/ui-kit/header-navbar.html' %}
  </div>
  <div class="col-6">
    {% include '_part/ui-kit/input.html' %}
  </div>
</div>
{% endblock %}

