<div class="navbar bg-white order-navbar flex-nowrap px-4_5 py-4_5 d-none d-lg-flex mx-n4_25 mx-lg-n4_5 border-bottom-light shadow-none">
  <div class="row no-gutters w-100 align-items-center">
    <div class="col-6">
      <div class="btn-group btn-group-toggle btn-group-toggle-light w-100 with-indicator with-indicator-4 row-cols-4" data-toggle="buttons">
        <label class="btn btn-toggle active">
          <input type="radio" name="options" checked>
          Все заказы
        </label>
        <label class="btn btn-toggle">
          <input type="radio" name="options">
          Новые
        </label>
        <label class="btn btn-toggle">
          <input type="radio" name="options">
          В работе
        </label>
        <label class="btn btn-toggle">
          <input type="radio" name="options">
          Выполненные
        </label>
      </div>
    </div>
    <div class="col-3 pl-5_5 pr-3">
      <select class="js-selectpicker selectpicker-light w-100" name="" id="" data-style="btn-light" data-dropup-auto="false">
        <option value="">Выбор 1</option>
        <option value="">Выбор 2</option>
      </select>
    </div>
    <div class="col-3 pl-3">
      <button class="btn btn-outline-primary btn-block">
        <span class="icon mr-4_25"><svg viewBox="0 0 20 20" width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M20 17.738l-5.326-5.326A8 8 0 100 8a8 8 0 0012.412 6.674L17.737 20 20 17.738zM2.267 8.002A5.733 5.733 0 018 2.269a5.733 5.733 0 110 11.466 5.734 5.734 0 01-5.733-5.733z" fill-rule="nonzero"/></svg></span>
        Расширенный поиск
      </button>
    </div>
  </div>
</div>
