<div class="navbar bg-white order-navbar flex-nowrap px-4_5 py-4_5 d-none d-lg-flex mx-n4_25 mx-lg-n4_5 border-bottom-light shadow-none">
  <div class="row no-gutters w-100 align-items-center">
    <div class="col-2 pr-4_5">
      <button class="btn btn-primary btn-block">Создать заказ</button>
    </div>
    <div class="col-4 pl-4_5">
      {% include 'shared/search-input.html' %}
    </div>
  </div>
</div>
