<div class="mx-n4_25 mx-lg-n4_5 bg-white d-none d-md-block d-lg-none">
  <div class="shadow-sm order-table-mobile">
    <table class="table table-hover order-table-mobile">
      <colgroup>
        <col width="56" />
        <col width="auto" />
        <col width="52" />
        <col width="164" />
        <col width="94" />
        <col width="85" />
        <col width="138" />
      </colgroup>
      <tbody>
      <tr class="clickable tr-toggle collapsed" data-toggle="collapse" data-target="#group-of-rows-2" aria-expanded="false" aria-controls="group-of-rows-1">
        <td class="td-toggle-icon text-center">
          <span class="icon icon-plus-circle text-primary"><svg width="10" height="10" xmlns="http://www.w3.org/2000/svg"><g stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><path d="M5 1v8M1 5h8"/></g></svg></span>
        </td>
        <td class="text-truncate">
          <div class="d-flex flex-column w-100 mw-100">
            <div class="text-truncate">«ООО» Цветоптторг</div>
            <div class="text-muted text-truncate">ул. Средне-Московская</div>
          </div>
        </td>
        <td class="text-truncate"><span class="order-status order-status-in-progress">Выполняется</span></td>
        <td class="text-truncate">
          <div class="d-flex flex-column w-100 mw-100">
            <div class="text-truncate">22 сентября 2019</div>
            <div class="text-muted text-truncate">11.00 -14.00</div>
          </div>
        </td>
        <td class="text-truncate"><span class="icon icon-doc"><svg viewBox="0 0 21 25" width="21" height="25" xmlns="http://www.w3.org/2000/svg"><g fill="#2F55ED" fill-rule="nonzero"><path d="M6.878 9.295c.088-.077.16-.203.215-.378.056-.175.083-.414.083-.717s-.027-.535-.083-.698a.88.88 0 00-.232-.378.78.78 0 00-.378-.184c-.114-.025-.338-.038-.67-.038h-.37v2.593h.611c.228 0 .393-.013.494-.038a.764.764 0 00.33-.162zM10.513 9.546c.325 0 .593-.114.802-.34.21-.228.313-.569.313-1.022 0-.449-.101-.784-.304-1.004-.204-.22-.474-.332-.811-.332-.337 0-.608.112-.814.336-.207.223-.31.56-.31 1.01 0 .443.106.78.318 1.008.211.23.48.344.806.344z"/><path d="M18.98 0H2.02C1.13 0 .403.703.403 1.563v21.875c0 .859.727 1.562 1.615 1.562h16.962c.888 0 1.615-.703 1.615-1.563V1.563C20.596.704 19.87 0 18.981 0zm-5.492 6.714c.349-.36.806-.54 1.372-.54.495 0 .897.142 1.207.424.184.168.321.407.414.722l-.809.186a.83.83 0 00-.3-.48.88.88 0 00-.553-.177c-.3 0-.544.105-.73.312-.187.21-.28.546-.28 1.012 0 .496.091.848.276 1.058a.91.91 0 00.718.315.839.839 0 00.56-.2c.156-.134.268-.344.336-.63l.792.243c-.12.427-.323.744-.605.952-.283.208-.642.31-1.075.31-.538 0-.98-.177-1.326-.533-.346-.354-.52-.84-.52-1.456.002-.652.176-1.158.523-1.518zm-4.755.503c.091-.199.218-.378.377-.537.158-.158.333-.276.523-.353a2.29 2.29 0 01.872-.154c.596 0 1.073.18 1.431.537.357.358.536.856.536 1.493 0 .632-.177 1.126-.532 1.483-.355.357-.83.536-1.425.536-.601 0-1.08-.178-1.435-.534-.355-.354-.533-.843-.533-1.467 0-.398.061-.733.186-1.004zM4.627 6.24h1.495c.336 0 .592.025.77.075.237.068.44.187.61.36.169.173.298.384.387.635.089.25.132.559.132.926 0 .322-.042.6-.124.833a1.722 1.722 0 01-.433.691 1.448 1.448 0 01-.574.313c-.181.054-.422.082-.724.082H4.627V6.24zm11.925 13.714H4.448v-.781h12.104v.78zm0-2.767H4.448v-.78h12.104v.78z"/></g></svg></span></td>
        <td class="text-truncate"><span class="icon icon-comment"><svg viewBox="0 0 20 20" width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M18 0H2C.9 0 0 .9 0 2v18l4-4h14c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2z" fill="#BFC1C8" fill-rule="evenodd"/></svg></span></td>
        <td class="text-truncate">Петров О.А.</td>
      </tr>
      </tbody>
      <tbody id="group-of-rows-2" class="tbody-collapse collapse">
      <tr>
        <td></td>
        <td colspan="3">Адрес доставки</td>
        <td colspan="3">ул. Средне-Московская</td>
      </tr>
      <tr>
        <td></td>
        <td colspan="3">Время доставки</td>
        <td colspan="3">11.00 -14.00</td>
      </tr>
      <tr>
        <td></td>
        <td colspan="3">Тип груза</td>
        <td colspan="3">Полиграфия</td>
      </tr>
      <tr>
        <td></td>
        <td colspan="3">Вес груза</td>
        <td colspan="3">Пакет 4кг</td>
      </tr>
      <tr>
        <td></td>
        <td colspan="3">Сумма доставки</td>
        <td colspan="3">111.345 руб.</td>
      </tr>
      <tr>
        <td></td>
        <td colspan="3">Позиция</td>
        <td colspan="3">15</td>
      </tr>
      <tr>
        <td></td>
        <td colspan="3">Оплата</td>
        <td colspan="3">б/н</td>
      </tr>
      <tr>
        <td></td>
        <td colspan="3">Скидка</td>
        <td colspan="3">10%</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="td-button pb-4_25 pt-3" colspan="3">
          <a class="btn btn-primary btn-block" href="">Перейти к заказу</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
