<section class="card ml-auto mr-auto mr-md-0 card-login">
  <div class="card-body px-4_25 px-lg-6 pt-5_25 pb-4_5">
    <div class="card-max-width m-auto">
      <h1 class="h1 mb-5 text-center">Вход в личный кабинет</h1>
      <div class="btn-group btn-group-toggle btn-group-toggle-light w-100 with-indicator with-indicator-3 row-cols-3" data-toggle="buttons">
        <label class="btn btn-toggle">
          <input type="radio" name="options">
          Менеджер
        </label>
        <label class="btn btn-toggle">
          <input type="radio" name="options">
          Клиент
        </label>
        <label class="btn btn-toggle active">
          <input type="radio" name="options" checked>
          Курьер
        </label>
      </div>
      <div class="mt-4_5">
        <input class="form-control" type="text" placeholder="Эл.почта" />
      </div>
      <div class="mt-3">
        <input class="form-control" type="password" placeholder="Пароль" />
      </div>
      <div class="mt-4_5">
        <button class="btn btn-primary btn-block">Войти</button>
      </div>
    </div>
  </div>
  <div class="card-body px-4_25 px-lg-6 pt-4_5 pb-5_25 border-top-light">
    <div class="card-max-width mx-auto">
      <div class="typo-lg text-center">Если вы первый раз на сайте пройдите&nbsp;регистрацию</div>
      <div class="mt-4_5 mb-1">
        <button class="btn btn-outline-primary btn-block">Регистрация</button>
      </div>
    </div>
  </div>
</section>
