<div class="card-group indicator-card-group position-relative d-none d-lg-flex">
  <section class="card indicator-card shadow-sm">
    <div class="card-body py-4">
      <div class="d-flex mb-4 justify-content-between">
        <h6 class="h5 font-weight-normal text-truncate">Средний чек</h6>
        <span class="d-flex">
          <span class="icon indicator-card-icon-minus ml-2 align-bottom"><svg viewBox="0 0 12 12" width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M.667 6l.94.94 3.726-3.72v8.113h1.334V3.22l3.72 3.727.946-.947L6 .667z" fill-rule="evenodd"/></svg></span>
          <span class="indicator-card-percent ml-2">-26%</span>
        </span>
      </div>
      <div class="text-nowrap h1 font-weight-normal indicator-card-price text-success">12 000 ₽</div>
    </div>
  </section>
  <section class="card indicator-card shadow-sm">
    <div class="card-body py-4">
      <div class="d-flex mb-4 justify-content-between">
        <h6 class="h5 font-weight-normal text-truncate">Сумма созданых заказов</h6>
        <span class="d-flex">
          <span class="icon indicator-card-icon-plus ml-2 align-bottom"><svg viewBox="0 0 12 12" width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M.667 6l.94.94 3.726-3.72v8.113h1.334V3.22l3.72 3.727.946-.947L6 .667z" fill-rule="evenodd"/></svg></span>
          <span class="indicator-card-percent ml-2">-26%</span>
        </span>
      </div>
      <div class="text-nowrap h1 font-weight-normal indicator-card-price text-success">12 000 ₽</div>
    </div>
  </section>
  <section class="card indicator-card shadow-sm">
    <div class="card-body py-4">
      <div class="d-flex mb-4 justify-content-between">
        <h6 class="h5 font-weight-normal text-truncate">Выручка</h6>
        <span class="d-flex">
          <span class="icon indicator-card-icon-minus ml-2 align-bottom"><svg viewBox="0 0 12 12" width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M.667 6l.94.94 3.726-3.72v8.113h1.334V3.22l3.72 3.727.946-.947L6 .667z" fill-rule="evenodd"/></svg></span>
          <span class="indicator-card-percent ml-2">-26%</span>
        </span>
      </div>
      <div class="text-nowrap h1 font-weight-normal indicator-card-price text-success">12 000 ₽</div>
    </div>
  </section>
</div>
