<section class="mb-4_5 d-lg-none">
  <h2 class="mb-0 mx-2">Статистика</h2>
  <div class="mt-4">
    <div class="sales-progress my-2">
      <div class="sales-progress-overlay d-flex align-items-center px-4_5"><strong class="title font-weight-normal">Создано заказов</strong><div class="flex-grow-1"></div><span class="sr-only">/</span><span class="number ml-2">10 090</span></div>
      <div class="progress sales-progress-success">
        <div class="progress-bar" role="progressbar" style="width: 44%;" aria-valuenow="44" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <div class="sales-progress my-2">
      <div class="sales-progress-overlay d-flex align-items-center px-4_5"><strong class="title font-weight-normal">Оплачено заказов</strong><div class="flex-grow-1"></div><span class="percent text-muted ml-2">60%</span><span class="sr-only">/</span><span class="number ml-2">6 090</span></div>
      <div class="progress sales-progress-success">
        <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <div class="sales-progress my-2">
      <div class="sales-progress-overlay d-flex align-items-center px-4_5"><strong class="title font-weight-normal">Доставлено заказов</strong><div class="flex-grow-1"></div><span class="percent text-muted ml-2">40%</span><span class="sr-only">/</span><span class="number ml-2">5 090</span></div>
      <div class="progress sales-progress-success">
        <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <div class="sales-progress my-2">
      <div class="sales-progress-overlay d-flex align-items-center px-4_5"><strong class="title font-weight-normal">Отказов</strong><div class="flex-grow-1"></div><span class="percent text-muted ml-2">3%</span><span class="sr-only">/</span><span class="number ml-2">200</span></div>
      <div class="progress sales-progress-failure">
        <div class="progress-bar" role="progressbar" style="width: 3%;" aria-valuenow="3" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
</section>
