<div class="card statistic-card-main mt-4_5">
  <div class="card-group statistic-card-group position-relative d-none d-lg-flex flex-lg-nowrap mw-100 overflow-hidden">
    <section class="card statistic-card">
      <div class="card-body pt-4 pb-4_25">
        <h6 class="mb-5 font-weight-normal d-flex flex-column"><span>Новых</span> <span>клиентов</span></h6>
        <div class="d-flex justify-content-between">
          <div class="h1 font-weight-normal text-nowrap statistic-card-number">5</div>
          <span class="d-flex">
            <span class="icon statistic-card-icon-plus ml-2 align-bottom"><svg viewBox="0 0 12 12" width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M.667 6l.94.94 3.726-3.72v8.113h1.334V3.22l3.72 3.727.946-.947L6 .667z" fill-rule="evenodd"/></svg></span>
            <span class="statistic-card-percent ml-2">26%</span>
          </span>
        </div>
      </div>
    </section>
    <section class="card statistic-card">
      <div class="card-body pt-4 pb-4_25">
        <h6 class="mb-5 font-weight-normal d-flex flex-column"><span>Создано</span> <span>заказов</span></h6>
        <div class="d-flex justify-content-between align-items-end">
          <div class="h1 font-weight-normal text-nowrap statistic-card-number">5</div>
          <span class="d-flex">
            <span class="icon statistic-card-icon-plus ml-2 align-bottom"><svg viewBox="0 0 12 12" width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M.667 6l.94.94 3.726-3.72v8.113h1.334V3.22l3.72 3.727.946-.947L6 .667z" fill-rule="evenodd"/></svg></span>
            <span class="statistic-card-percent ml-2">26%</span>
          </span>
        </div>
      </div>
    </section>
    <section class="card statistic-card">
      <div class="card-body pt-4 pb-4_25">
        <h6 class="mb-5 font-weight-normal d-flex flex-column"><span>Оплачено</span> <span>заказов</span></h6>
        <div class="d-flex justify-content-between align-items-end">
          <div class="h1 font-weight-normal text-nowrap statistic-card-number">5</div>
          <span class="d-flex">
            <span class="icon statistic-card-icon-plus ml-2 align-bottom"><svg viewBox="0 0 12 12" width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M.667 6l.94.94 3.726-3.72v8.113h1.334V3.22l3.72 3.727.946-.947L6 .667z" fill-rule="evenodd"/></svg></span>
            <span class="statistic-card-percent ml-2">26%</span>
          </span>
        </div>
      </div>
    </section>
    <section class="card statistic-card">
      <div class="card-body pt-4 pb-4_25">
        <h6 class="mb-5 font-weight-normal d-flex flex-column"><span>Отправлено</span> <span>заказов</span></h6>
        <div class="d-flex justify-content-between align-items-end">
          <div class="h1 font-weight-normal text-nowrap statistic-card-number">5</div>
          <span class="d-flex">
            <span class="icon statistic-card-icon-plus ml-2 align-bottom"><svg viewBox="0 0 12 12" width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M.667 6l.94.94 3.726-3.72v8.113h1.334V3.22l3.72 3.727.946-.947L6 .667z" fill-rule="evenodd"/></svg></span>
            <span class="statistic-card-percent ml-2">26%</span>
          </span>
        </div>
      </div>
    </section>
    <section class="card statistic-card">
      <div class="card-body pt-4 pb-4_25">
        <h6 class="mb-5 font-weight-normal d-flex flex-column"><span>Доставлено</span> <span>заказов</span></h6>
        <div class="d-flex justify-content-between align-items-end">
          <div class="h1 font-weight-normal text-nowrap statistic-card-number">5</div>
          <span class="d-flex">
            <span class="icon statistic-card-icon-plus ml-2 align-bottom"><svg viewBox="0 0 12 12" width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M.667 6l.94.94 3.726-3.72v8.113h1.334V3.22l3.72 3.727.946-.947L6 .667z" fill-rule="evenodd"/></svg></span>
            <span class="statistic-card-percent ml-2">26%</span>
          </span>
        </div>
      </div>
    </section>
    <section class="card statistic-card">
      <div class="card-body pt-4 pb-4_25">
        <h6 class="mb-5 font-weight-normal d-flex flex-column"><span>Не оплачено</span> <span>заказов</span></h6>
        <div class="d-flex justify-content-between align-items-end">
          <div class="h1 font-weight-normal text-nowrap statistic-card-number">5</div>
          <span class="d-flex">
            <span class="icon statistic-card-icon-plus ml-2 align-bottom"><svg viewBox="0 0 12 12" width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M.667 6l.94.94 3.726-3.72v8.113h1.334V3.22l3.72 3.727.946-.947L6 .667z" fill-rule="evenodd"/></svg></span>
            <span class="statistic-card-percent ml-2">26%</span>
          </span>
        </div>
      </div>
    </section>
    <section class="card statistic-card">
      <div class="card-body pt-4 pb-4_25">
        <h6 class="mb-5 font-weight-normal d-flex flex-column"><span>Не доставлено</span> заказов</span></h6>
        <div class="d-flex justify-content-between align-items-end">
          <div class="h1 font-weight-normal text-nowrap statistic-card-number">5</div>
          <span class="d-flex">
            <span class="icon statistic-card-icon-plus ml-2 align-bottom"><svg viewBox="0 0 12 12" width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M.667 6l.94.94 3.726-3.72v8.113h1.334V3.22l3.72 3.727.946-.947L6 .667z" fill-rule="evenodd"/></svg></span>
            <span class="statistic-card-percent ml-2">26%</span>
          </span>
        </div>
      </div>
    </section>
  </div>
  {% include '_part/dashboard/statistics-chart-card.html' %}
</div>
