<section class="card client-info-card-main mx-n4_25 mx-lg-n4_5 rounded-0">
  <header class="card-header p-4_25 p-lg-4_5">
    <h2 class="h1 m-0">
      Персональные данные
    </h2>
  </header>
  <div>
    <div class="mt-n2 mt-lg-0"></div>
    <div class="profile-info-layout">
      {% include '_part/dashboard-6/profile-card-01.html' %}
      {% include '_part/dashboard-6/profile-card-02.html' %}
      {% include '_part/dashboard-6/profile-card-03.html' %}
    </div>
    <div class="card-footer p-4_25 p-lg-4_5 d-lg-none">
      <div class="row">
        <div class="col-12 col-sm-6 mx-auto">
          <button class="btn btn-primary btn-block">Сохранить</button>
        </div>
      </div>
    </div>
  </div>
</section>
