<section class="card client-info-card-main mx-n4_25 mx-lg-n4_5 rounded-0">
  <header class="card-header p-4_25 p-lg-4_5">
    <h2 class="h1 m-0">
      Персональные данные
    </h2>
  </header>
  <div>
    <div class="mt-n2 mt-lg-0"></div>
    <div class="profile-info-layout">
      <section class="card rounded-0">
  <div class="card-body p-4_25 p-lg-4_5">
    <div class="d-flex flex-wrap row-cols-1 row-cols-sm-2 row-cols-lg-1">
      <div class="pr-sm-4_25 pr-lg-0">
        <div class="form-group">
          <label class="ml-2" for="">Имя</label>
          <input class="form-control form-control-light" type="text" placeholder="Ольга">
        </div>
        <div class="form-group">
          <label class="ml-2 " for="">Фамилия</label>
          <input class="form-control form-control-light" type="text" placeholder="Иванова">
        </div>
        <div class="form-group">
          <label class="ml-2 " for="">Телефон</label>
          <input class="form-control form-control-light" type="text" placeholder="8 (921) 123-32-21">
        </div>
      </div>
      <div class="pl-sm-4_25 pl-lg-0">
        <div class="form-group mb-0">
          <label class="ml-2 " for="">Email</label>
          <input class="form-control form-control-light" type="text" placeholder="email@info.com">
        </div>
        <div class="pt-2 d-flex flex-wrap row-cols-lg-2">
          <div class="w-100 mw-100">
            <button class="btn btn-outline-primary mt-4 btn-block min-w-260px">Сбросить пароль</button>
            <button class="btn btn-outline-danger mt-4 btn-block min-w-260px">Удалить пользователя</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

      <section class="card rounded-0">
  <div class="card-body p-4_25 p-lg-4_5">
    <div class="form-group">
      <label class="ml-2 " for="">Отдел</label>
      <div>
        <select class="selectpicker w-100 --light" name="" id="" data-style="btn-light" data-dropup-auto="false">
          <option value="" disabled selected hidden>Отдел продаж</option>
          <option value="">Отдел 1</option>
        </select>
      </div>
    </div>
    <div class="mb-0">
      <strong class="form-title">План продаж:</strong>
      <div class="plan-progress position-relative">
        <div class="progress-overlay d-flex align-items-center px-4_5 text-white"><strong class="title">Выполнено</strong><span class="percent">&nbsp;80%</span></div>
        <div class="progress progress-height-2">
          <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <ul class="list-unstyled typo-lg pt-2 mb-0">
        <li class="mt-4"><strong class="text-muted mr-2 ">Период:</strong><span class="text-nowrap">до 30.05.2019</span></li>
        <li class="mt-4"><strong class="text-muted mr-2">Сумма продаж:</strong><span class="text-nowrap">1 000 000 руб.</span></li>
      </ul>
    </div>
  </div>
</section>

      <section class="card rounded-0">
  <div class="card-body p-4_25 p-lg-4_5">
    <h4 class="mb-0">Уведомления</h4>
    <div class="d-inline-flex flex-column pt-2">
      <label class="custom-control custom-checkbox mt-4">
        <input type="checkbox" class="custom-control-input" id="" checked>
        <span class="custom-control-label" for="">Получать уведомления о новых заказах на Email</span>
      </label>
      <label class="custom-control custom-checkbox mt-4">
        <input type="checkbox" class="custom-control-input" id="">
        <span class="custom-control-label" for="">Получать уведомления о новых заказах по SMS</span>
      </label>
    </div>
  </div>
</section>

    </div>
    <div class="card-footer p-4_25 p-lg-4_5 d-lg-none">
      <div class="row">
        <div class="col-12 col-sm-6 mx-auto">
          <button class="btn btn-primary btn-block">Сохранить</button>
        </div>
      </div>
    </div>
  </div>
</section>
