<section class="card rounded-0">
  <div class="card-body p-4_25 p-lg-4_5">
    <div class="form-group">
      <label class="ml-2 " for="">Отдел</label>
      <div>
        <select class="selectpicker w-100 --light" name="" id="" data-style="btn-light" data-dropup-auto="false">
          <option value="" disabled selected hidden>Отдел продаж</option>
          <option value="">Отдел 1</option>
        </select>
      </div>
    </div>
    <div class="mb-0">
      <strong class="form-title">План продаж:</strong>
      <div class="plan-progress position-relative">
        <div class="progress-overlay d-flex align-items-center px-4_5 text-white"><strong class="title">Выполнено</strong><span class="percent">&nbsp;80%</span></div>
        <div class="progress progress-height-2">
          <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <ul class="list-unstyled typo-lg pt-2 mb-0">
        <li class="mt-4"><strong class="text-muted mr-2 ">Период:</strong><span class="text-nowrap">до 30.05.2019</span></li>
        <li class="mt-4"><strong class="text-muted mr-2">Сумма продаж:</strong><span class="text-nowrap">1 000 000 руб.</span></li>
      </ul>
    </div>
  </div>
</section>
