<section class="card rounded-0">
  <div class="card-body p-4_25 p-lg-4_5">
    <div class="d-flex flex-wrap row-cols-1 row-cols-sm-2 row-cols-lg-1">
      <div class="pr-sm-4_25 pr-lg-0">
        <div class="form-group">
          <label class="ml-2" for="">Имя</label>
          <input class="form-control form-control-light" type="text" placeholder="Ольга">
        </div>
        <div class="form-group">
          <label class="ml-2 " for="">Фамилия</label>
          <input class="form-control form-control-light" type="text" placeholder="Иванова">
        </div>
        <div class="form-group">
          <label class="ml-2 " for="">Телефон</label>
          <input class="form-control form-control-light" type="text" placeholder="8 (921) 123-32-21">
        </div>
      </div>
      <div class="pl-sm-4_25 pl-lg-0">
        <div class="form-group mb-0">
          <label class="ml-2 " for="">Email</label>
          <input class="form-control form-control-light" type="text" placeholder="email@info.com">
        </div>
        <div class="pt-2 d-flex flex-wrap row-cols-lg-2">
          <div class="w-100 mw-100">
            <button class="btn btn-outline-primary mt-4 btn-block min-w-260px">Сбросить пароль</button>
            <button class="btn btn-outline-danger mt-4 btn-block min-w-260px">Удалить пользователя</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
