<section class="card rounded-0">
  <div class="card-body p-4_25 p-lg-4_5">
    <h4 class="mb-0">Уведомления</h4>
    <div class="d-inline-flex flex-column pt-2">
      <label class="custom-control custom-checkbox mt-4">
        <input type="checkbox" class="custom-control-input" id="" checked>
        <span class="custom-control-label" for="">Получать уведомления о новых заказах на Email</span>
      </label>
      <label class="custom-control custom-checkbox mt-4">
        <input type="checkbox" class="custom-control-input" id="">
        <span class="custom-control-label" for="">Получать уведомления о новых заказах по SMS</span>
      </label>
    </div>
  </div>
</section>
