<button class="btn btn-primary mb-3"><span class="icon icon-arrow-up mr-4 btn-icon"><svg viewBox="0 0 16 16" width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M0 8l1.41 1.41L7 3.83V16h2V3.83l5.58 5.59L16 8 8 0z" fill-rule="evenodd"/></svg></span>Импортировать из Excel</button>
<button class="btn btn-primary disabled mb-3"><span class="icon icon-arrow-up mr-4 btn-icon"><svg viewBox="0 0 16 16" width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M0 8l1.41 1.41L7 3.83V16h2V3.83l5.58 5.59L16 8 8 0z" fill-rule="evenodd"/></svg></span>Импортировать из Excel</button>
<button class="btn btn-primary mb-3"><span class="icon icon-preloader mr-4 btn-icon"><svg viewBox="0 0 18 18" width="18" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M9 17a8 8 0 10-8-8" stroke-width="2" fill="none" fill-rule="evenodd"/></svg></span>Импортировать из Excel</button>
<button class="btn btn-primary disabled mb-3"><span class="icon icon-preloader mr-4 btn-icon"><svg viewBox="0 0 18 18" width="18" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M9 17a8 8 0 10-8-8" stroke-width="2" fill="none" fill-rule="evenodd"/></svg></span>Импортировать из Excel</button>
