<label class="custom-control custom-checkbox m-3">
  <input type="checkbox" class="custom-control-input">
  <span class="custom-control-label"></span>
</label>
<label class="custom-control custom-checkbox m-3">
  <input type="checkbox" class="custom-control-input" checked>
  <span class="custom-control-label"></span>
</label>
<label class="custom-control custom-checkbox m-3">
  <input type="checkbox" class="custom-control-input" checked disabled>
  <span class="custom-control-label"></span>
</label>
<label class="custom-control custom-checkbox m-3">
  <input type="checkbox" class="custom-control-input" disabled>
  <span class="custom-control-label"></span>
</label>
