<label class="custom-control custom-checkbox m-3">
  <input type="checkbox" class="custom-control-input" id="checkbox-05">
  <span class="custom-control-label" for="checkbox-05"></span>
</label>
<label class="custom-control custom-checkbox m-3">
  <input type="checkbox" class="custom-control-input js-indeterminate" id="checkbox-06" checked>
  <span class="custom-control-label" for="checkbox-06"></span>
</label>
<label class="custom-control custom-checkbox m-3">
  <input type="checkbox" class="custom-control-input js-indeterminate" id="checkbox-07" checked disabled>
  <span class="custom-control-label" for="checkbox-07"></span>
</label>
<label class="custom-control custom-checkbox m-3">
  <input type="checkbox" class="custom-control-input" id="checkbox-08" disabled>
  <span class="custom-control-label" for="checkbox-08"></span>
</label>
