<div class="navbar bg-white navbar-light flex-row flex-nowrap shadow-sm header-navbar py-4 pl-0 pr-4_5">
  <div class="navbar-nav-scroll">
    <div class="nav navbar-nav flex-row flex-nowrap px-2">
      <a class="nav-link px-4 py-2 active" href="">Сегодня</a>
      <a class="nav-link px-4 py-2" href="">Вчера</a>
      <a class="nav-link px-4 py-2" href="">Неделя</a>
      <a class="nav-link px-4 py-2" href="">Месяц</a>
      <a class="nav-link px-4 py-2" href="">Квартал</a>
      <a class="nav-link px-4 py-2" href="">Год</a>
    </div>
  </div>
</div>
