<div class="text-gray my-3">
  <span class="icon"><svg viewBox="0 0 14 17" width="14" height="17" xmlns="http://www.w3.org/2000/svg"><path d="M14 6h-4V0H4v6H0l7 7 7-7zM0 15v2h14v-2H0z" fill-rule="evenodd"/></svg></span>
  <span class="icon"><svg viewBox="0 0 14 18" width="14" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M1 16c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V4H1v12zM14 1h-3.5l-1-1h-5l-1 1H0v2h14V1z" fill-rule="evenodd"/></svg></span>
  <span class="icon"><svg viewBox="0 0 20 20" width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M18 0H2C.9 0 0 .9 0 2v18l4-4h14c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2z" fill-rule="evenodd"/></svg></span>
  <span class="icon"><svg viewBox="0 0 16 16" width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M16 8l-1.41-1.41L9 12.17V0H7v12.17L1.42 6.58 0 8l8 8z" fill-rule="evenodd"/></svg></span>
  <span class="icon"><svg viewBox="0 0 16 20" width="16" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M2 0C.9 0 .01.9.01 2L0 18c0 1.1.89 2 1.99 2H14c1.1 0 2-.9 2-2V6l-6-6H2zm7 7V1.5L14.5 7H9z" fill-rule="evenodd"/></svg></span>
  <span class="icon"><svg viewBox="0 0 20 16" width="20" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M18 0H2C.9 0 .01.9.01 2L0 14c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V2l8 5 8-5v2z" fill-rule="evenodd"/></svg></span>
  <span class="icon"><svg viewBox="0 0 18 18" width="18" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M3.62 7.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V17c0 .55-.45 1-1 1C7.61 18 0 10.39 0 1c0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z" fill-rule="evenodd"/></svg></span>
  <span class="icon"><svg viewBox="0 0 16 16" width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M0 8l1.41 1.41L7 3.83V16h2V3.83l5.58 5.59L16 8 8 0z" fill-rule="evenodd"/></svg></span>
  <span class="icon"><svg viewBox="0 0 18 18" width="18" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M9 17a8 8 0 10-8-8" stroke="#000" stroke-width="2" fill="none" fill-rule="evenodd"/></svg></span>
  <span class="icon"><svg viewBox="0 0 20 20" width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M20 17.738l-5.326-5.326A8 8 0 100 8a8 8 0 0012.412 6.674L17.737 20 20 17.738zM2.267 8.002A5.733 5.733 0 018 2.269a5.733 5.733 0 110 11.466 5.734 5.734 0 01-5.733-5.733z" fill-rule="nonzero"/></svg></span>
  <span class="icon"><svg viewBox="0 0 14 14" width="14" height="14" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14 1.41L12.59 0 7 5.59 1.41 0 0 1.41 5.59 7 0 12.59 1.41 14 7 8.41 12.59 14 14 12.59 8.41 7 14 1.41z"/></svg></span>
  <span class="icon"><svg viewBox="0 0 14 20" width="14" height="20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7 0C3.13 0 0 3.13 0 7c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 010-5 2.5 2.5 0 010 5z"/></svg></span>
  <span class="icon icon-attach"><svg viewBox="0 0 22 23" width="22" height="23" xmlns="http://www.w3.org/2000/svg"><path d="M20.44 11.05l-9.19 9.19a6.003 6.003 0 11-8.49-8.49l9.19-9.19a4.002 4.002 0 115.66 5.66l-9.2 9.19a2.001 2.001 0 11-2.83-2.83l8.49-8.48" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg></span>
  <span class="icon icon-arrow-right"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 0L6.59 1.41 12.17 7H0v2h12.17l-5.58 5.59L8 16l8-8-8-8z"/></svg></span>
</div>

<div class="text-primary my-3">
  <span class="icon"><svg viewBox="0 0 14 17" width="14" height="17" xmlns="http://www.w3.org/2000/svg"><path d="M14 6h-4V0H4v6H0l7 7 7-7zM0 15v2h14v-2H0z" fill-rule="evenodd"/></svg></span>
  <span class="icon"><svg viewBox="0 0 14 18" width="14" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M1 16c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V4H1v12zM14 1h-3.5l-1-1h-5l-1 1H0v2h14V1z" fill-rule="evenodd"/></svg></span>
  <span class="icon"><svg viewBox="0 0 20 20" width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M18 0H2C.9 0 0 .9 0 2v18l4-4h14c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2z" fill-rule="evenodd"/></svg></span>
  <span class="icon"><svg viewBox="0 0 16 16" width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M16 8l-1.41-1.41L9 12.17V0H7v12.17L1.42 6.58 0 8l8 8z" fill-rule="evenodd"/></svg></span>
  <span class="icon"><svg viewBox="0 0 16 20" width="16" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M2 0C.9 0 .01.9.01 2L0 18c0 1.1.89 2 1.99 2H14c1.1 0 2-.9 2-2V6l-6-6H2zm7 7V1.5L14.5 7H9z" fill-rule="evenodd"/></svg></span>
  <span class="icon"><svg viewBox="0 0 20 16" width="20" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M18 0H2C.9 0 .01.9.01 2L0 14c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V2l8 5 8-5v2z" fill-rule="evenodd"/></svg></span>
  <span class="icon"><svg viewBox="0 0 18 18" width="18" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M3.62 7.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V17c0 .55-.45 1-1 1C7.61 18 0 10.39 0 1c0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z" fill-rule="evenodd"/></svg></span>
  <span class="icon"><svg viewBox="0 0 16 16" width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M0 8l1.41 1.41L7 3.83V16h2V3.83l5.58 5.59L16 8 8 0z" fill-rule="evenodd"/></svg></span>
  <span class="icon"><svg viewBox="0 0 18 18" width="18" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M9 17a8 8 0 10-8-8" stroke="#000" stroke-width="2" fill="none" fill-rule="evenodd"/></svg></span>
  <span class="icon"><svg viewBox="0 0 20 20" width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M20 17.738l-5.326-5.326A8 8 0 100 8a8 8 0 0012.412 6.674L17.737 20 20 17.738zM2.267 8.002A5.733 5.733 0 018 2.269a5.733 5.733 0 110 11.466 5.734 5.734 0 01-5.733-5.733z" fill-rule="nonzero"/></svg></span>
  <span class="icon"><svg viewBox="0 0 14 14" width="14" height="14" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14 1.41L12.59 0 7 5.59 1.41 0 0 1.41 5.59 7 0 12.59 1.41 14 7 8.41 12.59 14 14 12.59 8.41 7 14 1.41z"/></svg></span>
  <span class="icon"><svg viewBox="0 0 14 20" width="14" height="20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7 0C3.13 0 0 3.13 0 7c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 010-5 2.5 2.5 0 010 5z"/></svg></span>
  <span class="icon icon-attach"><svg viewBox="0 0 22 23" width="22" height="23" xmlns="http://www.w3.org/2000/svg"><path d="M20.44 11.05l-9.19 9.19a6.003 6.003 0 11-8.49-8.49l9.19-9.19a4.002 4.002 0 115.66 5.66l-9.2 9.19a2.001 2.001 0 11-2.83-2.83l8.49-8.48" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg></span>
  <span class="icon icon-arrow-right"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 0L6.59 1.41 12.17 7H0v2h12.17l-5.58 5.59L8 16l8-8-8-8z"/></svg></span>
</div>

<div class="text-danger my-3">
  <span class="icon"><svg viewBox="0 0 14 17" width="14" height="17" xmlns="http://www.w3.org/2000/svg"><path d="M14 6h-4V0H4v6H0l7 7 7-7zM0 15v2h14v-2H0z" fill-rule="evenodd"/></svg></span>
  <span class="icon"><svg viewBox="0 0 14 18" width="14" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M1 16c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V4H1v12zM14 1h-3.5l-1-1h-5l-1 1H0v2h14V1z" fill-rule="evenodd"/></svg></span>
  <span class="icon"><svg viewBox="0 0 20 20" width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M18 0H2C.9 0 0 .9 0 2v18l4-4h14c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2z" fill-rule="evenodd"/></svg></span>
  <span class="icon"><svg viewBox="0 0 16 16" width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M16 8l-1.41-1.41L9 12.17V0H7v12.17L1.42 6.58 0 8l8 8z" fill-rule="evenodd"/></svg></span>
  <span class="icon"><svg viewBox="0 0 16 20" width="16" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M2 0C.9 0 .01.9.01 2L0 18c0 1.1.89 2 1.99 2H14c1.1 0 2-.9 2-2V6l-6-6H2zm7 7V1.5L14.5 7H9z" fill-rule="evenodd"/></svg></span>
  <span class="icon"><svg viewBox="0 0 20 16" width="20" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M18 0H2C.9 0 .01.9.01 2L0 14c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V2l8 5 8-5v2z" fill-rule="evenodd"/></svg></span>
  <span class="icon"><svg viewBox="0 0 18 18" width="18" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M3.62 7.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V17c0 .55-.45 1-1 1C7.61 18 0 10.39 0 1c0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z" fill-rule="evenodd"/></svg></span>
  <span class="icon"><svg viewBox="0 0 16 16" width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M0 8l1.41 1.41L7 3.83V16h2V3.83l5.58 5.59L16 8 8 0z" fill-rule="evenodd"/></svg></span>
  <span class="icon"><svg viewBox="0 0 18 18" width="18" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M9 17a8 8 0 10-8-8" stroke="#000" stroke-width="2" fill="none" fill-rule="evenodd"/></svg></span>
  <span class="icon"><svg viewBox="0 0 20 20" width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M20 17.738l-5.326-5.326A8 8 0 100 8a8 8 0 0012.412 6.674L17.737 20 20 17.738zM2.267 8.002A5.733 5.733 0 018 2.269a5.733 5.733 0 110 11.466 5.734 5.734 0 01-5.733-5.733z" fill-rule="nonzero"/></svg></span>
  <span class="icon"><svg viewBox="0 0 14 14" width="14" height="14" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14 1.41L12.59 0 7 5.59 1.41 0 0 1.41 5.59 7 0 12.59 1.41 14 7 8.41 12.59 14 14 12.59 8.41 7 14 1.41z"/></svg></span>
  <span class="icon"><svg viewBox="0 0 14 20" width="14" height="20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7 0C3.13 0 0 3.13 0 7c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 010-5 2.5 2.5 0 010 5z"/></svg></span>
  <span class="icon icon-attach"><svg viewBox="0 0 22 23" width="22" height="23" xmlns="http://www.w3.org/2000/svg"><path d="M20.44 11.05l-9.19 9.19a6.003 6.003 0 11-8.49-8.49l9.19-9.19a4.002 4.002 0 115.66 5.66l-9.2 9.19a2.001 2.001 0 11-2.83-2.83l8.49-8.48" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg></span>
  <span class="icon icon-arrow-right"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 0L6.59 1.41 12.17 7H0v2h12.17l-5.58 5.59L8 16l8-8-8-8z"/></svg></span>
</div>


