<div class="form-group mb-5_25">
  <label class="ml-2" for="">Представитель</label>
  <input type="text" class="form-control" id="" value="Иванова Ольга">
</div>
<div class="form-group mb-5_25">
  <label class="ml-2" for="">Представитель</label>
  <input type="text" class="form-control is-invalid" id="" value="Иванова Ольга">
</div>
<div class="form-group mb-5_25">
  <label class="ml-2" for="">Представитель</label>
  <input type="text" class="form-control" id="" value="Иванова Ольга" disabled>
</div>
