<div class="dialog-sidebar d-none d-sm-flex flex-sm-column overflow-hidden swiper-slide" uk-height-viewport="offset-top: 80">
  <div class="dialog-sidebar-wrapper h-100">
    <div class="list-group-item list-group-item-action dialog-list-group-item d-flex align-items-center px-4_25 px-lg-4_5 py-4 rounded-0 border-0 active">
  <div class="primary-content flex-grow-1">
    <div class="avatar-wrapper float-left mr-4 position-relative" data-badge="1">
      <img class="avatar rounded-pill" src="images/avatar.png" width="44" height="44">
    </div>
    <div class="d-flex flex-column">
      <h5 class="mb-0 font-weight-medium d-flex align-items-center mt-1">
        <span class="text-truncate">Иван Новиков</span>
      </h5>
      <div class="mt-1 text-truncate text">Спасибо</div>
    </div>
  </div>
  <div class="secondary-content d-flex justify-content-end align-self-end">
    <small class="typo-xs font-weight-medium time ml-4 mb-1">15:34</small>
  </div>
</div>
<div class="list-group-item list-group-item-action dialog-list-group-item d-flex align-items-center px-4_25 px-lg-4_5 py-4 rounded-0 border-0">
  <div class="primary-content flex-grow-1">
    <div class="avatar-wrapper float-left mr-4 position-relative" data-badge="2">
      <img class="avatar rounded-pill" src="images/avatar.png" width="44" height="44">
    </div>
    <div class="d-flex flex-column">
      <h5 class="mb-0 font-weight-medium d-flex align-items-center mt-1">
        <span class="text-truncate">Сергей Наумовввввввввв</span>
        <i class="icon icon-online ml-1 mr-n3"></i>
      </h5>
      <div class="mt-1 text-truncate text">Заказ доставил Заказ доставил Заказ доставил</div>
    </div>
  </div>
  <div class="secondary-content d-flex justify-content-end align-self-end">
    <small class="typo-xs font-weight-medium time ml-4 mb-1">14:38</small>
  </div>
</div>
<div class="list-group-item list-group-item-action dialog-list-group-item d-flex align-items-center px-4_25 px-lg-4_5 py-4 rounded-0 border-0">
  <div class="primary-content flex-grow-1">
    <div class="avatar-wrapper float-left mr-4 position-relative">
      <img class="avatar rounded-pill" src="images/avatar.png" width="44" height="44">
    </div>
    <div class="d-flex flex-column">
      <h5 class="mb-0 font-weight-medium d-flex align-items-center mt-1">
        <span class="text-truncate">Анна Пахомова</span>
      </h5>
      <div class="mt-1 text-truncate text">Хорошо, сегодня сделаю!</div>
    </div>
  </div>
  <div class="secondary-content d-flex justify-content-end align-self-end">
    <small class="typo-xs font-weight-medium time ml-4 mb-1">22:04</small>
  </div>
</div>
<div class="list-group-item list-group-item-action dialog-list-group-item d-flex align-items-center px-4_25 px-lg-4_5 py-4 rounded-0 border-0">
  <div class="primary-content flex-grow-1">
    <div class="avatar-wrapper float-left mr-4 position-relative">
      <img class="avatar rounded-pill" src="images/avatar.png" width="44" height="44">
    </div>
    <div class="d-flex flex-column">
      <h5 class="mb-0 font-weight-medium d-flex align-items-center mt-1">
        <span class="text-truncate">Александра Кравчук</span>
      </h5>
      <div class="mt-1 text-truncate text"><span class="mr-2 myself-title">Вы:</span>Спасибо</div>
    </div>
  </div>
  <div class="secondary-content d-flex justify-content-end align-self-end">
    <small class="typo-xs font-weight-medium time ml-4 mb-1">15:34</small>
  </div>
</div><div class="list-group-item list-group-item-action dialog-list-group-item d-flex align-items-center px-4_25 px-lg-4_5 py-4 rounded-0 border-0">
  <div class="primary-content flex-grow-1">
    <div class="avatar-wrapper float-left mr-4 position-relative">
      <img class="avatar rounded-pill" src="images/avatar.png" width="44" height="44">
    </div>
    <div class="d-flex flex-column">
      <h5 class="mb-0 font-weight-medium d-flex align-items-center mt-1">
        <span class="text-truncate">Александра Кравчук</span>
      </h5>
      <div class="mt-1 text-truncate text"><span class="mr-2 myself-title">Вы:</span>Спасибо</div>
    </div>
  </div>
  <div class="secondary-content d-flex justify-content-end align-self-end">
    <small class="typo-xs font-weight-medium time ml-4 mb-1">15:34</small>
  </div>
</div><div class="list-group-item list-group-item-action dialog-list-group-item d-flex align-items-center px-4_25 px-lg-4_5 py-4 rounded-0 border-0">
  <div class="primary-content flex-grow-1">
    <div class="avatar-wrapper float-left mr-4 position-relative">
      <img class="avatar rounded-pill" src="images/avatar.png" width="44" height="44">
    </div>
    <div class="d-flex flex-column">
      <h5 class="mb-0 font-weight-medium d-flex align-items-center mt-1">
        <span class="text-truncate">Александра Кравчук</span>
      </h5>
      <div class="mt-1 text-truncate text"><span class="mr-2 myself-title">Вы:</span>Спасибо</div>
    </div>
  </div>
  <div class="secondary-content d-flex justify-content-end align-self-end">
    <small class="typo-xs font-weight-medium time ml-4 mb-1">15:34</small>
  </div>
</div><div class="list-group-item list-group-item-action dialog-list-group-item d-flex align-items-center px-4_25 px-lg-4_5 py-4 rounded-0 border-0">
  <div class="primary-content flex-grow-1">
    <div class="avatar-wrapper float-left mr-4 position-relative">
      <img class="avatar rounded-pill" src="images/avatar.png" width="44" height="44">
    </div>
    <div class="d-flex flex-column">
      <h5 class="mb-0 font-weight-medium d-flex align-items-center mt-1">
        <span class="text-truncate">Александра Кравчук</span>
      </h5>
      <div class="mt-1 text-truncate text"><span class="mr-2 myself-title">Вы:</span>Спасибо</div>
    </div>
  </div>
  <div class="secondary-content d-flex justify-content-end align-self-end">
    <small class="typo-xs font-weight-medium time ml-4 mb-1">15:34</small>
  </div>
</div><div class="list-group-item list-group-item-action dialog-list-group-item d-flex align-items-center px-4_25 px-lg-4_5 py-4 rounded-0 border-0">
  <div class="primary-content flex-grow-1">
    <div class="avatar-wrapper float-left mr-4 position-relative">
      <img class="avatar rounded-pill" src="images/avatar.png" width="44" height="44">
    </div>
    <div class="d-flex flex-column">
      <h5 class="mb-0 font-weight-medium d-flex align-items-center mt-1">
        <span class="text-truncate">Александра Кравчук</span>
      </h5>
      <div class="mt-1 text-truncate text"><span class="mr-2 myself-title">Вы:</span>Спасибо</div>
    </div>
  </div>
  <div class="secondary-content d-flex justify-content-end align-self-end">
    <small class="typo-xs font-weight-medium time ml-4 mb-1">15:34</small>
  </div>
</div><div class="list-group-item list-group-item-action dialog-list-group-item d-flex align-items-center px-4_25 px-lg-4_5 py-4 rounded-0 border-0">
  <div class="primary-content flex-grow-1">
    <div class="avatar-wrapper float-left mr-4 position-relative">
      <img class="avatar rounded-pill" src="images/avatar.png" width="44" height="44">
    </div>
    <div class="d-flex flex-column">
      <h5 class="mb-0 font-weight-medium d-flex align-items-center mt-1">
        <span class="text-truncate">Александра Кравчук</span>
      </h5>
      <div class="mt-1 text-truncate text"><span class="mr-2 myself-title">Вы:</span>Спасибо</div>
    </div>
  </div>
  <div class="secondary-content d-flex justify-content-end align-self-end">
    <small class="typo-xs font-weight-medium time ml-4 mb-1">15:34</small>
  </div>
</div><div class="list-group-item list-group-item-action dialog-list-group-item d-flex align-items-center px-4_25 px-lg-4_5 py-4 rounded-0 border-0">
  <div class="primary-content flex-grow-1">
    <div class="avatar-wrapper float-left mr-4 position-relative">
      <img class="avatar rounded-pill" src="images/avatar.png" width="44" height="44">
    </div>
    <div class="d-flex flex-column">
      <h5 class="mb-0 font-weight-medium d-flex align-items-center mt-1">
        <span class="text-truncate">Александра Кравчук</span>
      </h5>
      <div class="mt-1 text-truncate text"><span class="mr-2 myself-title">Вы:</span>Спасибо</div>
    </div>
  </div>
  <div class="secondary-content d-flex justify-content-end align-self-end">
    <small class="typo-xs font-weight-medium time ml-4 mb-1">15:34</small>
  </div>
</div><div class="list-group-item list-group-item-action dialog-list-group-item d-flex align-items-center px-4_25 px-lg-4_5 py-4 rounded-0 border-0">
  <div class="primary-content flex-grow-1">
    <div class="avatar-wrapper float-left mr-4 position-relative">
      <img class="avatar rounded-pill" src="images/avatar.png" width="44" height="44">
    </div>
    <div class="d-flex flex-column">
      <h5 class="mb-0 font-weight-medium d-flex align-items-center mt-1">
        <span class="text-truncate">Александра Кравчук</span>
      </h5>
      <div class="mt-1 text-truncate text"><span class="mr-2 myself-title">Вы:</span>Спасибо</div>
    </div>
  </div>
  <div class="secondary-content d-flex justify-content-end align-self-end">
    <small class="typo-xs font-weight-medium time ml-4 mb-1">15:34</small>
  </div>
</div><div class="list-group-item list-group-item-action dialog-list-group-item d-flex align-items-center px-4_25 px-lg-4_5 py-4 rounded-0 border-0">
  <div class="primary-content flex-grow-1">
    <div class="avatar-wrapper float-left mr-4 position-relative">
      <img class="avatar rounded-pill" src="images/avatar.png" width="44" height="44">
    </div>
    <div class="d-flex flex-column">
      <h5 class="mb-0 font-weight-medium d-flex align-items-center mt-1">
        <span class="text-truncate">Александра Кравчук</span>
      </h5>
      <div class="mt-1 text-truncate text"><span class="mr-2 myself-title">Вы:</span>Спасибо</div>
    </div>
  </div>
  <div class="secondary-content d-flex justify-content-end align-self-end">
    <small class="typo-xs font-weight-medium time ml-4 mb-1">15:34</small>
  </div>
</div><div class="list-group-item list-group-item-action dialog-list-group-item d-flex align-items-center px-4_25 px-lg-4_5 py-4 rounded-0 border-0">
  <div class="primary-content flex-grow-1">
    <div class="avatar-wrapper float-left mr-4 position-relative">
      <img class="avatar rounded-pill" src="images/avatar.png" width="44" height="44">
    </div>
    <div class="d-flex flex-column">
      <h5 class="mb-0 font-weight-medium d-flex align-items-center mt-1">
        <span class="text-truncate">Александра Кравчук</span>
      </h5>
      <div class="mt-1 text-truncate text"><span class="mr-2 myself-title">Вы:</span>Спасибо</div>
    </div>
  </div>
  <div class="secondary-content d-flex justify-content-end align-self-end">
    <small class="typo-xs font-weight-medium time ml-4 mb-1">15:34</small>
  </div>
</div><div class="list-group-item list-group-item-action dialog-list-group-item d-flex align-items-center px-4_25 px-lg-4_5 py-4 rounded-0 border-0">
  <div class="primary-content flex-grow-1">
    <div class="avatar-wrapper float-left mr-4 position-relative">
      <img class="avatar rounded-pill" src="images/avatar.png" width="44" height="44">
    </div>
    <div class="d-flex flex-column">
      <h5 class="mb-0 font-weight-medium d-flex align-items-center mt-1">
        <span class="text-truncate">Александра Кравчук</span>
      </h5>
      <div class="mt-1 text-truncate text"><span class="mr-2 myself-title">Вы:</span>Спасибо</div>
    </div>
  </div>
  <div class="secondary-content d-flex justify-content-end align-self-end">
    <small class="typo-xs font-weight-medium time ml-4 mb-1">15:34</small>
  </div>
</div><div class="list-group-item list-group-item-action dialog-list-group-item d-flex align-items-center px-4_25 px-lg-4_5 py-4 rounded-0 border-0">
  <div class="primary-content flex-grow-1">
    <div class="avatar-wrapper float-left mr-4 position-relative">
      <img class="avatar rounded-pill" src="images/avatar.png" width="44" height="44">
    </div>
    <div class="d-flex flex-column">
      <h5 class="mb-0 font-weight-medium d-flex align-items-center mt-1">
        <span class="text-truncate">Александра Кравчук</span>
      </h5>
      <div class="mt-1 text-truncate text"><span class="mr-2 myself-title">Вы:</span>Спасибо</div>
    </div>
  </div>
  <div class="secondary-content d-flex justify-content-end align-self-end">
    <small class="typo-xs font-weight-medium time ml-4 mb-1">15:34</small>
  </div>
</div><div class="list-group-item list-group-item-action dialog-list-group-item d-flex align-items-center px-4_25 px-lg-4_5 py-4 rounded-0 border-0">
  <div class="primary-content flex-grow-1">
    <div class="avatar-wrapper float-left mr-4 position-relative">
      <img class="avatar rounded-pill" src="images/avatar.png" width="44" height="44">
    </div>
    <div class="d-flex flex-column">
      <h5 class="mb-0 font-weight-medium d-flex align-items-center mt-1">
        <span class="text-truncate">Александра Кравчук</span>
      </h5>
      <div class="mt-1 text-truncate text"><span class="mr-2 myself-title">Вы:</span>Спасибо</div>
    </div>
  </div>
  <div class="secondary-content d-flex justify-content-end align-self-end">
    <small class="typo-xs font-weight-medium time ml-4 mb-1">15:34</small>
  </div>
</div><div class="list-group-item list-group-item-action dialog-list-group-item d-flex align-items-center px-4_25 px-lg-4_5 py-4 rounded-0 border-0">
  <div class="primary-content flex-grow-1">
    <div class="avatar-wrapper float-left mr-4 position-relative">
      <img class="avatar rounded-pill" src="images/avatar.png" width="44" height="44">
    </div>
    <div class="d-flex flex-column">
      <h5 class="mb-0 font-weight-medium d-flex align-items-center mt-1">
        <span class="text-truncate">Александра Кравчук</span>
      </h5>
      <div class="mt-1 text-truncate text"><span class="mr-2 myself-title">Вы:</span>Спасибо</div>
    </div>
  </div>
  <div class="secondary-content d-flex justify-content-end align-self-end">
    <small class="typo-xs font-weight-medium time ml-4 mb-1">15:34</small>
  </div>
</div><div class="list-group-item list-group-item-action dialog-list-group-item d-flex align-items-center px-4_25 px-lg-4_5 py-4 rounded-0 border-0">
  <div class="primary-content flex-grow-1">
    <div class="avatar-wrapper float-left mr-4 position-relative">
      <img class="avatar rounded-pill" src="images/avatar.png" width="44" height="44">
    </div>
    <div class="d-flex flex-column">
      <h5 class="mb-0 font-weight-medium d-flex align-items-center mt-1">
        <span class="text-truncate">Александра Кравчук</span>
      </h5>
      <div class="mt-1 text-truncate text"><span class="mr-2 myself-title">Вы:</span>Спасибо</div>
    </div>
  </div>
  <div class="secondary-content d-flex justify-content-end align-self-end">
    <small class="typo-xs font-weight-medium time ml-4 mb-1">15:34</small>
  </div>
</div><div class="list-group-item list-group-item-action dialog-list-group-item d-flex align-items-center px-4_25 px-lg-4_5 py-4 rounded-0 border-0">
  <div class="primary-content flex-grow-1">
    <div class="avatar-wrapper float-left mr-4 position-relative">
      <img class="avatar rounded-pill" src="images/avatar.png" width="44" height="44">
    </div>
    <div class="d-flex flex-column">
      <h5 class="mb-0 font-weight-medium d-flex align-items-center mt-1">
        <span class="text-truncate">Александра Кравчук</span>
      </h5>
      <div class="mt-1 text-truncate text"><span class="mr-2 myself-title">Вы:</span>Спасибо</div>
    </div>
  </div>
  <div class="secondary-content d-flex justify-content-end align-self-end">
    <small class="typo-xs font-weight-medium time ml-4 mb-1">15:34</small>
  </div>
</div><div class="list-group-item list-group-item-action dialog-list-group-item d-flex align-items-center px-4_25 px-lg-4_5 py-4 rounded-0 border-0">
  <div class="primary-content flex-grow-1">
    <div class="avatar-wrapper float-left mr-4 position-relative">
      <img class="avatar rounded-pill" src="images/avatar.png" width="44" height="44">
    </div>
    <div class="d-flex flex-column">
      <h5 class="mb-0 font-weight-medium d-flex align-items-center mt-1">
        <span class="text-truncate">Александра Кравчук</span>
      </h5>
      <div class="mt-1 text-truncate text"><span class="mr-2 myself-title">Вы:</span>Спасибо</div>
    </div>
  </div>
  <div class="secondary-content d-flex justify-content-end align-self-end">
    <small class="typo-xs font-weight-medium time ml-4 mb-1">15:34</small>
  </div>
</div><div class="list-group-item list-group-item-action dialog-list-group-item d-flex align-items-center px-4_25 px-lg-4_5 py-4 rounded-0 border-0">
  <div class="primary-content flex-grow-1">
    <div class="avatar-wrapper float-left mr-4 position-relative">
      <img class="avatar rounded-pill" src="images/avatar.png" width="44" height="44">
    </div>
    <div class="d-flex flex-column">
      <h5 class="mb-0 font-weight-medium d-flex align-items-center mt-1">
        <span class="text-truncate">Александра Кравчук</span>
      </h5>
      <div class="mt-1 text-truncate text"><span class="mr-2 myself-title">Вы:</span>Спасибо</div>
    </div>
  </div>
  <div class="secondary-content d-flex justify-content-end align-self-end">
    <small class="typo-xs font-weight-medium time ml-4 mb-1">15:34</small>
  </div>
</div><div class="list-group-item list-group-item-action dialog-list-group-item d-flex align-items-center px-4_25 px-lg-4_5 py-4 rounded-0 border-0">
  <div class="primary-content flex-grow-1">
    <div class="avatar-wrapper float-left mr-4 position-relative">
      <img class="avatar rounded-pill" src="images/avatar.png" width="44" height="44">
    </div>
    <div class="d-flex flex-column">
      <h5 class="mb-0 font-weight-medium d-flex align-items-center mt-1">
        <span class="text-truncate">Александра Кравчук</span>
      </h5>
      <div class="mt-1 text-truncate text"><span class="mr-2 myself-title">Вы:</span>Спасибо</div>
    </div>
  </div>
  <div class="secondary-content d-flex justify-content-end align-self-end">
    <small class="typo-xs font-weight-medium time ml-4 mb-1">15:34</small>
  </div>
</div>

  </div>
  <div class="dialog-sidebar-toggler d-lg-none"></div>
</div>
