<div class="dialog-container bg-white flex-grow-1 position-relative swiper-slide" uk-height-viewport="offset-top: 80">
  <div class="d-table w-100 h-100 dialog-table mh-100">
    <div class="d-table-row">
      <div class="position-relative overflow-hidden td-main d-table-cell">
        <div class="dialog-table-wrapper position-absolute">
          <small class="d-block typo-xs text-center my-4_25 dialog-datetime">20 Июля 2019</small>
          <figure class="media dialog-item dialog-item-myself px-4 mb-0 flex-row-reverse my-2 my-lg-0">
  <img class="dialog-item-avatar rounded-pill ml-3 align-self-end position-relative d-none d-sm-inline-block" src="images/avatar.png" width="32" height="32">
  <div class="media-body text-right">
    <div class="typo-lg px-3 py-1_5 dialog-item-bubble d-inline-block font-weight-normal text-left position-relative">
      Я опаздываю на 15 минут
    </div>
    <figcaption class="mt-2 dialog-item-footer">
      <small class="typo-xs dialog-item-footer-text d-block">15:34</small>
    </figcaption>
  </div>
</figure>
<figure class="media dialog-item px-4 mb-0 my-2 my-lg-0">
  <img class="dialog-item-avatar rounded-pill mr-3 align-self-end position-relative d-none d-sm-inline-block" src="images/avatar.png" width="32" height="32">
  <div class="media-body">
    <div class="typo-lg px-3 py-1_5 dialog-item-bubble d-inline-block font-weight-normal position-relative">
      Добрый день, я ваш персональный менеджер Вячеслав. Ничего страшного мы вас обязательно дождемся.
    </div>
    <figcaption class="mt-2 dialog-item-footer">
      <small class="typo-xs dialog-item-footer-text d-block">15:34</small>
    </figcaption>
  </div>
</figure>
<figure class="media dialog-item dialog-item-myself px-4 mb-0 flex-row-reverse my-2 my-lg-0">
  <img class="dialog-item-avatar rounded-pill ml-3 align-self-end position-relative d-none d-sm-inline-block" src="images/avatar.png" width="32" height="32">
  <div class="media-body text-right">
    <div class="typo-lg px-3 py-1_5 dialog-item-bubble d-inline-block font-weight-normal text-left position-relative">
      Спасибо
    </div>
    <figcaption class="mt-2 dialog-item-footer">
      <small class="typo-xs dialog-item-footer-text d-block">Прочитано</small>
    </figcaption>
  </div>
</figure><figure class="media dialog-item px-4 mb-0 my-2 my-lg-0">
  <img class="dialog-item-avatar rounded-pill mr-3 align-self-end position-relative d-none d-sm-inline-block" src="images/avatar.png" width="32" height="32">
  <div class="media-body">
    <div class="typo-lg px-3 py-1_5 dialog-item-bubble d-inline-block font-weight-normal position-relative">
      Добрый день, я ваш персональный менеджер Вячеслав. Ничего страшного мы вас обязательно дождемся.
    </div>
    <figcaption class="mt-2 dialog-item-footer">
      <small class="typo-xs dialog-item-footer-text d-block">15:34</small>
    </figcaption>
  </div>
</figure>
<figure class="media dialog-item dialog-item-myself px-4 mb-0 flex-row-reverse my-2 my-lg-0">
  <img class="dialog-item-avatar rounded-pill ml-3 align-self-end position-relative d-none d-sm-inline-block" src="images/avatar.png" width="32" height="32">
  <div class="media-body text-right">
    <div class="typo-lg px-3 py-1_5 dialog-item-bubble d-inline-block font-weight-normal text-left position-relative">
      Спасибо
    </div>
    <figcaption class="mt-2 dialog-item-footer">
      <small class="typo-xs dialog-item-footer-text d-block">Прочитано</small>
    </figcaption>
  </div>
</figure><figure class="media dialog-item px-4 mb-0 my-2 my-lg-0">
  <img class="dialog-item-avatar rounded-pill mr-3 align-self-end position-relative d-none d-sm-inline-block" src="images/avatar.png" width="32" height="32">
  <div class="media-body">
    <div class="typo-lg px-3 py-1_5 dialog-item-bubble d-inline-block font-weight-normal position-relative">
      Добрый день, я ваш персональный менеджер Вячеслав. Ничего страшного мы вас обязательно дождемся.
    </div>
    <figcaption class="mt-2 dialog-item-footer">
      <small class="typo-xs dialog-item-footer-text d-block">15:34</small>
    </figcaption>
  </div>
</figure>
<figure class="media dialog-item dialog-item-myself px-4 mb-0 flex-row-reverse my-2 my-lg-0">
  <img class="dialog-item-avatar rounded-pill ml-3 align-self-end position-relative d-none d-sm-inline-block" src="images/avatar.png" width="32" height="32">
  <div class="media-body text-right">
    <div class="typo-lg px-3 py-1_5 dialog-item-bubble d-inline-block font-weight-normal text-left position-relative">
      Спасибо
    </div>
    <figcaption class="mt-2 dialog-item-footer">
      <small class="typo-xs dialog-item-footer-text d-block">Прочитано</small>
    </figcaption>
  </div>
</figure><figure class="media dialog-item px-4 mb-0 my-2 my-lg-0">
  <img class="dialog-item-avatar rounded-pill mr-3 align-self-end position-relative d-none d-sm-inline-block" src="images/avatar.png" width="32" height="32">
  <div class="media-body">
    <div class="typo-lg px-3 py-1_5 dialog-item-bubble d-inline-block font-weight-normal position-relative">
      Добрый день, я ваш персональный менеджер Вячеслав. Ничего страшного мы вас обязательно дождемся.
    </div>
    <figcaption class="mt-2 dialog-item-footer">
      <small class="typo-xs dialog-item-footer-text d-block">15:34</small>
    </figcaption>
  </div>
</figure>
<figure class="media dialog-item dialog-item-myself px-4 mb-0 flex-row-reverse my-2 my-lg-0">
  <img class="dialog-item-avatar rounded-pill ml-3 align-self-end position-relative d-none d-sm-inline-block" src="images/avatar.png" width="32" height="32">
  <div class="media-body text-right">
    <div class="typo-lg px-3 py-1_5 dialog-item-bubble d-inline-block font-weight-normal text-left position-relative">
      Спасибо
    </div>
    <figcaption class="mt-2 dialog-item-footer">
      <small class="typo-xs dialog-item-footer-text d-block">Прочитано</small>
    </figcaption>
  </div>
</figure><figure class="media dialog-item px-4 mb-0 my-2 my-lg-0">
  <img class="dialog-item-avatar rounded-pill mr-3 align-self-end position-relative d-none d-sm-inline-block" src="images/avatar.png" width="32" height="32">
  <div class="media-body">
    <div class="typo-lg px-3 py-1_5 dialog-item-bubble d-inline-block font-weight-normal position-relative">
      Добрый день, я ваш персональный менеджер Вячеслав. Ничего страшного мы вас обязательно дождемся.
    </div>
    <figcaption class="mt-2 dialog-item-footer">
      <small class="typo-xs dialog-item-footer-text d-block">15:34</small>
    </figcaption>
  </div>
</figure>
<figure class="media dialog-item dialog-item-myself px-4 mb-0 flex-row-reverse my-2 my-lg-0">
  <img class="dialog-item-avatar rounded-pill ml-3 align-self-end position-relative d-none d-sm-inline-block" src="images/avatar.png" width="32" height="32">
  <div class="media-body text-right">
    <div class="typo-lg px-3 py-1_5 dialog-item-bubble d-inline-block font-weight-normal text-left position-relative">
      Спасибо
    </div>
    <figcaption class="mt-2 dialog-item-footer">
      <small class="typo-xs dialog-item-footer-text d-block">Прочитано</small>
    </figcaption>
  </div>
</figure><figure class="media dialog-item px-4 mb-0 my-2 my-lg-0">
  <img class="dialog-item-avatar rounded-pill mr-3 align-self-end position-relative d-none d-sm-inline-block" src="images/avatar.png" width="32" height="32">
  <div class="media-body">
    <div class="typo-lg px-3 py-1_5 dialog-item-bubble d-inline-block font-weight-normal position-relative">
      Добрый день, я ваш персональный менеджер Вячеслав. Ничего страшного мы вас обязательно дождемся.
    </div>
    <figcaption class="mt-2 dialog-item-footer">
      <small class="typo-xs dialog-item-footer-text d-block">15:34</small>
    </figcaption>
  </div>
</figure>
<figure class="media dialog-item dialog-item-myself px-4 mb-0 flex-row-reverse my-2 my-lg-0">
  <img class="dialog-item-avatar rounded-pill ml-3 align-self-end position-relative d-none d-sm-inline-block" src="images/avatar.png" width="32" height="32">
  <div class="media-body text-right">
    <div class="typo-lg px-3 py-1_5 dialog-item-bubble d-inline-block font-weight-normal text-left position-relative">
      Спасибо
    </div>
    <figcaption class="mt-2 dialog-item-footer">
      <small class="typo-xs dialog-item-footer-text d-block">Прочитано</small>
    </figcaption>
  </div>
</figure><figure class="media dialog-item px-4 mb-0 my-2 my-lg-0">
  <img class="dialog-item-avatar rounded-pill mr-3 align-self-end position-relative d-none d-sm-inline-block" src="images/avatar.png" width="32" height="32">
  <div class="media-body">
    <div class="typo-lg px-3 py-1_5 dialog-item-bubble d-inline-block font-weight-normal position-relative">
      Добрый день, я ваш персональный менеджер Вячеслав. Ничего страшного мы вас обязательно дождемся.
    </div>
    <figcaption class="mt-2 dialog-item-footer">
      <small class="typo-xs dialog-item-footer-text d-block">15:34</small>
    </figcaption>
  </div>
</figure>
<figure class="media dialog-item dialog-item-myself px-4 mb-0 flex-row-reverse my-2 my-lg-0">
  <img class="dialog-item-avatar rounded-pill ml-3 align-self-end position-relative d-none d-sm-inline-block" src="images/avatar.png" width="32" height="32">
  <div class="media-body text-right">
    <div class="typo-lg px-3 py-1_5 dialog-item-bubble d-inline-block font-weight-normal text-left position-relative">
      Спасибо
    </div>
    <figcaption class="mt-2 dialog-item-footer">
      <small class="typo-xs dialog-item-footer-text d-block">Прочитано</small>
    </figcaption>
  </div>
</figure><figure class="media dialog-item px-4 mb-0 my-2 my-lg-0">
  <img class="dialog-item-avatar rounded-pill mr-3 align-self-end position-relative d-none d-sm-inline-block" src="images/avatar.png" width="32" height="32">
  <div class="media-body">
    <div class="typo-lg px-3 py-1_5 dialog-item-bubble d-inline-block font-weight-normal position-relative">
      Добрый день, я ваш персональный менеджер Вячеслав. Ничего страшного мы вас обязательно дождемся.
    </div>
    <figcaption class="mt-2 dialog-item-footer">
      <small class="typo-xs dialog-item-footer-text d-block">15:34</small>
    </figcaption>
  </div>
</figure>
<figure class="media dialog-item dialog-item-myself px-4 mb-0 flex-row-reverse my-2 my-lg-0">
  <img class="dialog-item-avatar rounded-pill ml-3 align-self-end position-relative d-none d-sm-inline-block" src="images/avatar.png" width="32" height="32">
  <div class="media-body text-right">
    <div class="typo-lg px-3 py-1_5 dialog-item-bubble d-inline-block font-weight-normal text-left position-relative">
      Спасибо
    </div>
    <figcaption class="mt-2 dialog-item-footer">
      <small class="typo-xs dialog-item-footer-text d-block">Прочитано</small>
    </figcaption>
  </div>
</figure><figure class="media dialog-item px-4 mb-0 my-2 my-lg-0">
  <img class="dialog-item-avatar rounded-pill mr-3 align-self-end position-relative d-none d-sm-inline-block" src="images/avatar.png" width="32" height="32">
  <div class="media-body">
    <div class="typo-lg px-3 py-1_5 dialog-item-bubble d-inline-block font-weight-normal position-relative">
      Добрый день, я ваш персональный менеджер Вячеслав. Ничего страшного мы вас обязательно дождемся.
    </div>
    <figcaption class="mt-2 dialog-item-footer">
      <small class="typo-xs dialog-item-footer-text d-block">15:34</small>
    </figcaption>
  </div>
</figure>
<figure class="media dialog-item dialog-item-myself px-4 mb-0 flex-row-reverse my-2 my-lg-0">
  <img class="dialog-item-avatar rounded-pill ml-3 align-self-end position-relative d-none d-sm-inline-block" src="images/avatar.png" width="32" height="32">
  <div class="media-body text-right">
    <div class="typo-lg px-3 py-1_5 dialog-item-bubble d-inline-block font-weight-normal text-left position-relative">
      Спасибо
    </div>
    <figcaption class="mt-2 dialog-item-footer">
      <small class="typo-xs dialog-item-footer-text d-block">Прочитано</small>
    </figcaption>
  </div>
</figure><figure class="media dialog-item px-4 mb-0 my-2 my-lg-0">
  <img class="dialog-item-avatar rounded-pill mr-3 align-self-end position-relative d-none d-sm-inline-block" src="images/avatar.png" width="32" height="32">
  <div class="media-body">
    <div class="typo-lg px-3 py-1_5 dialog-item-bubble d-inline-block font-weight-normal position-relative">
      Добрый день, я ваш персональный менеджер Вячеслав. Ничего страшного мы вас обязательно дождемся.
    </div>
    <figcaption class="mt-2 dialog-item-footer">
      <small class="typo-xs dialog-item-footer-text d-block">15:34</small>
    </figcaption>
  </div>
</figure>
<figure class="media dialog-item dialog-item-myself px-4 mb-0 flex-row-reverse my-2 my-lg-0">
  <img class="dialog-item-avatar rounded-pill ml-3 align-self-end position-relative d-none d-sm-inline-block" src="images/avatar.png" width="32" height="32">
  <div class="media-body text-right">
    <div class="typo-lg px-3 py-1_5 dialog-item-bubble d-inline-block font-weight-normal text-left position-relative">
      Спасибо
    </div>
    <figcaption class="mt-2 dialog-item-footer">
      <small class="typo-xs dialog-item-footer-text d-block">Прочитано</small>
    </figcaption>
  </div>
</figure><figure class="media dialog-item px-4 mb-0 my-2 my-lg-0">
  <img class="dialog-item-avatar rounded-pill mr-3 align-self-end position-relative d-none d-sm-inline-block" src="images/avatar.png" width="32" height="32">
  <div class="media-body">
    <div class="typo-lg px-3 py-1_5 dialog-item-bubble d-inline-block font-weight-normal position-relative">
      Добрый день, я ваш персональный менеджер Вячеслав. Ничего страшного мы вас обязательно дождемся.
    </div>
    <figcaption class="mt-2 dialog-item-footer">
      <small class="typo-xs dialog-item-footer-text d-block">15:34</small>
    </figcaption>
  </div>
</figure>
<figure class="media dialog-item dialog-item-myself px-4 mb-0 flex-row-reverse my-2 my-lg-0">
  <img class="dialog-item-avatar rounded-pill ml-3 align-self-end position-relative d-none d-sm-inline-block" src="images/avatar.png" width="32" height="32">
  <div class="media-body text-right">
    <div class="typo-lg px-3 py-1_5 dialog-item-bubble d-inline-block font-weight-normal text-left position-relative">
      Спасибо
    </div>
    <figcaption class="mt-2 dialog-item-footer">
      <small class="typo-xs dialog-item-footer-text d-block">Прочитано</small>
    </figcaption>
  </div>
</figure><figure class="media dialog-item px-4 mb-0 my-2 my-lg-0">
  <img class="dialog-item-avatar rounded-pill mr-3 align-self-end position-relative d-none d-sm-inline-block" src="images/avatar.png" width="32" height="32">
  <div class="media-body">
    <div class="typo-lg px-3 py-1_5 dialog-item-bubble d-inline-block font-weight-normal position-relative">
      Добрый день, я ваш персональный менеджер Вячеслав. Ничего страшного мы вас обязательно дождемся.
    </div>
    <figcaption class="mt-2 dialog-item-footer">
      <small class="typo-xs dialog-item-footer-text d-block">15:34</small>
    </figcaption>
  </div>
</figure>
<figure class="media dialog-item dialog-item-myself px-4 mb-0 flex-row-reverse my-2 my-lg-0">
  <img class="dialog-item-avatar rounded-pill ml-3 align-self-end position-relative d-none d-sm-inline-block" src="images/avatar.png" width="32" height="32">
  <div class="media-body text-right">
    <div class="typo-lg px-3 py-1_5 dialog-item-bubble d-inline-block font-weight-normal text-left position-relative">
      Спасибо
    </div>
    <figcaption class="mt-2 dialog-item-footer">
      <small class="typo-xs dialog-item-footer-text d-block">Прочитано</small>
    </figcaption>
  </div>
</figure><figure class="media dialog-item px-4 mb-0 my-2 my-lg-0">
  <img class="dialog-item-avatar rounded-pill mr-3 align-self-end position-relative d-none d-sm-inline-block" src="images/avatar.png" width="32" height="32">
  <div class="media-body">
    <div class="typo-lg px-3 py-1_5 dialog-item-bubble d-inline-block font-weight-normal position-relative">
      Добрый день, я ваш персональный менеджер Вячеслав. Ничего страшного мы вас обязательно дождемся.
    </div>
    <figcaption class="mt-2 dialog-item-footer">
      <small class="typo-xs dialog-item-footer-text d-block">15:34</small>
    </figcaption>
  </div>
</figure>
<figure class="media dialog-item dialog-item-myself px-4 mb-0 flex-row-reverse my-2 my-lg-0">
  <img class="dialog-item-avatar rounded-pill ml-3 align-self-end position-relative d-none d-sm-inline-block" src="images/avatar.png" width="32" height="32">
  <div class="media-body text-right">
    <div class="typo-lg px-3 py-1_5 dialog-item-bubble d-inline-block font-weight-normal text-left position-relative">
      Спасибо
    </div>
    <figcaption class="mt-2 dialog-item-footer">
      <small class="typo-xs dialog-item-footer-text d-block">Прочитано</small>
    </figcaption>
  </div>
</figure><figure class="media dialog-item px-4 mb-0 my-2 my-lg-0">
  <img class="dialog-item-avatar rounded-pill mr-3 align-self-end position-relative d-none d-sm-inline-block" src="images/avatar.png" width="32" height="32">
  <div class="media-body">
    <div class="typo-lg px-3 py-1_5 dialog-item-bubble d-inline-block font-weight-normal position-relative">
      Добрый день, я ваш персональный менеджер Вячеслав. Ничего страшного мы вас обязательно дождемся.
    </div>
    <figcaption class="mt-2 dialog-item-footer">
      <small class="typo-xs dialog-item-footer-text d-block">15:34</small>
    </figcaption>
  </div>
</figure>
<figure class="media dialog-item dialog-item-myself px-4 mb-0 flex-row-reverse my-2 my-lg-0">
  <img class="dialog-item-avatar rounded-pill ml-3 align-self-end position-relative d-none d-sm-inline-block" src="images/avatar.png" width="32" height="32">
  <div class="media-body text-right">
    <div class="typo-lg px-3 py-1_5 dialog-item-bubble d-inline-block font-weight-normal text-left position-relative">
      Спасибо
    </div>
    <figcaption class="mt-2 dialog-item-footer">
      <small class="typo-xs dialog-item-footer-text d-block">Прочитано</small>
    </figcaption>
  </div>
</figure><figure class="media dialog-item px-4 mb-0 my-2 my-lg-0">
  <img class="dialog-item-avatar rounded-pill mr-3 align-self-end position-relative d-none d-sm-inline-block" src="images/avatar.png" width="32" height="32">
  <div class="media-body">
    <div class="typo-lg px-3 py-1_5 dialog-item-bubble d-inline-block font-weight-normal position-relative">
      Добрый день, я ваш персональный менеджер Вячеслав. Ничего страшного мы вас обязательно дождемся.
    </div>
    <figcaption class="mt-2 dialog-item-footer">
      <small class="typo-xs dialog-item-footer-text d-block">15:34</small>
    </figcaption>
  </div>
</figure>
<figure class="media dialog-item dialog-item-myself px-4 mb-0 flex-row-reverse my-2 my-lg-0">
  <img class="dialog-item-avatar rounded-pill ml-3 align-self-end position-relative d-none d-sm-inline-block" src="images/avatar.png" width="32" height="32">
  <div class="media-body text-right">
    <div class="typo-lg px-3 py-1_5 dialog-item-bubble d-inline-block font-weight-normal text-left position-relative">
      Спасибо
    </div>
    <figcaption class="mt-2 dialog-item-footer">
      <small class="typo-xs dialog-item-footer-text d-block">Прочитано</small>
    </figcaption>
  </div>
</figure>

          <div class="pb-2 pb-sm-4_25 pb-lg-5_5"></div>
        </div>
      </div>
    </div>
    <div class="d-table-row">
      <div class="td-footer d-table-cell">
        <div class="dialog-footer d-flex flex-nowrap align-items-end px-4 pt-2 pb-4_25">
  <button class="btn btn-only-icon btn-link text-muted"><span class="icon icon-attach"><svg viewBox="0 0 22 23" width="22" height="23" xmlns="http://www.w3.org/2000/svg"><path d="M20.44 11.05l-9.19 9.19a6.003 6.003 0 11-8.49-8.49l9.19-9.19a4.002 4.002 0 115.66 5.66l-9.2 9.19a2.001 2.001 0 11-2.83-2.83l8.49-8.48" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg></span></button>
  <textarea class="dialog-textarea typo-lg font-weight-normal js-autosize border-0 flex-grow-1 overflow-auto" rows="1" cols="10" placeholder="Написать">Подскажите как мне перенести заказ</textarea>
  <button class="btn btn-only-icon btn-primary rounded-pill ml-2" href=""><span class="icon icon-arrow-right"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 0L6.59 1.41 12.17 7H0v2h12.17l-5.58 5.59L8 16l8-8-8-8z"/></svg></span></button>
</div>

      </div>
    </div>
  </div>
</div>
