<div class="mx-n4_25 mx-lg-n4_5 bg-white d-none d-lg-block">
  <div class="shadow-sm order-table swiper-container swiper-container-scrollbar swiper-container-scrollbar-table js-swiper-container-scrollbar-table px-4_5">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <table class="table table-hover order-table">
          <colgroup>
            <col width="3.5%" />
            <col width="5%" />
            <col width="9%" />
            <col width="9.5%" />
            <col width="10.5%" />
            <col width="6%" />
            <col width="6%" />
            <col width="7%" />
            <col width="5%">
            <col width="5%">
            <col width="5%">
            <col width="6%">
            <col width="5%">
            <col width="5%">
            <col width="6%">
            <col width="7%">
          </colgroup>
          <thead>
          <tr>
            <th class="th-checkbox">
              <label class="custom-control custom-checkbox custom-control-inline mr-0">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-label"></span>
              </label>
            </th>
            <th class="text-truncate text-muted typo-sm font-weight-normal" scope="col">ID заказов</th>
            <th class="text-truncate text-muted typo-sm font-weight-normal">Клиент</th>
            <th class="text-truncate text-muted typo-sm font-weight-normal">Дата и время забора</th>
            <th class="text-truncate text-muted typo-sm font-weight-normal">Адр. дост.</th>
            <th class="text-truncate text-muted typo-sm font-weight-normal">Тип груза</th>
            <th class="text-truncate text-muted typo-sm font-weight-normal">Вес груза</th>
            <th class="text-truncate text-muted typo-sm font-weight-normal">Сумма доставки</th>
            <th class="text-truncate text-muted typo-sm font-weight-normal text-center">Позиция</th>
            <th class="text-truncate text-muted typo-sm font-weight-normal text-center">Оплата</th>
            <th class="text-truncate text-muted typo-sm font-weight-normal text-center">Скидка</th>
            <th class="text-truncate text-muted typo-sm font-weight-normal">Итог</th>
            <th class="text-truncate text-muted typo-sm font-weight-normal text-center">Накладная</th>
            <th class="text-truncate text-muted typo-sm font-weight-normal text-center">Доп. усл.</th>
            <th class="text-truncate text-muted typo-sm font-weight-normal">Курьер</th>
            <th class="text-truncate text-muted typo-sm font-weight-normal">Статус заказ</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="td-checkbox">
              <label class="custom-control custom-checkbox custom-control-inline mr-0">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-label"></span>
              </label>
            </td>
            <td class="text-truncate" scope="row">1334141</td>
            <td class="text-truncate font-weight-medium">«ООО» Цветоптторг</td>
            <td class="text-truncate">
              <span>22.09.19</span>
              <span class="ml-2">11.00 -14.00</span>
            </td>
            <td class="text-truncate">ул. Средне-Московская</td>
            <td class="text-truncate">Полиграфия</td>
            <td class="text-truncate">Пакет 4кг</td>
            <td class="text-truncate text-center">111 345 ₽</td>
            <td class="text-truncate text-center">15</td>
            <td class="text-truncate text-center">б/н</td>
            <td class="text-truncate text-center">10%</td>
            <td class="text-truncate">111 345 ₽</td>
            <td class="text-truncate text-center"><a class="icon icon-doc" href="#"><svg viewBox="0 0 26 32" width="26" height="32" xmlns="http://www.w3.org/2000/svg"><g fill="#2F55ED" fill-rule="nonzero"><path d="M8.516 11.897c.108-.098.197-.259.266-.483.069-.224.103-.53.103-.918s-.034-.685-.103-.893a1.133 1.133 0 00-.287-.484.955.955 0 00-.469-.236c-.141-.032-.418-.048-.83-.048H6.74v3.319h.756c.282 0 .486-.017.611-.049a.934.934 0 00.409-.208zM13.016 12.219c.403 0 .734-.146.993-.436.259-.291.388-.727.388-1.308 0-.574-.126-1.003-.377-1.285-.252-.282-.587-.424-1.004-.424-.417 0-.753.143-1.008.429-.256.286-.383.718-.383 1.294 0 .567.131.997.393 1.29.262.293.594.44.998.44z"/><path d="M23.5 0h-21C1.4 0 .5.9.5 2v28c0 1.1.9 2 2 2h21c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2zm-6.8 8.594c.431-.461.997-.691 1.698-.691.613 0 1.111.181 1.494.543.228.214.398.521.513.923l-1.001.239a1.069 1.069 0 00-.371-.615 1.067 1.067 0 00-.686-.226c-.371 0-.673.134-.904.399-.231.268-.347.699-.347 1.296 0 .634.114 1.085.342 1.354.228.269.524.403.889.403.269 0 .5-.086.694-.256.193-.172.332-.44.416-.807l.981.311c-.15.547-.4.953-.75 1.219-.35.266-.794.398-1.331.398-.666 0-1.213-.228-1.641-.683-.429-.454-.643-1.076-.643-1.864.002-.834.217-1.482.647-1.943zm-5.888.644c.113-.255.27-.484.467-.688.196-.202.412-.353.647-.451a2.753 2.753 0 011.08-.197c.738 0 1.329.229 1.772.687.442.458.664 1.095.664 1.911 0 .809-.22 1.441-.659 1.898-.44.457-1.028.686-1.764.686-.745 0-1.338-.228-1.777-.683-.44-.454-.66-1.08-.66-1.878 0-.51.076-.938.23-1.285zM5.729 7.987h1.85c.417 0 .734.032.953.096.294.087.546.24.756.462a2.2 2.2 0 01.479.812c.11.321.164.715.164 1.185 0 .412-.052.768-.154 1.066a2.215 2.215 0 01-.536.885 1.777 1.777 0 01-.711.4c-.224.07-.522.105-.896.105H5.729V7.987zm14.764 17.554H5.507v-1h14.986v1zm0-3.541H5.507v-1h14.986v1z"/></g></svg></a></td>
            <td class="text-truncate text-center"><a class="icon icon-comment" href="#"><svg viewBox="0 0 20 20" width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M18 0H2C.9 0 0 .9 0 2v18l4-4h14c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2z" fill="#BFC1C8" fill-rule="evenodd"/></svg></a></td>
            <td class="text-truncate">Петров О.А.</td>
            <td class="text-truncate"><span class="order-status order-status-in-progress">Выполняется</span></td>
          </tr>
          <tr>
            <td class="td-checkbox">
              <label class="custom-control custom-checkbox custom-control-inline mr-0">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-label"></span>
              </label>
            </td>
            <td class="text-truncate" scope="row">1334141</td>
            <td class="text-truncate font-weight-medium">«ООО» Цветоптторг</td>
            <td class="text-truncate">
              <span>22.09.19</span>
              <span class="ml-2">11.00 -14.00</span>
            </td>
            <td class="text-truncate">ул. Средне-Московская</td>
            <td class="text-truncate">Полиграфия</td>
            <td class="text-truncate">Пакет 4кг</td>
            <td class="text-truncate text-center">111 345 ₽</td>
            <td class="text-truncate text-center">15</td>
            <td class="text-truncate text-center">б/н</td>
            <td class="text-truncate text-center">10%</td>
            <td class="text-truncate">111 345 ₽</td>
            <td class="text-truncate text-center"><a class="icon icon-doc" href="#"><svg viewBox="0 0 26 32" width="26" height="32" xmlns="http://www.w3.org/2000/svg"><g fill="#2F55ED" fill-rule="nonzero"><path d="M8.516 11.897c.108-.098.197-.259.266-.483.069-.224.103-.53.103-.918s-.034-.685-.103-.893a1.133 1.133 0 00-.287-.484.955.955 0 00-.469-.236c-.141-.032-.418-.048-.83-.048H6.74v3.319h.756c.282 0 .486-.017.611-.049a.934.934 0 00.409-.208zM13.016 12.219c.403 0 .734-.146.993-.436.259-.291.388-.727.388-1.308 0-.574-.126-1.003-.377-1.285-.252-.282-.587-.424-1.004-.424-.417 0-.753.143-1.008.429-.256.286-.383.718-.383 1.294 0 .567.131.997.393 1.29.262.293.594.44.998.44z"/><path d="M23.5 0h-21C1.4 0 .5.9.5 2v28c0 1.1.9 2 2 2h21c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2zm-6.8 8.594c.431-.461.997-.691 1.698-.691.613 0 1.111.181 1.494.543.228.214.398.521.513.923l-1.001.239a1.069 1.069 0 00-.371-.615 1.067 1.067 0 00-.686-.226c-.371 0-.673.134-.904.399-.231.268-.347.699-.347 1.296 0 .634.114 1.085.342 1.354.228.269.524.403.889.403.269 0 .5-.086.694-.256.193-.172.332-.44.416-.807l.981.311c-.15.547-.4.953-.75 1.219-.35.266-.794.398-1.331.398-.666 0-1.213-.228-1.641-.683-.429-.454-.643-1.076-.643-1.864.002-.834.217-1.482.647-1.943zm-5.888.644c.113-.255.27-.484.467-.688.196-.202.412-.353.647-.451a2.753 2.753 0 011.08-.197c.738 0 1.329.229 1.772.687.442.458.664 1.095.664 1.911 0 .809-.22 1.441-.659 1.898-.44.457-1.028.686-1.764.686-.745 0-1.338-.228-1.777-.683-.44-.454-.66-1.08-.66-1.878 0-.51.076-.938.23-1.285zM5.729 7.987h1.85c.417 0 .734.032.953.096.294.087.546.24.756.462a2.2 2.2 0 01.479.812c.11.321.164.715.164 1.185 0 .412-.052.768-.154 1.066a2.215 2.215 0 01-.536.885 1.777 1.777 0 01-.711.4c-.224.07-.522.105-.896.105H5.729V7.987zm14.764 17.554H5.507v-1h14.986v1zm0-3.541H5.507v-1h14.986v1z"/></g></svg></a></td>
            <td class="text-truncate text-center"><a class="icon icon-comment" href="#"><svg viewBox="0 0 20 20" width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M18 0H2C.9 0 0 .9 0 2v18l4-4h14c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2z" fill="#BFC1C8" fill-rule="evenodd"/></svg></a></td>
            <td class="text-truncate">Петров О.А.</td>
            <td class="text-truncate"><span class="order-status order-status-cancel">Отмена</span></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="swiper-scrollbar my-4_5"></div>
  </div>
</div>
