<div class="mx-n4_25 mx-lg-n4_5 bg-white d-md-none">
  <div class="shadow-sm order-table-mobile">
    <table class="table table-hover order-table-mobile">
      <colgroup>
        <col width="56" />
        <col width="auto" />
        <col width="52" />
        <col width="164" />
      </colgroup>
      <tbody>
      <tr class="clickable tr-toggle collapsed" data-toggle="collapse" data-target="#group-of-rows-2" aria-expanded="false" aria-controls="group-of-rows-1">
        <td class="td-toggle-icon text-center">
          <span class="icon icon-plus-circle text-primary"><svg width="10" height="10" xmlns="http://www.w3.org/2000/svg"><g stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><path d="M5 1v8M1 5h8"/></g></svg></span>
        </td>
        <td class="text-truncate">
          <div class="d-flex flex-column w-100 mw-100">
            <div class="text-truncate font-weight-medium">«ООО» Цветоптторг</div>
            <div class="text-muted text-truncate">ул. Средне-Московская</div>
          </div>
        </td>
        <td class="text-truncate"><span class="order-status order-status-in-progress">Выполняется</span></td>
        <td class="text-truncate">
          <div class="d-flex flex-column w-100 mw-100">
            <div class="text-truncate">22 сентября 2019</div>
            <div class="text-muted text-truncate">11.00 -14.00</div>
          </div>
        </td>
      </tr>
      </tbody>
      <tbody id="group-of-rows-2" class="tbody-collapse collapse">
      <tr>
        <td></td>
        <td colspan="1">Адрес доставки</td>
        <td colspan="2">ул. Средне-Московская</td>
      </tr>
      <tr>
        <td></td>
        <td colspan="1">Время доставки</td>
        <td colspan="2">11.00 -14.00</td>
      </tr>
      <tr>
        <td></td>
        <td colspan="1">Тип груза</td>
        <td colspan="2">Полиграфия</td>
      </tr>
      <tr>
        <td></td>
        <td colspan="1">Вес груза</td>
        <td colspan="2">Пакет 4кг</td>
      </tr>
      <tr>
        <td></td>
        <td colspan="1">Сумма доставки</td>
        <td colspan="2">111.345 руб.</td>
      </tr>
      <tr>
        <td></td>
        <td colspan="1">Позиция</td>
        <td colspan="2">15</td>
      </tr>
      <tr>
        <td></td>
        <td colspan="1">Оплата</td>
        <td colspan="2">б/н</td>
      </tr>
      <tr>
        <td></td>
        <td colspan="1">Скидка</td>
        <td colspan="2">10%</td>
      </tr>
      <tr>
        <td class="td-button pb-4_25 pt-3" colspan="4">
          <a class="btn btn-primary btn-block" href="">Перейти к заказу</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
