<div class="navbar bg-white order-navbar flex-nowrap px-4_5 py-4_5 d-none d-lg-flex mx-n4_25 mx-lg-n4_5 border-bottom-light shadow-none">
  <div class="row no-gutters w-100 align-items-center">
    <div class="col-2 pr-4_5">
      <button class="btn btn-primary btn-block">Создать заказ</button>
    </div>
    <div class="col-4 pl-4_5">
      <div class="search-input w-100 position-relative">
  <div class="search-wrapper position-relative">
    <span class="icon search-icon position-absolute"><svg viewBox="0 0 20 20" width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M20 17.738l-5.326-5.326A8 8 0 100 8a8 8 0 0012.412 6.674L17.737 20 20 17.738zM2.267 8.002A5.733 5.733 0 018 2.269a5.733 5.733 0 110 11.466 5.734 5.734 0 01-5.733-5.733z" fill-rule="nonzero"/></svg></span>
    <input type="text" class="form-control form-control-light search-form-control" placeholder="Поиск">
  </div>
  <div class="dropdown-menu dropdown-menu-light search-dropdown-menu">
    <a class="dropdown-item" href="">Примеры поиска 1</a>
    <a class="dropdown-item active" href="">Примеры поиска 1</a>
  </div>
</div>

    </div>
  </div>
</div>
