// darker bg

.bg-darker {
  background-color: var(--gray-darker);
}


// login bg

.bg-login {
  background-image: url('../images/bg-login.svg');

  @include media-breakpoint-down('sm') {
    background-image: url('../images/bg-login-tablet.svg');
  }

  @include media-breakpoint-down('xs') {
    background-image: url('../images/bg-login-mobile.svg');
  }
}
