.bootstrap-select.dropdown {
  &.show .btn.dropdown-toggle {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .dropdown-menu.open,
  .dropdown-menu.show {
    top: 100% !important;
    left: 0 !important;
    transform: translate3d(0, 0, 0) !important;
  }

  .dropdown-menu.inner {
    display: block;
  }

  .dropdown-menu li > a {
    display: block;
    font-weight: 400;
    color: $dropdown-link-color;
    padding: calc(#{$dropdown-item-padding-y} + 3px) $dropdown-item-padding-x;

    @include hover-focus {
      color: $dropdown-link-hover-color;
      background-color: $dropdown-link-hover-bg;
      outline: none;
    }

    @include hover-focus-active {
      color: $dropdown-link-active-color;
      background-color: $dropdown-link-active-bg;
      outline: none;
    }
  }

  & > select.mobile-device:focus + .dropdown-toggle,
  & .dropdown-toggle:focus {
    outline: none !important;
  }
}
