.border-top-light {
  border-top: 1px solid $border-color-light;
}

.border-bottom-light {
  border-bottom: 1px solid $border-color-light;
}

.border-pickup {
  border-color: $green-light;
}

.border-delivery {
  border-color: $blue-light;
}

.border-route {
  border-color: $yellow;
}

.border-danger {
  border-color: $yellow;
}
