.bottom-stack-mobile {
  .bottom-stack-item {
    padding-top: 1.875rem;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    z-index: 111;
    max-height: 100%;
  }

  .bottom-stack-toggler {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    height: 1.875rem;
    width: 100%;

    &::before {
      content: '';
      width: 2.5rem;
      height: .375rem;
      background-color: $gray-450;
      border-radius: .25rem;
      position: absolute;
      margin: auto;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }

  .modal {
    overflow: visible;
  }
}
