// toggle btn group

.btn-group-toggle {
  background-color: $white;
  border-radius: $btn-border-radius;

  .btn-toggle {
    @include button-variant($white, $white, $white, $white, $white, $white);
    color: $black;

    @include hover-focus-active() {
      color: $black;
    }

    &:not(:disabled):not(.disabled):active {
      color: $black;
    }

    &:not(:disabled):not(.disabled).active {
      border-radius: $btn-border-radius !important;
      background-color: $primary;
      border-color: $primary;
      color: $white;
    }
  }
}


// light toggle btn group

.btn-group-toggle-light {
  background-color: $gray-150;

  .btn-toggle {
    @include button-variant($gray-150, $gray-150, $gray-150, $gray-150, $gray-150, $gray-150);
    color: $black;

    @include hover-focus-active() {
      color: $black;
    }

    &:not(:disabled):not(.disabled):active {
      color: $black;
    }

    &:not(:disabled):not(.disabled).active {
      border-radius: $btn-border-radius !important;
      background-color: $primary;
      border-color: $primary;
      color: $white;
    }
  }
}


// width indicator (2 buttons)

.btn-group.with-indicator,
.btn-group.with-indicator-2 {
  position: relative;
  z-index: 0;

  .btn {
    position: static;
    background-color: transparent !important;
    border: none !important;
    z-index: auto !important;
    overflow: hidden;

    &.active {
      color: $white !important;
    }

    &:last-child {
      &::after {
        content: '';
        display: block;
        position: absolute;
        pointer-events: none;
        transition: left #{$indicator-transition-speed} ease;
        background: $indicator-indicator-color;
        top: 0;
        bottom: 0;
        left: 0;
        width: $indicator-width;
        z-index: -1;
        border-radius: $btn-border-radius;
      }
    }
  }

  @for $i from 1 through $indicator-menu-items-loop-offset {
    .btn:nth-child(#{$i}).active ~ .btn:last-child::after {
      left:($indicator-width * $i) - $indicator-width;
    }
  }

  @for $i from 1 through $indicator-menu-items-loop-offset {
    .btn:nth-child(#{$i}).active ~ .btn:last-child::after {
      left:($indicator-width * $i) - $indicator-width !important;
    }
  }

  .btn {
    &:last-child {
      &.active {
        &::after {
          left: 100% - $indicator-width !important;
        }
      }
    }
  }
}


// width indicator (3 buttons)

.btn-group.with-indicator-3 {
  .btn {
    &:last-child {
      &::after {
        width: $indicator-width-3;
      }
    }
  }

  @for $i from 1 through $indicator-menu-items-loop-offset-3 {
    .btn:nth-child(#{$i}).active ~ .btn:last-child::after {
      left:($indicator-width-3 * $i) - $indicator-width-3;
    }
  }

  @for $i from 1 through $indicator-menu-items-loop-offset-3 {
    .btn:nth-child(#{$i}).active ~ .btn:last-child::after {
      left:($indicator-width-3 * $i) - $indicator-width-3 !important;
    }
  }

  .btn {
    &:last-child {
      &.active {
        &::after {
          left: 100% - $indicator-width-3 !important;
        }
      }
    }
  }
}


// width indicator (4 buttons)

.btn-group.with-indicator-4 {
  .btn {
    &:last-child {
      &::after {
        width: $indicator-width-4;
      }
    }
  }

  @for $i from 1 through $indicator-menu-items-loop-offset-4 {
    .btn:nth-child(#{$i}).active ~ .btn:last-child::after {
      left:($indicator-width-4 * $i) - $indicator-width-4;
    }
  }

  @for $i from 1 through $indicator-menu-items-loop-offset-4 {
    .btn:nth-child(#{$i}).active ~ .btn:last-child::after {
      left:($indicator-width-4 * $i) - $indicator-width-4 !important;
    }
  }

  .btn {
    &:last-child {
      &.active {
        &::after {
          left: 100% - $indicator-width-4 !important;
        }
      }
    }
  }
}


// width indicator (5 buttons)

.btn-group.with-indicator-5 {
  .btn {
    &:last-child {
      &::after {
        width: $indicator-width-5;
      }
    }
  }

  @for $i from 1 through $indicator-menu-items-loop-offset-5 {
    .btn:nth-child(#{$i}).active ~ .btn:last-child::after {
      left:($indicator-width-5 * $i) - $indicator-width-5;
    }
  }

  @for $i from 1 through $indicator-menu-items-loop-offset-5 {
    .btn:nth-child(#{$i}).active ~ .btn:last-child::after {
      left:($indicator-width-5 * $i) - $indicator-width-5 !important;
    }
  }

  .btn {
    &:last-child {
      &.active {
        &::after {
          left: 100% - $indicator-width-5 !important;
        }
      }
    }
  }
}


.buttons-scroll {
  height: 2.625rem;
  overflow: hidden;

  &-wrapper {
    padding-bottom: 2rem;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}


// with alt indicator

.btn-group.with-indicator-alt {
  .btn {
    background-color: transparent !important;
    border: none !important;
    z-index: 2;

    &.active {
      color: $white !important;
    }
  }

  .active-marker {
    display: block;
    position: absolute;
    pointer-events: none;
    transition: all .3s ease;
    top: 0;
    bottom: 0;
    left: 0;
    width: auto;
    z-index: 1;
    border-radius: $btn-border-radius;
    background: $primary;
  }
}
