// primary button

.btn-primary {
  @include button-variant($primary, $primary, $blue-light, $blue-light, $blue-dark, $blue-dark);
}


// white button

.btn-white {
  @include button-variant($white, $white, $gray-50, $gray-50, $gray-50, $gray-50);
}


// call button

.call-btn {
  @include button-variant($green, $green, $green-light, $green-light, $green-dark, $green-dark);
  color: $white;

  @include hover-focus-active() {
    color: $white;
  }

  &:not(:disabled):not(.disabled):active {
    color: $white;
  }
}


// disabled button

.btn.disabled,
.btn:disabled {
  background-color: $gray-450;
  border-color: $gray-450;
  cursor: default;
}


// icon button

.btn-only-icon {
  width: $input-height;
  height: $input-height;
  min-width: $input-height;
  position: relative;
  padding: 0;

  .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
