.card-body {
  & > .collapse > .form-group:last-child,
  & > .form-group:last-child {
    margin-bottom: 0;
  }
}


// payment card

.payment-card {
  max-width: 16.5625rem;

  @include media-breakpoint-down('md') {
    max-width: 15rem;
  }
}


// indicator card

.indicator-card {
  .card-body {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
  }

  &-icon-minus,
  &-icon-plus {
    &,
    & svg {
      width: .75rem;
      height: .75rem;
    }
  }

  &-icon-minus {
    color: $indicator-minus;
    transform: rotate(180deg);
  }

  &-icon-plus {
    color: $indicator-plus;
  }

  &-percent {
    color: $gray-500;
  }
}


// indicator card group

.indicator-card-group {
  & > .indicator-card:first-child .card-body {
    padding-left: 1.875rem;
  }

  & > .statistic-card:last-child .card-body {
    padding-right: 1.875rem;
  }

  & > .indicator-card + &::before {
    content: '';
    position: absolute;
    top: -1px;
    bottom: -1px;
    margin-left: -1px;
    width: 1px;
    background-color: $border-color-light;
  }
}


// statistic card

.statistic-card {
  min-width: 10rem;

  .card-body {
    padding-left: 1.25rem;
    padding-right: 1.875rem;
  }

  &-icon-plus {
    &,
    & svg {
      width: .75rem;
      min-width: .75rem;
      height: .75rem;
    }
  }

  &-icon-minus {
    color: $indicator-minus;
    transform: rotate(180deg);
  }

  &-icon-plus {
    color: $indicator-plus;

  }

  &-percent {
    color: $gray-500;
  }
}


// statistic card group

.statistic-card-group {
  & > .statistic-card:first-child .card-body {
    padding-left: 1.875rem;
  }

  & > .statistic-card:last-child .card-body {
    padding-right: 1.875rem;
  }

  & > .statistic-card + .statistic-card::before {
    content: '';
    position: absolute;
    top: -1px;
    bottom: -1px;
    margin-left: -1px;
    width: 1px;
    background-color: $border-color-light;
  }
}


// statistic main card

.statistic-card-main {
  .statistic-card-group {
    border-bottom: 1px solid $border-color-light;
  }
}


// statistic chart card

.statistic-chart-card {
  .embed-responsive-item {
    border-bottom-left-radius: $card-border-radius;
    border-bottom-right-radius: $card-border-radius;

    .chart-wrapper {
      max-height: 100% !important;
    }

    @include media-breakpoint-down('md') {
      border-top-left-radius: $card-border-radius;
      border-top-right-radius: $card-border-radius;
    }
  }

  .statistic-chart-buttons {
    min-width: 18.75rem;
  }

  //.c3-axis,
  //.c3-legend-item,
  //.c3-tooltip-container {
  //  display: none !important;
  //}

  .c3-chart .c3-chart-lines .c3-line {
    stroke-width: 2px !important;
    opacity: 1 !important;
  }

  .c3-chart .c3-chart-lines .c3-area {
    opacity: .5 !important;
  }

  .c3-chart .c3-chart-lines .c3-circles .c3-circle {
    opacity: 1 !important;
    r: 4px !important;
    stroke-width: 2px !important;
  }

  // data1
  .c3-chart .c3-chart-lines .c3-line.c3-line-data1 {
    stroke: #50d166 !important;
  }

  .c3-chart .c3-chart-lines .c3-area.c3-area-data1 {
    fill: #e7ffeb !important;
    // linear-gradient(to bottom, #e7ffeb 5%, rgba(231, 255, 235, 0) 98%)
  }

  .c3-chart .c3-chart-lines .c3-circles-data1 .c3-circle {
    color: #fff !important;
    stroke: #50d166 !important;
  }

  // data2
  .c3-chart .c3-chart-lines .c3-line.c3-line-data2 {
    stroke: #1875f0 !important;
  }

  .c3-chart .c3-chart-lines .c3-area.c3-area-data2 {
    fill: #cff1ff !important;
    // linear-gradient(to bottom, #cff1ff 2%, rgba(207, 241, 255, 0))
  }

  .c3-chart .c3-chart-lines .c3-circles-data2 .c3-circle {
    color: #fff !important;
    stroke: #1875f0 !important;
  }
}


// request courier card

.request-courier-card {
  .card-header .h6 {
    max-width: calc(50% - 8.75rem); // 100% - (avatar-width + online-width)

    @include media-breakpoint-down('xs') {
      max-width: calc(100% - 8.75rem);
    }
  }

  .card-header .counter {
    width: 35px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    @include media-breakpoint-down('xs') {
      position: static;
      left: auto;
      right: auto;
      top: auto;
      bottom: auto;
    }
  }

  .card-header .btn {
    z-index: 1;
  }
}

.request-courier-card:nth-child(1) {
  z-index: 10;
}

.request-courier-card:nth-child(2) {
  z-index: 9;
}

.request-courier-card:nth-child(3) {
  z-index: 8;
}

.request-courier-card:nth-child(4) {
  z-index: 7;
}
.request-courier-card:nth-child(5) {
  z-index: 6;
}

.request-courier-card:nth-child(6) {
  z-index: 5;
}

.request-courier-card:nth-child(7) {
  z-index: 4;
}

.request-courier-card:nth-child(8) {
  z-index: 3;
}

.request-courier-card:nth-child(9) {
  z-index: 2;
}

.request-courier-card:nth-child(10) {
  z-index: 1;
}


// request courier col

.request-courier-col {
  min-width: 27.25rem;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    border-top: 5px solid;
    z-index: 1;
  }

  &:not(:first-child)::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-left: 1px solid $border-color-light;

    @include media-breakpoint-down('xs') {
      display: none;
    }
  }

  &.border-pickup::before {
    @extend .border-pickup;
  }

  &.border-delivery::before {
    @extend .border-delivery;
  }

  &.border-route::before {
    @extend .border-route;
  }
}

.request-courier-card-wrapper {
  height: calc(100vh - 11.25rem); // 100vh - 180px

  @include media-breakpoint-down(md) {
    height: calc(100vh - 15rem - 8px); // 100vh - 240px
  }
}


// request card

.request-card {
  box-shadow: 0 0 .3125rem rgba($black, .1);
  border-radius: .5rem;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-left: 5px solid;
    z-index: 1;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
  }

  &.border-danger::before {
    @extend .border-danger;
  }

  &.border-pickup::before {
    @extend .border-pickup;
  }

  &.border-delivery::before {
    @extend .border-delivery;
  }

  &.border-route::before {
    @extend .border-route;
  }
}

.card-collapse:not(.show) {
  display: block;
  height: 0;
  overflow: hidden;
}
