html {
  font-size: 16px;

  @media (max-width: 370px) {
    //font-size: calc(12px + 6 * ((100vw - 320px) / 680));
  }
}

body {
  min-width: 320px !important;
  overflow-x: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.is-desktop.disable-hover,
.is-desktop.disable-hover * {
  pointer-events: none !important;
}

.cover {
  overflow: hidden;

  &-background {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-object {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.vertical-align-helper {
  display:table;
  pointer-events: none;
}

.vertical-align-center {
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}

.full-width-container {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.underline {
  border-bottom: 1px solid;
}

th.text-truncate,
td.text-truncate {
  max-width: 1px;
}

.spacer {
  flex-grow: 1;
}

.section-divider {
  margin-top: 6.25rem;
}

body.disable-scroll {
  overflow: hidden;
}

.clickable {
  cursor: pointer;
}

label {
  margin-bottom: 0;
}

