.dialog-table {
  &-wrapper {
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100%;
  }

  .td-footer {
    height: 1px;
  }
}

.dialog-datetime {
  color: $gray-575;
}

.dialog-item {
  &-avatar {
    margin-bottom: 1.375rem;
    z-index: 2;
  }

  &-bubble {
    border-radius: $border-radius-lg;
    background-color: $gray-250;
    max-width: 19.375rem;
    z-index: 1;
    line-height: 1.375;

    .dialog-item-myself & {
      background-color: $blue-light;
      color: $white;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 100%;
      height: 10px;
      margin-right: -10px;
      z-index: -1;

      .dialog-item-myself & {
        right: auto;
        left: 100%;
        margin-right: 0;
        margin-left: -10px;
      }
    }

    &::before {
      border-right: 30px solid $gray-250;
      background: $gray-250;
      border-bottom-right-radius: 80px 50px;
      transform: translate(0, -2px);

      .dialog-item-myself & {
        border-right: 0;
        border-left: 30px solid $blue-light;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 80px 50px;
      }
    }

    &::after {
      width: 30px;
      background: $white;
      border-bottom-right-radius: 40px 50px;
      transform: translate(-10px, -2px);

      .dialog-item-myself & {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 40px 50px;
        transform: translate(10px, -2px);
      }
    }
  }

  &-footer-text {
    color: $gray-575;
  }
}

.dialog-footer {
  box-shadow: 0 0 .625rem rgba($black, .1);
  background-color: $white;
  border-top-left-radius: $border-radius-lg;
  border-top-right-radius: $border-radius-lg;
  min-height: 4.375rem;

  .btn-only-icon {
    width: 2.25rem;
    min-width: 2.25rem;
    height: 2.25rem;
  }
}

.dialog-textarea {
  line-height: 1.5;

  &:focus {
    outline: none;
  }
}
