// https://css-tricks.com/drag-and-drop-file-uploading/

.dropzone-box {
  font-size: .875rem;
  font-weight: 500;
  background-color: $white;
  position: relative;
  padding: 3.125rem 5rem 1.875rem;
  border: 1px dashed $border-color;
  border-radius: .5rem;
  text-align: center;
}

.dropzone-box.has-advanced-upload {
  //outline: 1px dashed $border-color;
  //outline-radius: 8px;
  //outline-offset: -10px;
  //-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  //transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

.dropzone-box.is-dragover {
  //outline-offset: -10px;
  //outline-color: $border-color;
  background-color: $white;
}

.dropzone-box__dragndrop,
.dropzone-box__icon {
  display: none;
}

.dropzone-box.has-advanced-upload .dropzone-box__dragndrop {
  font-size: .75rem;
  display: inline;
}

.dropzone-box.has-advanced-upload .dropzone-box__icon {
  display: block;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;

  &,
  & svg {
    min-width: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.dropzone-box.is-uploading .dropzone-box__input,
.dropzone-box.is-success .dropzone-box__input,
.dropzone-box.is-error .dropzone-box__input {
  visibility: hidden;
}

.dropzone-box__uploading,
.dropzone-box__success,
.dropzone-box__error {
  display: none;
}
.dropzone-box.is-uploading .dropzone-box__uploading,
.dropzone-box.is-success .dropzone-box__success,
.dropzone-box.is-error .dropzone-box__error {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.dropzone-box__uploading {
  font-style: italic;
}

.dropzone-box__success {
  -webkit-animation: appear-from-inside .25s ease-in-out;
  animation: appear-from-inside .25s ease-in-out;
}

@-webkit-keyframes appear-from-inside {
  from	{ -webkit-transform: translateY( -50% ) scale( 0 ); }
  75%		{ -webkit-transform: translateY( -50% ) scale( 1.1 ); }
  to		{ -webkit-transform: translateY( -50% ) scale( 1 ); }
}

@keyframes appear-from-inside {
  from	{ transform: translateY( -50% ) scale( 0 ); }
  75%		{ transform: translateY( -50% ) scale( 1.1 ); }
  to		{ transform: translateY( -50% ) scale( 1 ); }
}

.dropzone-box__restart {
  font-weight: 700;
}

.dropzone-box__restart:focus,
.dropzone-box__restart:hover {
  color: #39bfd3;
}

.js .dropzone-box__file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.js .dropzone-box__file + label {
  max-width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 0;
}

.js .dropzone-box__file + label:hover,
.dropzone-box__file:focus + label,
.dropzone-box__file.has-focus + label {
  color: var(--black);
}

.js .dropzone-box__file:focus + label,
.js .dropzone-box__file.has-focus + label {
  //outline: 1px dotted #000;
  //outline: -webkit-focus-ring-color auto 5px;
}

.js .dropzone-box__file + label * {
  /* pointer-events: none; */ /* in case of FastClick lib use */
}

.no-js .dropzone-box__file + label {
  display: none;
}

.no-js .dropzone-box__button {
  display: block;
}

.dropzone-box__button {
  margin: 1.25rem auto 0;
  display: block;
  white-space: normal;
  padding: 0;
  font-weight: 500;
}


// short dropzone box

.dropzone-box-short {
  padding: 0;
  border: 0;
  border-radius: 0;
  width: 11.25rem;

  @include media-breakpoint-down('md') {
    margin-left: auto;
    margin-right: auto;
  }

  &.has-advanced-upload .dropzone-box__input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &.has-advanced-upload .dropzone-box__icon {
    margin-left: 0;
    margin-right: .625rem;
    margin-bottom: 0;
  }

  &.has-advanced-upload .dropzone-box__dragndrop {
    display: none;
  }

  &.has-advanced-upload .dropzone-box__button {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }
}
