@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-Thin.eot');
  src: local('TT Norms Thin'), local('TTNorms-Thin'),
  url('../fonts/TTNorms-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms-Thin.woff') format('woff'),
  url('../fonts/TTNorms-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-ThinItalic.eot');
  src: local('TT Norms Thin Italic'), local('TTNorms-ThinItalic'),
  url('../fonts/TTNorms-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms-ThinItalic.woff') format('woff'),
  url('../fonts/TTNorms-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-ExtraLight.eot');
  src: local('TT Norms ExtraLight'), local('TTNorms-ExtraLight'),
  url('../fonts/TTNorms-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms-ExtraLight.woff') format('woff'),
  url('../fonts/TTNorms-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-ExtraLightItalic.eot');
  src: local('TT Norms ExtraLight Italic'), local('TTNorms-ExtraLightItalic'),
  url('../fonts/TTNorms-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms-ExtraLightItalic.woff') format('woff'),
  url('../fonts/TTNorms-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-Light.eot');
  src: local('TT Norms Light'), local('TTNorms-Light'),
  url('../fonts/TTNorms-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms-Light.woff') format('woff'),
  url('../fonts/TTNorms-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-LightItalic.eot');
  src: local('TT Norms Light Italic'), local('TTNorms-LightItalic'),
  url('../fonts/TTNorms-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms-LightItalic.woff') format('woff'),
  url('../fonts/TTNorms-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-Regular.eot');
  src: local('TT Norms Regular'), local('TTNorms-Regular'),
  url('../fonts/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms-Regular.woff') format('woff'),
  url('../fonts/TTNorms-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-Italic.eot');
  src: local('TT Norms Italic'), local('TTNorms-Italic'),
  url('../fonts/TTNorms-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms-Italic.woff') format('woff'),
  url('../fonts/TTNorms-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-Medium.eot');
  src: local('TT Norms Medium'), local('TTNorms-Medium'),
  url('../fonts/TTNorms-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms-Medium.woff') format('woff'),
  url('../fonts/TTNorms-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-MediumItalic.eot');
  src: local('TT Norms Medium Italic'), local('TTNorms-MediumItalic'),
  url('../fonts/TTNorms-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms-MediumItalic.woff') format('woff'),
  url('../fonts/TTNorms-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-Bold.eot');
  src: local('TT Norms Bold'), local('TTNorms-Bold'),
  url('../fonts/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms-Bold.woff') format('woff'),
  url('../fonts/TTNorms-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-BoldItalic.eot');
  src: local('TT Norms Bold Italic'), local('TTNorms-BoldItalic'),
  url('../fonts/TTNorms-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms-BoldItalic.woff') format('woff'),
  url('../fonts/TTNorms-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-ExtraBold.eot');
  src: local('TT Norms ExtraBold'), local('TTNorms-ExtraBold'),
  url('../fonts/TTNorms-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms-ExtraBold.woff') format('woff'),
  url('../fonts/TTNorms-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-ExtraBoldItalic.eot');
  src: local('TT Norms ExtraBold Italic'), local('TTNorms-ExtraBoldItalic'),
  url('../fonts/TTNorms-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms-ExtraBoldItalic.woff') format('woff'),
  url('../fonts/TTNorms-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-Black.eot');
  src: local('TT Norms Black'), local('TTNorms-Black'),
  url('../fonts/TTNorms-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms-Black.woff') format('woff'),
  url('../fonts/TTNorms-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-BlackItalic.eot');
  src: local('TT Norms Black Italic'), local('TTNorms-BlackItalic'),
  url('../fonts/TTNorms-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms-BlackItalic.woff') format('woff'),
  url('../fonts/TTNorms-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

//@font-face {
//  font-family: 'TT Norms';
//  src: url('../fonts/TTNorms-Heavy.eot');
//  src: local('TT Norms Heavy'), local('TTNorms-Heavy'),
//  url('../fonts/TTNorms-Heavy.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/TTNorms-Heavy.woff') format('woff'),
//  url('../fonts/TTNorms-Heavy.ttf') format('truetype');
//  font-weight: 950;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'TT Norms';
//  src: url('../fonts/TTNorms-HeavyItalic.eot');
//  src: local('TT Norms Heavy Italic'), local('TTNorms-HeavyItalic'),
//  url('../fonts/TTNorms-HeavyItalic.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/TTNorms-HeavyItalic.woff') format('woff'),
//  url('../fonts/TTNorms-HeavyItalic.ttf') format('truetype');
//  font-weight: 950;
//  font-style: italic;
//}
