.col-2_5,
.col-sm-2_5,
.col-md-2_5,
.col-lg-2_5,
.col-lx-2_5 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; }

.col-sm-2_5 {
  @include media-breakpoint-up('sm') {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

.col-md-2_5 {
  @include media-breakpoint-up('md') {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

.col-lg-2_5 {
  @include media-breakpoint-up('lg') {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

.col-xl-2_5 {
  @include media-breakpoint-up('xl') {
    flex: 0 0 20%;
    max-width: 20%;
  }
}


// login col

.col-login {
  max-width: 28.75rem;
}

.column-lg-1-2 {
  column-count: 1;

  @include media-breakpoint-up('lg') {
    column-count: 2;
  }
}

[class*='column-'] {
  column-gap: 30px;

  // https://stackoverflow.com/questions/7785374/how-to-prevent-column-break-within-an-element
  & > * {
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    display:table;                      /* Actually FF 20+ */
  }


  @include media-breakpoint-up('lg') {
    column-gap: 60px;
  }
}


// client info layout of cards

.client-info-layout {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-gap: 0;
  padding: 1px 1px 0 0;
  margin: -1px;

  @include media-breakpoint-down('lg') {
    grid-template-columns: 34% 33% 33%;
  }

  @include media-breakpoint-down('md') {
    padding: 0;
    margin: 0;
    grid-template-columns: 50% 50%;
  }

  @include media-breakpoint-down('xs') {
    grid-template-columns: 100%;
  }

  > .card:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;

    @include media-breakpoint-down('lg') {
      grid-column: 1 / 2;
    }

    @include media-breakpoint-down('md') {
      grid-column: auto;
      grid-row: auto;
    }

    &::before {
      @include media-breakpoint-down('md') {
        content: '';
        position: absolute;
        left: 1.5625rem;
        right: 0;
        bottom: 0;
        height: 1px;
        background-color: $border-color-light;
      }
    }
  }

  > .card:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;

    @include media-breakpoint-down('lg') {
      grid-column: 2 / 3;
    }

    @include media-breakpoint-down('md') {
      grid-column: auto;
      grid-row: auto;
    }

    &::before {
      @include media-breakpoint-down('md') {
        content: '';
        position: absolute;
        right: 1.5625rem;
        left: 0;
        bottom: 0;
        height: 1px;
        background-color: $border-color-light;
      }
    }
  }

  > .card:nth-child(3) {
    grid-column: 1 / 3;
    grid-row: 2;

    @include media-breakpoint-down('lg') {
      grid-column: 1 / 2;
    }

    @include media-breakpoint-down('md') {
      grid-column: auto;
      grid-row: auto;
    }
  }

  > .card:nth-child(4) {
    grid-column: 4 / 6;
    grid-row: 1 / 3;

    @include media-breakpoint-down('lg') {
      grid-column: 3 / 4;
    }

    @include media-breakpoint-down('md') {
      grid-column: auto;
      grid-row: auto;
    }
  }

  > .card {
    border: 1px solid $border-color-light;
    margin-top: -1px;
    margin-left: -1px;

    @include media-breakpoint-down('md') {
      border: none;
      margin-top: 0;
      margin-left: 0;
    }
  }
}


// profile info layout of cards

.profile-info-layout {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-areas: "card1 card2" "card1 card3";
  grid-gap: 0;
  padding: 1px 1px 0 0;
  margin: -1px;

  @include media-breakpoint-down('md') {
    padding: 0;
    margin: 0;
    grid-template-columns: 100%;
    grid-template-areas: "card1" "card2" "card3";
  }

  > .card:nth-child(1) {
    grid-area: card1;

    &::before {
      @include media-breakpoint-down('md') {
        content: '';
        position: absolute;
        left: 1.5625rem;
        right: 0;
        bottom: 0;
        height: 1px;
        background-color: $border-color-light;
      }
    }
  }

  > .card:nth-child(2) {
    grid-area: card2;

    &::before {
      @include media-breakpoint-down('md') {
        content: '';
        position: absolute;
        right: 1.5625rem;
        left: 0;
        bottom: 0;
        height: 1px;
        background-color: $border-color-light;
      }
    }
  }

  > .card:nth-child(3) {
    grid-area: card3;
  }

  > .card {
    border: 1px solid $border-color-light;
    margin-top: -1px;
    margin-left: -1px;

    @include media-breakpoint-down('md') {
      border: none;
      margin-top: 0;
      margin-left: 0;
    }
  }
}


// client req layout of cards

.client-req-layout {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-gap: 0;
  padding: 1px 1px 0 0;
  margin: -1px;

  @include media-breakpoint-down('md') {
    margin: 0;
    padding: 0;
    grid-template-columns: 50% 50%;
  }

  @include media-breakpoint-down('xs') {
    grid-template-columns: 100%;
  }

  > .card-group {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-gap: 0;
    grid-column: 1 / 6;

    @include media-breakpoint-down('md') {
      grid-template-columns: 50% 50%;
      grid-column: 1 / 3;
    }

    @include media-breakpoint-down('xs') {
      grid-template-columns: 100%;
    }
  }

  > .card-group > .card + .card {
    border-right: 1px solid $border-color-light;
  }

  > .card-group .card:first-child {
    grid-column: 1 / 3;

    @include media-breakpoint-down('md') {
      grid-column: auto;
      grid-row: auto;
    }
  }

  > .card-group .card:last-child {
    grid-column: 3 / 6;

    @include media-breakpoint-down('md') {
      grid-column: auto;
      grid-row: auto;
    }
  }

  > .card {
    grid-column: 1 / 3;
  }

  > .card-group + .card:last-child::before {
    @include media-breakpoint-down('md') {
      content: '';
      position: absolute;
      left:1.5625rem;
      right: 1.5625rem;
      height: 1px;
      background-color: $border-color-light;
    }
  }

  .card {
    border: 1px solid $border-color-light;
    margin-top: -1px;
    margin-left: -1px;

    @include media-breakpoint-down('md') {
      border: 0;
      margin-top: 0;
      margin-left: 0;
    }
  }

  .range-date-input-group,
  .range-time-input-group {
    @include media-breakpoint-down('md') {
      width: 100%;
    }
  }
}
