.icon {
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  line-height: 1;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  background-size: cover;

  svg {
    fill: currentColor;
  }
}

.icon-sm {
  width: 1rem;
  height: 1rem;
}

.icon-md {
  width: 1.25rem;
  height: 1.25rem;
}

.icon-preloader,
.icon-plus,
.icon-exit,
.icon-plus-circle,
.icon-filter,
.icon-attach {
  svg {
    fill: none;
    stroke: currentColor;
  }
}

.icon-arrow-down {
  transform: rotate(180deg);
}

.icon-arrow-left {
  transform: rotate(-90deg);
}

.icon-chevron-down,
.icon-chevron-down svg {
  min-width: .75rem;
}

.icon-online,
.icon-offline {
  width: .5rem;
  min-width: .5rem;
  height: .5rem;
  border-radius: 1rem;
}

.icon-online {
  background-color: $online-color;
}

.icon-offline {
  background-color: $offline-color;
}

.icon-direction,
.icon-direction svg {
  min-width: 1.1875rem;
}
