.input-group-text {
  font-weight: 500;
}


// range input groups

.range-input-group,
.range-date-input-group,
.range-time-input-group {
  .input-group-prepend {
    width: 3rem;
    margin-right: -3rem;
    position: relative;
    z-index: 5;
  }

  .input-group-prepend ~ .input-group-prepend:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: -2px;
    left: 0;
    width: 1px;
    background-color: $white;
  }

  .form-control {
    padding-left: 3rem;
  }
}


// date

.range-date-input-group {
  width: 25rem;
  max-width: 100%;

  //input[type="date"]::-webkit-calendar-picker-indicator
  input[type="date"]::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
  }
}


// time

.range-time-input-group {
  width: 18.75rem;
  max-width: 100%;

  input[type="time"]::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
  }

  input[type="time"]::-webkit-clear-button,
  input[type="time"]::-ms-clear {
    display: none;
    -webkit-appearance: none;
  }
}
