// dialog sidebar

.dialog-sidebar {
  background-color: $gray-50;
  height: calc(100vh - 5rem);
  width: 22.5rem !important;
  min-width: 22.5rem;
  //scrollbar-width: none;
  transform: translateX(0);

  //.is-mobile &,
  //.is-tablet & {
  //  height: calc(var(--vh, 1vh) * 100 - 5rem);
  //}

  @include media-breakpoint-down('md') {
    //height: calc(100vh - 3.75rem);

    //.is-mobile &,
    //.is-tablet & {
    //  height: calc(var(--vh, 1vh) * 100 - 3.75rem);
    //}
  }

  &.hide-sidebar {
    margin-left: -22.5rem;

    @include media-breakpoint-up('lg') {
      margin-left: 0;
    }
  }

  &-wrapper {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding-right: 2rem;
    width: 25.5rem;
    min-width: 25.5rem;

    .is-mobile &,
    .is-tablet & {
      width: 24.5rem;
      min-width: 24.5rem;
    }
  }

  &-toggler {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1rem;
    //height: 3.75rem;
    height: 5rem;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 3;

    &::before {
      content: '';
      width: .375rem;
      //height: 3.75rem;
      height: 5rem;
      background-color: $gray-450;
      border-radius: .25rem;
      position: absolute;
      margin: auto;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.dialog-container {
  height: calc(100vh - 5rem);

  //.is-mobile &,
  //.is-tablet & {
  //  height: calc(var(--vh, 1vh) * 100 - 5rem);
  //}

  @include media-breakpoint-down('md') {
    //height: calc(100vh - 3.75rem);

    //.is-mobile &,
    //.is-tablet & {
    //  height: calc(var(--vh, 1vh) * 100 - 3.75rem);
    //}
  }
}

.dialog-container-wrapper {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.dialog-container-wrapper-2 {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.dialog-sidebar ~ .dialog-container {
  @include transition($transition-base);
  width: 100%;
  z-index: 11113;

  &:not(.hide-sidebar) {
    //margin-left: 22.5rem;
    //width: calc(100% + 22.5rem);

    @include media-breakpoint-up('lg') {
      //margin-left: 0;
    }
  }

  &.hide-sidebar {
    //margin-left: 0;

    @include media-breakpoint-up('lg') {
      //margin-left: 22.5rem;
      //width: calc(100% - 22.5rem);
    }
  }
}

.dialog-textarea {
  min-height: 1.6875rem;
  max-height: calc(100vh - 5rem - 10rem); // 100vh - navbar-height - 10rem

  //.is-mobile &,
  //.is-tablet & {
  //  max-height: calc(var(--vh, 1vh) * 100 - 5rem - 20rem);
  //}


  @include media-breakpoint-down('md') {
    //max-height: calc(100vh - 3.75rem - 10rem); // 100vh - mobile-navbar-height - 10rem

    //.is-mobile &,
    //.is-tablet & {
    //  max-height: calc(var(--vh, 1vh) * 100 - 3.75rem - 20rem);
    //}
  }
}


// sidebar

.sidebar {
  left: 0;
  background-color: $gray-950;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 11112;
  //scrollbar-width: none;
  transform: translateX(0);
  @include transition($transition-base);

  //.is-mobile &,
  //.is-tablet & {
  //  height: calc(var(--vh, 1vh) * 100);
  //}

  &:not(.hide-sidebar) {
    width: 21.25rem;
  }

  &.hide-sidebar {
    transform: translateX(-100%);

    @include media-breakpoint-up('lg') {
      transform: translateX(0);
      width: 5.3125rem;
    }
  }

  @include media-breakpoint-down('sm') {
    &:not(.hide-sidebar) {
      width: 18.75rem;
    }
  }

  .sidebar-icon {
    width: 2.8125rem;
    height: 2.8125rem;
    min-width: 2.8125rem;

    &.icon-exit {
      color: $white !important;
    }

    &.icon-exit:hover,
    &.icon-exit:focus {
      color: theme-color("primary") !important;
    }
  }

  .sidebar-logo,
  .sidebar-logo svg {
    width: 2.8125rem;
    height: 2.8125rem;
  }

  .sidebar-avatar {
    img {
      height: 2.8125rem;
      width: 2.8125rem;
      min-width: 2.8125rem;
    }
  }

  .sidebar-name {
    font-size: 1rem;
  }

  .sidebar-nav {
    .nav-link {
      color: $white;
      min-height: 2.8125rem;
      font-size: 1rem;

      @include hover-focus() {
        background-color: $gray-800;
      }

      &.active {
        background-color: $gray-800;
      }
    }
  }
}

.sidebar ~ .main-container {
  @include transition($transition-base);
  width: 100%;
  z-index: 11113;
  background-color: $body-bg;

  &:not(.hide-sidebar) {
    margin-left: 21.25rem;
    width: calc(100% + 21.25rem);
  }

  &.hide-sidebar {
    margin-left: 0;

    @include media-breakpoint-up('lg') {
      margin-left: 5.3125rem;
      width: calc(100% - 5.3125rem);
    }
  }

  @include media-breakpoint-down('sm') {
    width: 100%;

    &:not(.hide-sidebar) {
      margin-left: 18.75rem;
      width: calc(100% + 18.75rem);
    }
  }
}

.sidebar ~ .header-navbar {
  @include transition($transition-base);
  width: 100%;
  z-index: 11114;

  &:not(.hide-sidebar) {
    margin-left: 21.25rem;
    width: calc(100% + 21.25rem);
  }

  &.hide-sidebar {
    margin-left: 0;

    @include media-breakpoint-up('lg') {
      margin-left: 5.3125rem;
      width: calc(100% - 5.3125rem);
    }
  }

  @include media-breakpoint-down('sm') {
    width: 100%;

    &:not(.hide-sidebar) {
      margin-left: 18.75rem;
      width: calc(100% + 18.75rem);
    }
  }
}

.sidebar {
  @include media-breakpoint-up('lg') {
    .sidebar-icon.icon-exit,
    .sidebar-name,
    .sidebar-nav .nav-item .text-truncate {
      @include transition($transition-fade);
      opacity: 1;
    }
  }

  .menu-toggle:not(.hide-sidebar) .icon {
    transform: rotate(180deg);
  }
}

.sidebar.hide-sidebar {
  @include media-breakpoint-up('lg') {
    .sidebar-icon.icon-exit,
    .sidebar-name,
    .sidebar-nav .nav-item .text-truncate {
      opacity: 0;
    }
  }
}
