// doc item

.doc-list-group-item {
  font-weight: 400;

  .custom-control {
    width: 20px;
  }

  &:not(:last-child)::before {
    content: '';
    position: absolute;
    left: 1.875rem;
    right: 1.875rem;
    bottom: 0;
    height: 1px;
    background-color: $border-color-light;

    @include media-breakpoint-down('md') {
      display: none;
    }
  }

  .icon-doc,
  .icon-doc svg,
  .icon-pdf,
  .icon-pdf svg {
    width: 2rem;
    height: 2rem;
    min-width: 2rem;
  }

  .size {
    font-size: .625rem;
  }

  .primary-content {
    max-width: calc(100% - 6.625rem);
  }

  .secondary-content {
    width: 6.625rem;
    max-width: 6.625rem;

    .btn {
      position: relative;
      z-index: 1;
    }

    .icon,
    .icon svg {
      width: 1.125rem;
      height: 1.125rem;
      min-width: 1.125rem;
    }
  }
}


// dialog item

.dialog-list-group-item {
  font-weight: 400;
  background-color: inherit;
  cursor: default;
  min-height: 84px;

  .avatar-wrapper[data-badge]::after {
    content: attr(data-badge);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 1.5rem;
    font-size: .6875rem;
    font-weight: bold;
    position: absolute;
    right: -.0625rem;
    bottom: -.0625rem;
    background-color: $blue-light;
    color: $white;
  }

  &.active .avatar-wrapper[data-badge]::after {
    background-color: $white;
    color: $blue-light;
  }

  .text {
    color: $text-muted;
  }

  .time {
    color: $gray-575;
  }

  &.active .text,
  &.active .time {
    color: inherit;
  }

  .myself-title {
    color: $blue-light;
  }

  &.active .myself-title {
    color: $white;
  }

  &:not(:last-child):not(.active)::before {
    content: '';
    position: absolute;
    left: 1.875rem;
    right: 1.875rem;
    bottom: 0;
    height: 1px;
    background-color: $border-color-light;
  }

  .primary-content {
    max-width: calc(100% - 3.125rem);
  }

  .secondary-content {
    width: 3.125rem;
    max-width: 3.125rem;
  }
}


// address item

.list-group-item-address {
  height: 3.75rem;

  .primary-content {
    max-width: calc(100%  - 11.5rem);

    @include media-breakpoint-down('xs') {
      max-width: calc(100%  - 8.125rem);
    }

    .custom-control {
      width: 1.125rem;
      padding-left: 0;
      position: relative;

      .custom-control-label::before,
      .custom-control-label::after {
        left: 0;
      }
    }
  }

  .secondary-content {
    width: 11.5rem;

    @include media-breakpoint-down('xs') {
      width: 8.125rem;
    }
  }
}
