// static modal

.modal.modal-static {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block;

  .modal-dialog {
    margin: 0;
    transform: scale(1);
  }
}


// scroll buttons

.modal-buttons-scroll {
  height: 2.625rem;
  overflow: hidden;

  &-wrapper {
    padding-bottom: 2rem;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}


// bottom modal

.modal-bottom {
  .modal-content {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}


// search modal

.modal-search {
  .modal-content {
    height: 4rem;
  }

  .modal-icon-action {
    cursor: pointer;
    color: $black;

    &:hover,
    &:focus {
      color: theme-color("primary");
    }

    &.icon-filter,
    &.icon-filter svg {
      width: 1.25rem;
      min-width: 1.25rem;
      height: 1.25rem;
    }
  }
}


// address modal

.modal-address {
  &.modal-dialog {
    max-width: 100%;
  }
}
