// header navbar

.header-navbar {
  height: $header-navbar-height;
  font-size: 1rem;

  .navbar-nav-scroll {
    max-width: 100%;
    height: 2.5rem;
    overflow: hidden;

    .navbar-nav {
      padding-bottom: 2rem;
      overflow-x: auto;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }
  }

  .nav-link {
    &.active {
      position: relative;
      cursor: default;

      &::before {
        content: '';
        position: absolute;
        left: calc(1.25rem - 3px);
        right:calc(1.25rem - 3px);
        bottom: 0;
        height: 2px;
        background-color: theme-color("primary");
      }
    }

    &.disabled {
      color: $gray-550;
    }

    &.disabled.active::before {
      background-color: $gray-450;
    }
  }

  .header-navbar-date {
    width: 25rem;
    min-width: 25rem;

    .daterangepicker {
      left: auto !important;
      right: 0 !important;
      width: 560px;
    }
  }

  .header-navbar-prev {
    font-size: 1rem;
  }

  .header-navbar-call,
  .header-navbar-btn {
    width: 12.75rem;
  }

  .header-navbar-prev,
  .header-navbar-call,
  .header-navbar-btn,
  .header-navbar-avatar {
    top: 50%;
    transform: translateY(-50%);
  }

  .header-navbar-prev {
    left: 0;
  }

  .header-navbar-call,
  .header-navbar-btn,
  .header-navbar-avatar {
    right: 0;
  }

  .header-navbar-title {
    padding-left: 13.75rem;
    padding-right: 13.75rem;

    @include media-breakpoint-down('md') {
      font-size: 1.125rem;
      padding-left: 3.75rem;
      padding-right: 3.75rem;
    }
  }
}

.header-navbar-login {
  height: 8.75rem;

  @include media-breakpoint-down('md') {
    height: 7.5rem;
  }

  @include media-breakpoint-down('sm') {
    height: 6.25rem;
  }
}

.header-navbar-mobile {
  height: $header-navbar-height-mobile;

  .header-navbar-icon-prev,
  .header-navbar-icon-call {
    top: 50%;
    transform: translateY(-50%);
  }

  .header-navbar-icon-prev {
    left: 0;
  }

  .header-navbar-icon-call {
    right: 0;
    color: var(--green);
  }

  .icon.header-navbar-toggle {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 5rem;
    height: $header-navbar-height-mobile;
    cursor: pointer;

    svg {
      display: block;
    }

    svg + svg {
      display: none;
    }

    &.hide-sidebar svg {
      display: none;
    }

    &.hide-sidebar svg + svg {
      display: block;
    }
  }
}


// sales navbar

.sales-navbar {
  height: 6.25rem;

  .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: auto;
    flex-basis: 220px;
  }
}


// order navbar

.order-navbar {
  height: 6.25rem;
}


// filter navbar

.filter-navbar {
  height: 6.25rem;
  display: grid;
  grid-template-columns: 40% auto;
  grid-gap: 0;
}
