// login page

.page-login {
  padding-bottom: 11.625rem;

  @include media-breakpoint-down('md') {
    padding-bottom: 12.75rem;
  }

  @include media-breakpoint-down('sm') {
    padding-bottom: 14rem;
  }
}
