.progress-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.progress-height-2 {
  height: 2.5rem;
}


// sales progress

.sales-progress {
  position: relative;

  .progress {
    @extend .progress-height-2;
  }

  .progress-bar {
    border-radius: $progress-border-radius;
  }

  &-overlay {
    @extend .progress-overlay;
  }

  &-success {
    background-color: $progress-success-bg;

    .progress-bar {
      background-color: $progress-success-bar-color;
    }
  }

  &-failure {
    background-color: $progress-failure-bg;

    .progress-bar {
      background-color: $progress-failure-bar-color;
    }
  }
}

.plan-progress {
  .progress-bar {
    background-color: #FD944F;
    background-image: linear-gradient(-45deg, #FF9B5A 25%, transparent 25%, transparent 50%, #FF9B5A 50%, #FF9B5A 75%, transparent 75%, transparent);
    background-size: 2.5rem 2.5rem;
    border-radius: $progress-border-radius;
  }
}
