.search-input {
  width: calc(100vw - 1.75rem - 1.75rem);

  .search-icon {
    top: 0;
    left: 0;
    bottom: 0;
    width: 2.5rem;
    @include transition($transition-base);
  }

  &.is-active .search-icon {
    left: 100%;
    margin-left: -3.125rem;
    width: 3.125rem;
  }

  .search-form-control {
    padding-left: 3.4375rem;
    @include transition($transition-base);
  }

  &.is-active .search-form-control {
    padding-left: .9375rem;
    padding-right: 2.8125rem;
  }

  &.is-show .search-form-control {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
