.swiper-container-scrollbar {
  .swiper-slide {
    width: auto;
  }

  &.swiper-container-horizontal {
    .swiper-scrollbar {
      height: .5rem;
      border-radius: 10rem;
      background-color: #dde0ee;
    }

    .swiper-scrollbar-drag {
      height: .5rem;
      border-radius: 10rem;
      background-color: theme-color("primary");
    }
  }
}

.swiper-container-scrollbar-table {
  .swiper-slide {
    min-width: 100%;
  }
}
