// address table

.address-table {
  //&.table {
  //  min-width: 2058px;
  //}

  th,
  td {
    padding: 1.25rem .9375rem;
    vertical-align: middle;
    font-weight: normal;

    &:first-child {
      padding-left: 1.875rem;
    }

    &:last-child {
      padding-right: 1.875rem;
    }
  }

  thead th {
    padding-top: .9rem;
    padding-bottom: .9rem;
    line-height: 1;
    border-bottom: none;
  }

  tbody td {
    height: 3.75rem;
    min-width: 120px;
  }

  //thead + tbody tr:first-child td {
  //  border-top: none;
  //}

  .th-checkbox,
  .td-checkbox {
    width: 1px;
  }

  .icon-edit,
  .icon-edit svg,
  .icon-delete,
  .icon-delete svg {
    width: .875rem;
    height: .875rem;
  }
}


// order table

.order-table {
  &.table-responsive {
    min-height: calc(100vh - 19.375rem);
  }

  &.swiper-container-scrollbar {
    min-height: calc(100vh - 19.375rem);
  }

  &.swiper-container-scrollbar .swiper-wrapper {
    min-height: calc(100vh - 23.75rem);
  }

  &.table {
    min-width: 128.625rem;
  }

  th,
  td {
    padding: 1.25rem .9375rem;
    vertical-align: middle;
    font-weight: normal;

    &:first-child {
      padding-left: 1.25rem;
    }
  }

  thead th {
    padding-top: 1.875rem;
    padding-bottom: 2.1875rem;
    line-height: 1;
    border-bottom: none;
  }

  tbody td {
    height: 3.75rem;
  }

  thead + tbody tr:first-child td {
    border-top: none;
  }

  .th-checkbox,
  .td-checkbox {
    width: 1px;
  }

  .order-status {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    white-space: nowrap;
    letter-spacing: -0.35px;
    padding: .375rem .5rem;
    border-radius: .5rem;
    margin-top: -.375rem;
    margin-bottom: -.375rem;

    &-in-progress {
      background-color: $green;
      color: $white;
    }

    &-cancel {
      background-color: $red;
      color: $white;
    }
  }

  .icon-doc {
    margin-top: -.25rem;
    margin-bottom: -.25rem;
  }
}


// mobile order table

.order-table-mobile {
  th,
  td {
    vertical-align: middle;
    font-weight: normal;
  }

  tbody td {
    height: 3.75rem;

    .text-muted {
      font-size: .75rem;
      margin-top: 3px;
    }
  }

  .order-status {
    display: inline-block;
    vertical-align: middle;
    width: .75rem;
    height: .75rem;
    border-radius: 10rem;
    text-indent: -99999px;

    &-in-progress {
      background-color: $green;
    }

    &-cancel {
      background-color: $red;
    }
  }

  .tr-toggle:not(.collapsed) {
    background-color: $table-hover-bg;
  }

  .tr-toggle:not(.collapsed) .td-toggle-icon .icon-plus {
    transform: rotate(45deg);
  }

  .tr-toggle:not(.collapsed) .text-muted {
    display: none;
  }

  .tbody-collapse {
    tr {
      background-color: $table-hover-bg;
    }

    td {
      font-size: .75rem;
      padding-top: .625rem;
      padding-bottom: .625rem;
      height: 2.1875rem;
    }

    tr td:first-child {
      padding-left: 1.5625rem;
    }

    tr td:last-child {
      padding-right: 1.5625rem;
    }
  }
}
