<div class="swiper-container swiper-container-scrollbar swiper-container-scrollbar-table js-swiper-container-scrollbar-request-courier mw-100 w-100">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="d-flex row-cols-3 request-courier-row">
        <div class="request-courier-col position-relative border-pickup">
          <div class="overflow-auto request-courier-card-wrapper">
            <div class="pl-4 pl-lg-4_5 pr-2 pr-sm-4_5 pt-4_5">
              <h3 class="mb-0">Забор</h3>
            </div>
            <div class="pl-4 pl-lg-4_5 pr-2 pr-sm-4_5 py-2 py-sm-0">
              <section class="card request-card border-0 border-danger my-2 my-sm-4 position-relative">
  <div class="card-body p-4_25 p-lg-4_5">
    <h5 class="mb-4 font-weight-medium">«ООО» Цветоптторг</h5>
    <p class="mb-2 font-weight-normal">ул. Средне-Московская</p>
    <small class="typo-sm text-danger d-block font-weight-normal">25.09.2019  17:39 (через 55 минут)</small>
  </div>
</section>

              <section class="card request-card border-0 border-pickup my-2 my-sm-4 position-relative">
  <div class="card-body p-4_25 p-lg-4_5">
    <h5 class="mb-4 font-weight-medium">«ООО» Цветоптторг</h5>
    <p class="mb-2 font-weight-normal">ул. Средне-Московская</p>
    <small class="typo-sm text-muted d-block font-weight-normal">25.09.2019  17:39 (через 55 минут)</small>
  </div>
</section>

              <section class="card request-card border-0 border-pickup my-2 my-sm-4 position-relative">
  <div class="card-body p-4_25 p-lg-4_5">
    <h5 class="mb-4 font-weight-medium">«ООО» Цветоптторг</h5>
    <p class="mb-2 font-weight-normal">ул. Средне-Московская</p>
    <small class="typo-sm text-muted d-block font-weight-normal">25.09.2019  17:39 (через 55 минут)</small>
  </div>
</section>

            </div>
          </div>
        </div>
        <div class="request-courier-col position-relative border-delivery border-left-light">
          <div class="overflow-auto request-courier-card-wrapper">
            <div class="px-2 px-sm-4_5 pt-4_5">
              <h3 class="mb-0">Доставка</h3>
            </div>
            <div class="px-2 px-sm-4_5 py-2 py-sm-0">
              <section class="card request-card border-0 border-delivery my-2 my-sm-4 position-relative">
  <div class="card-body p-4_25 p-lg-4_5">
    <h5 class="mb-4 font-weight-medium">«ООО» Цветоптторг</h5>
    <p class="mb-2 font-weight-normal">ул. Средне-Московская</p>
    <small class="typo-sm text-muted d-block font-weight-normal">25.09.2019  17:39 (через 55 минут)</small>
  </div>
</section>

            </div>
          </div>
        </div>
        <div class="request-courier-col position-relative border-route">
          <div class="overflow-auto request-courier-card-wrapper">
            <div class="pl-2 pl-sm-4_5 pr-4 pr-lg-4_5 pt-4_5 d-flex">
              <h3 class="mb-0 flex-grow-1 text-truncate">Маршрутный лист курьера</h3>
              <span class="icon icon-direction list-group-icon ml-2 align-middle"><svg viewBox="0 0 19 19" width="19" height="19" xmlns="http://www.w3.org/2000/svg"><path d="M0 9l19-9-9 19-2-8z" fill="#F6AE00" fill-rule="evenodd"></path></svg></span>
            </div>
            <div class="pl-2 pl-sm-4_5 pr-4 pr-lg-4_5 py-2 py-sm-0">
              <section class="card request-card border-0 border-delivery my-2 my-sm-4 position-relative">
  <div class="card-body p-4_25 p-lg-4_5">
    <h5 class="mb-4 font-weight-medium">«ООО» Цветоптторг</h5>
    <p class="mb-2 font-weight-normal">ул. Средне-Московская</p>
    <small class="typo-sm text-muted d-block font-weight-normal">25.09.2019  17:39 (через 55 минут)</small>
  </div>
</section>

              <section class="card request-card border-0 border-pickup my-2 my-sm-4 position-relative">
  <div class="card-body p-4_25 p-lg-4_5">
    <h5 class="mb-4 font-weight-medium">«ООО» Цветоптторг</h5>
    <p class="mb-2 font-weight-normal">ул. Средне-Московская</p>
    <small class="typo-sm text-muted d-block font-weight-normal">25.09.2019  17:39 (через 55 минут)</small>
  </div>
</section>

              <section class="card request-card border-0 border-pickup my-2 my-sm-4 position-relative">
  <div class="card-body p-4_25 p-lg-4_5">
    <h5 class="mb-4 font-weight-medium">«ООО» Цветоптторг</h5>
    <p class="mb-2 font-weight-normal">ул. Средне-Московская</p>
    <small class="typo-sm text-muted d-block font-weight-normal">25.09.2019  17:39 (через 55 минут)</small>
  </div>
</section>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-scrollbar my-0"></div>
</div>
