<section class="card request-card border-0 border-danger my-2 my-sm-4 position-relative">
  <div class="card-body p-4_25 p-lg-4_5">
    <h5 class="mb-4 font-weight-medium">«ООО» Цветоптторг</h5>
    <p class="mb-2 font-weight-normal">ул. Средне-Московская</p>
    <small class="typo-sm text-danger d-block font-weight-normal">25.09.2019  17:39 (через 55 минут)</small>
  </div>
</section>
