<div class="navbar address-navbar mx-n4_25 mx-lg-n4_5 px-4_5 py-4_5 bg-white d-none d-lg-flex">
  <div class="w-100">
    <div class="row align-items-center flex-nowrap">
      <div class="col-auto">
        <button class="btn btn-outline-primary">Добавить адрес</button>
      </div>
      <div class="col-auto">
        <span class="ml-4">Выбрано: <a href="">1</a></span>
      </div>
      <div class="col-auto">
        <a class="ml-4_5" href="#" data-toggle="modal" data-target="#modal-delete-address">Удалить выбраное</a>
      </div>
      <div class="flex-grow-1"></div>
      <div class="col-auto">
        <a href="" class="btn btn-outline-primary">
          <span class="icon icon-arrow-down mr-4 btn-icon"><svg viewBox="0 0 16 16" width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M0 8l1.41 1.41L7 3.83V16h2V3.83l5.58 5.59L16 8 8 0z" fill-rule="evenodd"></path></svg></span>
          Скачать шаблон
        </a>
      </div>
      <div class="col-auto">
        <button class="btn btn-primary">
          <span class="icon icon-arrow-up mr-4 btn-icon"><svg viewBox="0 0 16 16" width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M0 8l1.41 1.41L7 3.83V16h2V3.83l5.58 5.59L16 8 8 0z" fill-rule="evenodd"></path></svg></span>
          Импортировать из Excel
        </button>
      </div>
    </div>
  </div>
</div>
