<section class="card-group">
  <div class="card rounded-0">
    <div class="card-body p-4_25 p-lg-4_5">
      <label class="custom-control custom-checkbox mb-4">
        <input type="checkbox" class="custom-control-input" id="" checked>
        <span class="custom-control-label" for="">Договор поставки</span>
      </label>
      <input class="form-control form-control-light" type="text" placeholder="Условия оплаты по договору поставки">
    </div>
  </div>
  <div class="card rounded-0">
    <div class="card-body p-4_25 p-lg-4_5 d-flex flex-column">
      <div class="list-group doc-list-group mx-n4_25 mx-lg-n4_5 mt-n4_25 mt-lg-4_5">
        <div class="list-group-item position-relative doc-list-group-item d-flex align-items-center px-4_25 px-lg-4_5 py-4 rounded-0 border-0">
  <div class="primary-content flex-grow-1">
    <span class="icon icon-doc mr-4 float-left"><svg viewBox="0 0 26 32" width="26" height="32" xmlns="http://www.w3.org/2000/svg"><g fill="#2F55ED" fill-rule="nonzero"><path d="M8.516 11.897c.108-.098.197-.259.266-.483.069-.224.103-.53.103-.918s-.034-.685-.103-.893a1.133 1.133 0 00-.287-.484.955.955 0 00-.469-.236c-.141-.032-.418-.048-.83-.048H6.74v3.319h.756c.282 0 .486-.017.611-.049a.934.934 0 00.409-.208zM13.016 12.219c.403 0 .734-.146.993-.436.259-.291.388-.727.388-1.308 0-.574-.126-1.003-.377-1.285-.252-.282-.587-.424-1.004-.424-.417 0-.753.143-1.008.429-.256.286-.383.718-.383 1.294 0 .567.131.997.393 1.29.262.293.594.44.998.44z"></path><path d="M23.5 0h-21C1.4 0 .5.9.5 2v28c0 1.1.9 2 2 2h21c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2zm-6.8 8.594c.431-.461.997-.691 1.698-.691.613 0 1.111.181 1.494.543.228.214.398.521.513.923l-1.001.239a1.069 1.069 0 00-.371-.615 1.067 1.067 0 00-.686-.226c-.371 0-.673.134-.904.399-.231.268-.347.699-.347 1.296 0 .634.114 1.085.342 1.354.228.269.524.403.889.403.269 0 .5-.086.694-.256.193-.172.332-.44.416-.807l.981.311c-.15.547-.4.953-.75 1.219-.35.266-.794.398-1.331.398-.666 0-1.213-.228-1.641-.683-.429-.454-.643-1.076-.643-1.864.002-.834.217-1.482.647-1.943zm-5.888.644c.113-.255.27-.484.467-.688.196-.202.412-.353.647-.451a2.753 2.753 0 011.08-.197c.738 0 1.329.229 1.772.687.442.458.664 1.095.664 1.911 0 .809-.22 1.441-.659 1.898-.44.457-1.028.686-1.764.686-.745 0-1.338-.228-1.777-.683-.44-.454-.66-1.08-.66-1.878 0-.51.076-.938.23-1.285zM5.729 7.987h1.85c.417 0 .734.032.953.096.294.087.546.24.756.462a2.2 2.2 0 01.479.812c.11.321.164.715.164 1.185 0 .412-.052.768-.154 1.066a2.215 2.215 0 01-.536.885 1.777 1.777 0 01-.711.4c-.224.07-.522.105-.896.105H5.729V7.987zm14.764 17.554H5.507v-1h14.986v1zm0-3.541H5.507v-1h14.986v1z"></path></g></svg></span>
    <div class="d-flex flex-column">
      <a class="text-muted stretched-link text-truncate" href="">Самое длинное название документа.doc</a>
      <div class="text-muted size mt-1 text-truncate">6 MB</div>
    </div>
  </div>
  <div class="secondary-content d-flex justify-content-end ml-4_75">
    <div class="m-n3">
      <button class="btn btn-only-icon text-gray">
        <span class="icon icon-download"><svg viewBox="0 0 14 17" width="14" height="17" xmlns="http://www.w3.org/2000/svg"><path d="M14 6h-4V0H4v6H0l7 7 7-7zM0 15v2h14v-2H0z" fill-rule="evenodd"></path></svg></span>
      </button>
      <button class="btn btn-only-icon text-gray ml-1">
        <span class="icon icon-delete"><svg viewBox="0 0 14 18" width="14" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M1 16c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V4H1v12zM14 1h-3.5l-1-1h-5l-1 1H0v2h14V1z" fill-rule="evenodd"></path></svg></span>
      </button>
    </div>
  </div>
</div>

      </div>
      <div class="flex-grow-1"></div>
      <form method="post" action="" enctype="multipart/form-data" novalidate="" class="dropzone-box dropzone-box-short has-advanced-upload position-relative mt-4_25">
  <div class="dropzone-box__input">
    <span class="dropzone-box__icon icon icon-upload text-gray"><svg viewBox="0 0 24 16" width="24" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M19.35 6.04A7.49 7.49 0 0012 0C9.11 0 6.6 1.64 5.35 4.04A5.994 5.994 0 000 10c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM14 9v4h-4V9H7l5-5 5 5h-3z" fill-rule="evenodd"/></svg></span>
    <input type="file" name="files[]" id="file" class="dropzone-box__file" data-multiple-caption="{count} files selected" multiple="">
    <label class="stretched-link" for="file"><span class="dropzone-box__dragndrop text-muted">Нажмите или перетащите файлы (PDF,TXT,WORD)</span></label>
    <div class="btn btn-link dropzone-box__button">Загрузить документ</div>
  </div>
  <div class="dropzone-box__uploading">Загружается…</div>
  <div class="dropzone-box__success">Файл загружен! <a href="#" class="dropzone-box__restart" role="button">Загрузить еще?</a></div>
  <div class="dropzone-box__error">Ошибка! <span></span>. <a href="#" class="dropzone-box__restart" role="button">Попробуйте снова!</a></div>
  <input type="hidden" name="ajax" value="1">
</form>

    </div>
  </div>
</section>
