<section class="card rounded-0">
  <div class="card-body p-4_25 p-lg-4_5">
    <div class="form-group">
      <label class="ml-2" for="">Часы работы</label>
      <div class="input-group range-time-input-group">
        <label class="input-group-prepend">
          <span class="input-group-text px-0 mx-auto">с</span>
        </label>
        <input type="time" class="form-control form-control-light rounded-left" placeholder="" value="10:00">
        <label class="input-group-prepend px-0">
          <span class="input-group-text px-0 mx-auto">по</span>
        </label>
        <input type="time" class="form-control form-control-light" placeholder="" value="20:00">
      </div>
    </div>
    <div class="row-cols-1 row-cols-lg-2 d-flex flex-wrap flex-lg-nowrap">
      <label class="custom-control custom-checkbox mt-4 mt-lg-0">
        <input type="checkbox" class="custom-control-input" id="" checked>
        <span class="custom-control-label" for="">Рассылка Email</span>
      </label>
      <label class="custom-control custom-checkbox mt-4 mt-lg-0">
        <input type="checkbox" class="custom-control-input" id="" checked>
        <span class="custom-control-label" for="">Рассылка SMS</span>
      </label>
    </div>
  </div>
</section>
