<section class="card rounded-0">
  <div class="card-body p-4_25 p-lg-4_5">
    <div class="form-group">
      <label class="ml-2" for="">Наименование клиента</label>
      <input class="form-control form-control-light" type="text" placeholder="«ООО» Первое">
    </div>
    <div class="form-group">
      <label class="ml-2 " for="">Представитель</label>
      <input class="form-control form-control-light" type="text" placeholder="Иванова Ольга">
    </div>
    <div class="form-group">
      <label class="ml-2 " for="">Телефон</label>
      <input class="form-control form-control-light" type="text" placeholder="8 (921) 123-32-21">
    </div>
    <div class="form-group">
      <label class="ml-2 " for="">Email</label>
      <input class="form-control form-control-light" type="text" placeholder="email@info.com">
    </div>
    <div class="form-group">
      <label class="ml-2 " for="">Примечание</label>
      <input class="form-control form-control-light" type="text" placeholder="Текст">
    </div>
  </div>
</section>
