<label class="custom-control custom-radio m-3">
  <input type="radio" class="custom-control-input">
  <span class="custom-control-label"></span>
</label>
<label class="custom-control custom-radio m-3">
  <input type="radio" class="custom-control-input" checked>
  <span class="custom-control-label"></span>
</label>
<label class="custom-control custom-radio m-3">
  <input type="radio" class="custom-control-input" checked disabled>
  <span class="custom-control-label"></span>
</label>
<label class="custom-control custom-radio m-3">
  <input type="radio" class="custom-control-input" disabled>
  <span class="custom-control-label"></span>
</label>
