<select class="js-selectpicker selectpicker-light" name="" id="" data-style="btn-light" data-dropup-auto="false">
  <option value="">Выбор 1</option>
  <option value="">Выбор 2</option>
</select>

<select class="js-selectpicker selectpicker-white" name="" id="" data-style="btn-white" data-dropup-auto="false">
  <option value="">Выбор 1</option>
  <option value="">Выбор 2</option>
</select>
