<div class="btn-group btn-group-toggle btn-group-toggle-light w-100 with-indicator with-indicator-3 row-cols-3" data-toggle="buttons">
  <label class="btn btn-toggle">
    <input type="radio" name="options">
    Менеджер
  </label>
  <label class="btn btn-toggle">
    <input type="radio" name="options">
    Клиент
  </label>
  <label class="btn btn-toggle active">
    <input type="radio" name="options" checked>
    Курьер
  </label>
</div>
