<div class="mx-n4_25 mx-lg-n4_5 bg-white d-none d-lg-block">
  <div class="shadow-sm address-table swiper-container swiper-container-scrollbar swiper-container-scrollbar-table js-swiper-container-scrollbar-table px-0">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <table class="table table-hover address-table">
          <colgroup>
            <col width="9%" />
            <col width="20%" />
            <col width="15%" />
            <col width="27%" />
            <col width="20%" />
            <col width="9%" />
          </colgroup>
          <thead>
          <tr>
            <th class="th-checkbox">
              <label class="custom-control custom-checkbox custom-control-inline mr-0">
                <input type="checkbox" class="custom-control-input" id="">
                <span class="custom-control-label" for=""></span>
              </label>
            </th>
            <th class="text-truncate text-muted" scope="col">Название</th>
            <th class="text-truncate text-muted">Город</th>
            <th class="text-truncate text-muted">Адрес</th>
            <th class="text-truncate text-muted">Добавлен</th>
            <th class="text-truncate text-muted">Действия</th>
          </tr>
          </thead>
          <tbody>
          {% for i in [1,2,3,4,5] -%}
          <tr>
            <td class="td-checkbox">
              <label class="custom-control custom-checkbox custom-control-inline mr-0">
                <input type="checkbox" class="custom-control-input" id="">
                <span class="custom-control-label" for=""></span>
              </label>
            </td>
            <td class="text-truncate"><a href="">«ООО» Цветоптторг</a></td>
            <td class="text-truncate">Воронеж</td>
            <td class="text-truncate">
              <span class="icon icon-loc text-primary mr-2"><svg viewBox="0 0 14 20" width="14" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M7 0C3.13 0 0 3.13 0 7c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 010-5 2.5 2.5 0 010 5z" fill-rule="evenodd"/></svg></span>
              ул. Текстильщиков 18а
            </td>
            <td class="text-truncate">24/09/19 14:04</td>
            <td class="text-truncate">
              <div class="m-n3">
                <button class="btn btn-only-icon text-primary">
                  <span class="icon icon-edit"><svg viewBox="0 0 18 18" width="18" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M0 14.25V18h3.75L14.807 6.942l-3.75-3.75L0 14.251zM17.708 4.043a.996.996 0 000-1.41l-2.34-2.34a.996.996 0 00-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z" fill-rule="evenodd"/></svg></span>
                </button>
                <button class="btn btn-only-icon ml-4 text-gray">
                  <span class="icon icon-delete"><svg viewBox="0 0 14 14" width="14" height="14" xmlns="http://www.w3.org/2000/svg"><path d="M14 1.41L12.59 0 7 5.59 1.41 0 0 1.41 5.59 7 0 12.59 1.41 14 7 8.41 12.59 14 14 12.59 8.41 7z" fill-rule="evenodd"/></svg></span>
                </button>
              </div>
            </td>
          </tr>
          {%- endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="swiper-scrollbar my-4_5"></div>
  </div>
</div>
