<section class="card client-info-card-main mx-n4_25 mx-lg-n4_5 rounded-0">
  <header class="card-header p-4_25 p-lg-4_5 position-relative d-lg-none">
    <h2 class="h1 m-0">
      <a class="stretched-link text-dark d-flex collapse-toggle text-truncate" data-toggle="collapse" data-target="#collapse-01" href="#collapse-01">
        <span class="text-truncate flex-grow-1">Данные клиента</span>
        <span class="icon icon-chevron-down collapse-icon text-muted ml-2"><svg viewBox="0 0 12 7" width="12" height="7" xmlns="http://www.w3.org/2000/svg"><path d="M1.41 0L6 4.327 10.59 0 12 1.332 6 7 0 1.332z" fill-rule="evenodd"/></svg></span>
      </a>
    </h2>
  </header>
  <div class="collapse d-lg-block show" id="collapse-01">
    <div class="mt-md-n2 mt-lg-0"></div>
    <div class="client-info-layout">
      {% include '_part/dashboard-2/client-card-01.html' %}
      {% include '_part/dashboard-2/client-card-02.html' %}
      {% include '_part/dashboard-2/client-card-03.html' %}
      {% include '_part/dashboard-2/client-card-04.html' %}
    </div>
    <div class="card-footer p-4_25 p-lg-4_5 d-lg-none">
      <div class="row">
        <div class="col-12 col-sm-6 ml-auto">
          <button class="btn btn-primary btn-block">Сохранить</button>
        </div>
      </div>
    </div>
  </div>
</section>
