<section class="card rounded-0">
  <div class="card-body p-4_25 p-lg-4_5">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-12">
        <div class="form-group">
          <label class="ml-2 " for="">Условия работы</label>
          <input class="form-control form-control-light" type="text" placeholder="Особые условия работы">
        </div>
        <div class="form-group">
          <label class="ml-2 " for="">Срок действия договора</label>
          <div class="input-group range-date-input-group">
            <label class="input-group-prepend">
              <span class="input-group-text px-0 mx-auto">с</span>
            </label>
            <input type="date" class="form-control form-control-light rounded-left" placeholder="" value="2018/09/11">
            <label class="input-group-prepend px-0">
              <span class="input-group-text px-0 mx-auto">по</span>
            </label>
            <input type="date" class="form-control form-control-light" placeholder="" value="2018/09/11">
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-12">
        <div class="form-group">
          <label class="ml-2 " for="">Особенности доставки</label>
          <textarea class="form-control form-control-light" name="" id="" cols="30" rows="7" placeholder="Особые условия работы"></textarea>
        </div>
      </div>
    </div>
  </div>
</section>
