<section class="card rounded-0">
  <div class="card-body p-4_25 p-lg-4_5 d-flex flex-column">
    <h5 class="mb-0">Документы</h5>
    <div class="list-group doc-list-group mx-n4_25 mx-lg-n4_5 pre-scrollable">
      {% for i in [1,2] -%}
      {% include 'shared/doc-list-group-item.html' %}
      <div class="list-group-item position-relative doc-list-group-item d-flex align-items-center px-4_25 px-lg-4_5 py-4 rounded-0 border-0">
        <div class="primary-content flex-grow-1">
          <span class="icon icon-pdf mr-4 float-left"><svg viewBox="0 0 26 32" width="26" height="32" xmlns="http://www.w3.org/2000/svg"><g fill="#EA4646" fill-rule="nonzero"><path d="M8.875 10.178a.66.66 0 00.431-.635.645.645 0 00-.161-.451.7.7 0 00-.407-.223c-.121-.022-.363-.034-.728-.034h-.489v1.422h.554c.399 0 .665-.027.8-.079zM13.962 11.897c.108-.098.197-.259.266-.483.069-.224.103-.53.103-.918s-.034-.685-.103-.893a1.124 1.124 0 00-.288-.484.956.956 0 00-.468-.236c-.141-.032-.418-.048-.831-.048h-.455v3.319h.755c.283 0 .486-.017.612-.049a.929.929 0 00.409-.208z"/><path d="M23.5 0h-21C1.4 0 .5.9.5 2v28c0 1.1.9 2 2 2h21c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2zm-7.26 7.987h3.436v.848h-2.424v1.187h2.092v.848h-2.092v2.129H16.24V7.987zm-5.065 0h1.849c.417 0 .735.032.954.096.294.087.546.24.756.462a2.2 2.2 0 01.479.812c.11.321.164.715.164 1.185 0 .412-.052.768-.154 1.066a2.215 2.215 0 01-.536.885 1.777 1.777 0 01-.711.4c-.223.07-.522.105-.896.105h-1.904V7.987h-.001zm-4.666 0h1.624c.615 0 1.016.025 1.203.075.287.075.527.238.721.49.194.252.291.577.291.977 0 .307-.056.565-.167.775-.111.21-.253.374-.425.494a1.48 1.48 0 01-.525.237c-.242.048-.591.071-1.049.071h-.66v1.891H6.509v-5.01zm13.984 17.554H5.507v-1h14.986v1zm0-3.541H5.507v-1h14.986v1z"/></g></svg></span>
          <div class="d-flex flex-column">
            <a class="text-muted stretched-link text-truncate" href="">Самое длинное название документа.doc</a>
            <div class="text-muted size mt-1 text-truncate">6 MB</div>
          </div>
        </div>
        <div class="secondary-content d-flex justify-content-end">
          <div class="m-n3">
            <button class="btn btn-only-icon text-gray">
              <span class="icon icon-download"><svg viewBox="0 0 14 17" width="14" height="17" xmlns="http://www.w3.org/2000/svg"><path d="M14 6h-4V0H4v6H0l7 7 7-7zM0 15v2h14v-2H0z" fill-rule="evenodd"></path></svg></span>
            </button>
            <button class="btn btn-only-icon text-gray ml-1">
              <span class="icon icon-delete"><svg viewBox="0 0 14 18" width="14" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M1 16c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V4H1v12zM14 1h-3.5l-1-1h-5l-1 1H0v2h14V1z" fill-rule="evenodd"></path></svg></span>
            </button>
          </div>
        </div>
      </div>
      {%- endfor %}
    </div>
    <div class="flex-grow-1"></div>
    <div class="d-none d-lg-block">
      {% include 'shared/dropzone-box.html' %}
    </div>
    <div class="d-lg-none">
      {% include 'shared/dropzone-box-short.html' %}
    </div>
  </div>
</section>
