<section class="card rounded-0">
  <div class="card-body p-4_25 p-lg-4_5">
    <div class="form-group">
      <label class="ml-2" for="">Тип клиента</label>
      <div class="btn-group btn-group-toggle btn-group-toggle-light w-100 with-indicator row-cols-2" data-toggle="buttons">
        <label class="btn btn-toggle">
          <input type="radio" name="options">
          Физ. лицо
        </label>
        <label class="btn btn-toggle active">
          <input type="radio" name="options" checked>
          Юр. лицо
        </label>
      </div>
    </div>
    <div class="form-group">
      <label class="ml-2 " for="">Тип клиента</label>
      <div>
        <select class="selectpicker w-100 --light" name="" id="" data-style="btn-light" data-dropup-auto="false">
          <option value="">Интернет-магазин</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="ml-2 " for="">Менеджер</label>
      <select class="selectpicker w-100 --light" name="" id="" data-style="btn-light" data-dropup-auto="false">
        <option value="">Виктор Новиков</option>
      </select>
    </div>
    <div class="form-group">
      <label class="ml-2 " for="">Источник</label>
      <select class="selectpicker w-100 --light" name="" id="" data-style="btn-light" data-dropup-auto="false">
        <option value="">Яндекс Директ</option>
      </select>
    </div>
    <div class="form-group">
      <label class="ml-2 " for="">Скидка</label>
      <select class="selectpicker w-100 --light" name="" id="" data-style="btn-light" data-dropup-auto="false">
        <option value="">Скидка 5%</option>
      </select>
    </div>
  </div>
</section>
