<section class="card-group">
  <div class="card rounded-0">
    <div class="card-body p-4_25 p-lg-4_5">
      <label class="custom-control custom-checkbox mb-4">
        <input type="checkbox" class="custom-control-input" id="" checked>
        <span class="custom-control-label" for="">Договор маркетинга</span>
      </label>
      <input class="form-control form-control-light" type="text" placeholder="Условия оплаты по договору маркетинга">
    </div>
  </div>
  <div class="card rounded-0">
    <div class="card-body p-4_25 p-lg-4_5 d-flex flex-column">
      <div class="list-group doc-list-group mx-n4_25 mx-lg-n4_5 mt-n4_25 mt-lg-4_5">
        {% include 'shared/doc-list-group-item.html' %}
      </div>
      <div class="flex-grow-1"></div>
      {% include 'shared/dropzone-box-short.html' %}
    </div>
  </div>
</section>
