<div class="navbar filter-navbar mx-n4_25 mx-lg-n4_5 px-4_5 py-4_5">
  <div class="btn-group btn-group-toggle w-100 with-indicator with-indicator-3 row-cols-3" data-toggle="buttons">
    <label class="btn btn-toggle">
      <input type="radio" name="options">
      Заказы клиента
    </label>
    <label class="btn btn-toggle">
      <input type="radio" name="options">
      События
    </label>
    <label class="btn btn-toggle active">
      <input type="radio" name="options" checked>
      Адреса
    </label>
  </div>
</div>
