<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>{% block title %}{{ title }}{% endblock %}</title>
  <link rel="stylesheet" href="stylesheets/app.css">
  {% include "shared/app-icons.html" %}
  {% block head %}{% endblock %}
</head>
<body class="bg-darker {{ bodyClass }}">
<div class="container-fluid container-min-width min-vh-100 d-flex flex-column px-3 px-sm-6">
{% block header %}
{% endblock %}
{% block content %}{% endblock %}
</div>
{% block modals %}
{% endblock %}
{% block javascript %}
<script src="javascripts/modernizr.js"></script>
<script src="javascripts/app.js"></script>
{% endblock %}
</body>
</html>
