<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>{% block title %}{{ title }}{% endblock %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.11/c3.min.css">
  <link rel="stylesheet" href="stylesheets/app.css">
  {% include "shared/app-icons.html" %}
  {% block head %}{% endblock %}
</head>
<body class="{{ bodyClass }}">
<div class="container-fluid container-min-width min-vh-100 bg-light d-flex flex-column px-0">
  <nav class="sidebar position-fixed d-flex flex-column align-items-center pt-4_5 text-truncate hide-sidebar" uk-height-viewport>
    {#
    <div class="pt-md-4 pb-md-5_5 d-none d-lg-block px-lg-4 mr-lg-auto">
      <span class="icon sidebar-logo">
        <svg viewBox="0 0 60 60" width="60" height="60" xmlns="http://www.w3.org/2000/svg"><g fill="#919191" fill-rule="nonzero"><path d="M30.925 29.083L39.683 10.3l4.942 13.8zM29.817 28.567l-10.192-28 19.3 8.466zM31.342 30.233l28-10.191-8.467 19.3zM28.667 28.983L9.892 20.225l13.791-4.933zM28.15 30.092L.158 40.283l8.459-19.3zM28.575 31.242L19.808 50c-1.666-4.6-3.314-9.2-4.941-13.8l13.708-4.958zM30.833 31.342L49.608 40.1l-13.775 4.942zM29.675 31.758l10.192 28-19.3-8.466z"/></g></svg>
      </span>
    </div>
    #}
    <div class="d-flex flex-nowrap w-100 align-items-center px-3 px-md-4 text-white">
      <span class="sidebar-avatar mr-4">
        <img class="img-fluid vertical-align-top rounded-pill" src="images/avatar.png" alt="" width="45" height="45">
      </span>
      <span class="text-truncate sidebar-name flex-grow-1">
        Вячеслав Столяров
      </span>
      <a class="icon icon-exit sidebar-icon ml-4 text-white mr-n1 mr-md-0" href=""><svg viewBox="0 0 20 22" width="20" height="22" xmlns="http://www.w3.org/2000/svg"><g stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><path d="M12 21h5a2 2 0 002-2V3a2 2 0 00-2-2h-5"/><path d="M9 15l4-4-4-4M13 11H1"/></g></svg></a>
    </div>
    {% include 'shared/sidebar-nav.html' %}
    <div class="flex-grow-1"></div>
    <ul class="nav flex-column w-100 sidebar-nav d-none d-lg-flex">
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center px-4 py-2 js-menu-toggle menu-toggle hide-sidebar text-muted" href="#">
          <span class="icon sidebar-icon mr-4">
            <svg viewBox="0 0 40 40" width="40" height="40" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M20 40c11.046 0 20-8.954 20-20S31.046 0 20 0 0 8.954 0 20s8.954 20 20 20z" fill="#2A2A2A"/><path fill-rule="evenodd" clip-rule="evenodd" d="M15.64 28.45a1 1 0 010-1.366l5.52-5.9a1 1 0 000-1.367l-5.52-5.9a1 1 0 010-1.368l.724-.77a1 1 0 011.459 0l7.536 8.037a1 1 0 010 1.368l-7.536 8.038a1 1 0 01-1.46 0l-.722-.771z"/></svg>
          </span>
          <span class="text-truncate">Скрыть</span>
        </a>
      </li>
    </ul>
  </nav>
  {% block header %}
    {% include 'shared/header-navbar-1-mobile.html' %}
    {% include 'shared/header-navbar-1.html' %}
  {% endblock %}
  <div class="d-flex flex-column main-container flex-grow-1 px-4_25 px-lg-4_5 container-fluid pt-4_25 pt-lg-4_5 hide-sidebar overflow-hidden bg-light">
    {% block content %}{% endblock %}
  </div>
</div>
{% block modals %}
{% endblock %}

{% block bottomStack %}
<div class="bottom-stack-mobile d-lg-none">
</div>
{% endblock %}

{% block javascript %}
<script src="javascripts/modernizr.js"></script>
<script src="javascripts/app.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.14.2/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.11/c3.min.js"></script>
{% endblock %}
</body>
</html>
