<form method="post" action="" enctype="multipart/form-data" novalidate="" class="dropzone-box dropzone-box-short has-advanced-upload position-relative mt-4_25">
  <div class="dropzone-box__input">
    <span class="dropzone-box__icon icon icon-upload text-gray"><svg viewBox="0 0 24 16" width="24" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M19.35 6.04A7.49 7.49 0 0012 0C9.11 0 6.6 1.64 5.35 4.04A5.994 5.994 0 000 10c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM14 9v4h-4V9H7l5-5 5 5h-3z" fill-rule="evenodd"/></svg></span>
    <input type="file" name="files[]" id="file" class="dropzone-box__file" data-multiple-caption="{count} files selected" multiple="">
    <label class="stretched-link" for="file"><span class="dropzone-box__dragndrop text-muted">Нажмите или перетащите файлы (PDF,TXT,WORD)</span></label>
    <div class="btn btn-link dropzone-box__button">Загрузить документ</div>
  </div>
  <div class="dropzone-box__uploading">Загружается…</div>
  <div class="dropzone-box__success">Файл загружен! <a href="#" class="dropzone-box__restart" role="button">Загрузить еще?</a></div>
  <div class="dropzone-box__error">Ошибка! <span></span>. <a href="#" class="dropzone-box__restart" role="button">Попробуйте снова!</a></div>
  <input type="hidden" name="ajax" value="1">
</form>
