<div class="navbar bg-white navbar-light flex-row flex-nowrap shadow-sm py-4 pl-0 px-4_5 header-navbar sticky-top d-none d-lg-flex hide-sidebar">
  <a class="position-absolute header-navbar-prev ml-4_5 text-dark" href="">
    <span class="icon icon-arrow-left mr-4 text-primary"><svg viewBox="0 0 16 16" width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M0 8l1.41 1.41L7 3.83V16h2V3.83l5.58 5.59L16 8 8 0z" fill-rule="evenodd"></path></svg></span>
    Назад
  </a>
  <h1 class="mb-0 header-navbar-title font-weight-medium mx-auto text-truncate">«ООО» Первое</h1>
  <a class="btn call-btn position-absolute header-navbar-call mr-4_25" href=""><span class="icon icon-call btn-icon mr-4"><svg viewBox="0 0 18 18" width="18" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M3.62 7.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V17c0 .55-.45 1-1 1C7.61 18 0 10.39 0 1c0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z" fill-rule="evenodd"/></svg></span>Позвонить клиенту</a>
</div>
