<nav class="navbar bg-white navbar-light flex-row flex-nowrap shadow-sm py-4 pl-0 pr-4_5 header-navbar sticky-top d-none d-lg-flex hide-sidebar">
  <div class="navbar-nav-scroll">
    <div class="nav navbar-nav flex-row flex-nowrap px-2">
      <a class="nav-link px-4 py-2 active" href="">Сегодня</a>
      <a class="nav-link px-4 py-2" href="">Вчера</a>
      <a class="nav-link px-4 py-2" href="">Неделя</a>
      <a class="nav-link px-4 py-2" href="">Месяц</a>
      <a class="nav-link px-4 py-2" href="">Квартал</a>
      <a class="nav-link px-4 py-2" href="">Год</a>
    </div>
  </div>
  <div class="flex-grow-1"></div>
  <div class="header-navbar-date ml-4_5 position-relative">
    <div class="input-group range-date-input-group" data-module="daterange" data-parentEl=".header-navbar-date">
      <label class="input-group-prepend" for="startDate">
        <span class="input-group-text px-0 mx-auto">с</span>
      </label>
      <input type="text" class="form-control form-control-light rounded-left start" placeholder="" value="" name="startDate" id="startDate" autocomplete="off">
      <label class="input-group-prepend px-0" for="endDate">
        <span class="input-group-text px-0 mx-auto">по</span>
      </label>
      <input type="text" class="form-control form-control-light end" placeholder="" value="" name="endDate" id="endDate" autocomplete="off">
    </div>
  </div>
</nav>
