<nav class="navbar bg-white navbar-light flex-row flex-nowrap shadow-sm py-4 pl-0 px-4_25 header-navbar header-navbar-mobile sticky-top d-lg-none hide-sidebar">
  <a class="header-navbar-icon-prev text-primary position-absolute ml-4_25" href=""><span class="icon icon-arrow-left"><svg viewBox="0 0 16 16" width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M0 8l1.41 1.41L7 3.83V16h2V3.83l5.58 5.59L16 8 8 0z" fill-rule="evenodd"></path></svg></span></a>
  <h1 class="mb-0 header-navbar-title font-weight-medium mx-auto text-truncate h4">Иван Новиков</h1>
  <img class="position-absolute header-navbar-avatar rounded-pill mr-2 mr-sm-4" src="images/avatar.png" alt="" width="40" height="40">
</nav>
