<nav class="navbar bg-light navbar-light flex-row flex-nowrap py-4 px-0 header-navbar header-navbar-mobile sticky-top d-lg-none hide-sidebar">
  <div class="position-absolute header-navbar-toggle icon js-menu-toggle hide-sidebar">
    <svg viewBox="0 0 20 20" width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M19.263 1.675l-7.956 7.957 7.956 7.956-1.675 1.675-7.957-7.957-7.956 7.957L0 17.588l7.956-7.957L0 1.675 1.675 0l7.957 7.957L17.588 0z" fill="#000" fill-rule="evenodd"/></svg>
    <svg viewBox="0 0 21 18" width="21" height="18" xmlns="http://www.w3.org/2000/svg"><g fill-rule="evenodd"><path d="M0 0h21v2H0zM0 8h21v2H0zM0 16h21v2H0z"/></g></svg>
  </div>
  <span class="icon mx-auto">
    <svg viewBox="0 0 40 40" width="40" height="40" xmlns="http://www.w3.org/2000/svg"><g fill="#919191" fill-rule="nonzero"><path d="M20.617 19.389l5.839-12.522 3.294 9.2zM19.878 19.044L13.083.378 25.95 6.022zM20.894 20.156l18.667-6.795-5.644 12.867zM19.111 19.322L6.594 13.483l9.195-3.289zM18.767 20.061L.106 26.856l5.638-12.867zM19.05 20.828l-5.844 12.505c-1.112-3.066-2.21-6.133-3.295-9.2l9.139-3.305zM20.556 20.894l12.516 5.84-9.183 3.294zM19.783 21.172l6.795 18.667-12.867-5.645z"/></g></svg>
  </span>
</nav>
