<div class="navbar bg-transparent flex-row flex-nowrap py-4 header-navbar header-navbar-login ml-0">
  <span class="icon mx-auto">
    <svg viewBox="0 0 60 60" width="60" height="60" xmlns="http://www.w3.org/2000/svg"><g fill="#FFF" fill-rule="nonzero"><path d="M30.925 29.083L39.683 10.3l4.942 13.8zM29.817 28.567l-10.192-28 19.3 8.466zM31.342 30.233l28-10.191-8.467 19.3zM28.667 28.983L9.892 20.225l13.791-4.933zM28.15 30.092L.158 40.283l8.459-19.3zM28.575 31.242L19.808 50c-1.666-4.6-3.314-9.2-4.941-13.8l13.708-4.958zM30.833 31.342L49.608 40.1l-13.775 4.942zM29.675 31.758l10.192 28-19.3-8.466z"/></g></svg>
  </span>
</div>
