<div class="modal fade" id="modal-register-client" tabindex="-1" role="dialog" aria-labelledby="modal-register-client" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header px-4 px-sm-4_5 pt-4_5 pt-sm-4_5 pb-5_25 pb-sm-4_75">
        <h4 class="modal-title h4 mb-0 ml-sm-2">Регистрация клиента</h4>
        <button class="btn btn-only-icon modal-close text-gray mt-n3 mr-n2 mr-sm-1" type="button" data-dismiss="modal" aria-label="Закрыть">
          <span class="icon"><svg viewBox="0 0 14 14" width="14" height="14" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14 1.41L12.59 0 7 5.59 1.41 0 0 1.41 5.59 7 0 12.59 1.41 14 7 8.41 12.59 14 14 12.59 8.41 7 14 1.41z"/></svg></span>
        </button>
      </div>
      <div class="modal-body px-4 px-sm-4_5 py-0">
        <div class="d-flex flex-wrap row-cols-1 row-cols-lg-2">
          <div class="pr-lg-3">
            <div class="form-group">
              <label class="ml-2" for="">Наименование клиента</label>
              <input type="text" class="form-control form-control-light" id="" value="" placeholder="«ООО» Первое">
            </div>
            <div class="form-group">
              <label class="ml-2" for="">Тип</label>
              <div class="btn-group btn-group-toggle btn-group-toggle-light w-100 with-indicator row-cols-2" data-toggle="buttons">
                <label class="btn btn-toggle">
                  <input type="radio" name="options">
                  Физ. лицо
                </label>
                <label class="btn btn-toggle active">
                  <input type="radio" name="options" checked>
                  Юр. лицо
                </label>
              </div>
            </div>
            <div class="form-group">
              <label class="ml-2 " for="">Тип клиента</label>
              <select class="selectpicker w-100 --light" name="" id="" data-style="btn-light" data-dropup-auto="false">
                <option value="">Все менеджеры</option>
              </select>
            </div>
            <div class="form-group">
              <label class="ml-2" for="">Контактное лицо</label>
              <input type="text" class="form-control form-control-light" id="" value="" placeholder="ФИО представителя">
            </div>
          </div>
          <div class="pl-lg-3">
            <div class="form-group">
              <label class="ml-2" for="">Телефон</label>
              <input type="text" class="form-control form-control-light" id="" value="" placeholder="8 (921) 123-32-21">
            </div>
            <div class="form-group">
              <label class="ml-2 " for="">Источник</label>
              <select class="selectpicker w-100 --light" name="" id="" data-style="btn-light" data-dropup-auto="false">
                <option value="">Сайт</option>
              </select>
            </div>
            <div class="form-group">
              <label class="ml-2 " for="">Назначить менеджером</label>
              <select class="selectpicker w-100 --light" name="" id="" data-style="btn-light" data-dropup-auto="false">
                <option value="">Виктор Новиков</option>
              </select>
            </div>
            <div class="form-group">
              <label class="ml-2" for="">Комментарий</label>
              <input type="text" class="form-control form-control-light" id="" value="" placeholder="Комментарий">
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-wrap px-4 px-sm-4_5 pt-4_5 pt-sm-4_25 pb-5 pb-lg-4_5 row-cols-1 row-cols-lg-2">
        <div class="pr-lg-3">
          <button type="button" class="btn btn-primary btn-block">Зарегистрировать</button>
        </div>
        <div class="pl-lg-3">
          <button type="button" class="btn btn-outline-primary btn-block mt-4 mt-lg-0" data-dismiss="modal">Отмена</button>
        </div>
      </div>
    </div>
  </div>
</div>
