<div class="modal fade" id="modal-create-tariff" tabindex="-1" role="dialog" aria-labelledby="modal-create-tariff" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header px-4 px-sm-4_5 pt-4_5 pt-sm-4_5 pb-5_25 pb-sm-4_75">
        <h4 class="modal-title h4 mb-0 ml-sm-2">Создание тарифа</h4>
        <button class="btn btn-only-icon modal-close text-gray mt-n3 mr-n2 mr-sm-1" type="button" data-dismiss="modal" aria-label="Закрыть">
          <span class="icon"><svg viewBox="0 0 14 14" width="14" height="14" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14 1.41L12.59 0 7 5.59 1.41 0 0 1.41 5.59 7 0 12.59 1.41 14 7 8.41 12.59 14 14 12.59 8.41 7 14 1.41z"/></svg></span>
        </button>
      </div>
      <div class="modal-body px-4 px-sm-4_5 py-0">
        <div class="form-group">
          <label class="ml-2" for="">Название тарифа</label>
          <input type="text" class="form-control form-control-light" id="" value="" placeholder="«ООО» Первое">
        </div>
        <div class="d-flex flex-wrap row-cols-1 row-cols-lg-2">
          <div class="pr-lg-3">
            <div class="form-group">
              <label class="ml-2" for="">Коммиссия за ноложенный платеж</label>
              <input type="text" class="form-control form-control-light" id="" value="" placeholder="0%">
            </div>
          </div>
          <div class="pl-lg-3">
            <div class="form-group">
              <label class="ml-2" for="">Коммиссия за страховку</label>
              <input type="text" class="form-control form-control-light" id="" value="" placeholder="0%">
            </div>
          </div>
        </div>
        <div class="border-top-light mb-4"></div>
        <div class="d-flex flex-wrap row-cols-1 row-cols-lg-2">
          <div class="pr-lg-3">
            <div class="form-group">
              <label class="ml-2 " for="">Из геозоны</label>
              <select class="selectpicker w-100 --light" name="" id="" data-style="btn-light" data-dropup-auto="false">
                <option value="">Зеленая</option>
              </select>
            </div>
            <div class="form-group">
              <label class="ml-2 " for="">В геозону</label>
              <select class="selectpicker w-100 --light" name="" id="" data-style="btn-light" data-dropup-auto="false">
                <option value="">Красная</option>
              </select>
            </div>
            <div class="form-group">
              <label class="ml-2 " for="">Тип услуги</label>
              <select class="selectpicker w-100 --light" name="" id="" data-style="btn-light" data-dropup-auto="false">
                <option value="">Доставка</option>
              </select>
            </div>
          </div>
          <div class="pl-lg-3">
            <div class="form-group">
              <label class="ml-2 " for="">Срок исполнения</label>
              <select class="selectpicker w-100 --light" name="" id="" data-style="btn-light" data-dropup-auto="false">
                <option value="">1 час</option>
              </select>
            </div>
            <div class="form-group">
              <label class="ml-2" for="">Вес</label>
              <div class="input-group range-input-group">
                <label class="input-group-prepend">
                  <span class="input-group-text px-0 mx-auto">от</span>
                </label>
                <input type="text" class="form-control form-control-light rounded-left" value="1 кг">
                <label class="input-group-prepend px-0">
                  <span class="input-group-text px-0 mx-auto">до</span>
                </label>
                <input type="text" class="form-control form-control-light" value="3 кг">
              </div>
            </div>
            <div class="form-group">
              <label class="ml-2" for="">Сумма длин сторон</label>
              <div class="input-group range-input-group">
                <label class="input-group-prepend">
                  <span class="input-group-text px-0 mx-auto">от</span>
                </label>
                <input type="text" class="form-control form-control-light rounded-left" value="10 см">
                <label class="input-group-prepend px-0">
                  <span class="input-group-text px-0 mx-auto">до</span>
                </label>
                <input type="text" class="form-control form-control-light" value="100 см">
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-wrap row-cols-1 row-cols-lg-2">
          <div class="form-group">
            <label class="ml-2" for="">Стоимость</label>
            <input type="text" class="form-control form-control-light" id="" value="" placeholder="500 руб.">
          </div>
        </div>
      </div>
      <div class="d-flex flex-wrap px-4 px-sm-4_5 pt-4_5 pt-sm-4_25 pb-5 pb-lg-4_5 row-cols-1 row-cols-lg-2">
        <div class="pr-lg-3">
          <button type="button" class="btn btn-primary btn-block">Создать</button>
        </div>
        <div class="pl-lg-3">
          <button type="button" class="btn btn-outline-primary btn-block mt-4 mt-lg-0" data-dismiss="modal">Отмена</button>
        </div>
      </div>
    </div>
  </div>
</div>
