<div class="modal fade" id="modal-delete-address"  tabindex="-1" role="dialog" aria-labelledby="modal-delete-address" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header py-5 px-3 justify-content-center">
        <h4 class="modal-title h4 font-weight-medium mb-0">Удалить выбранные адреса?</h4>
      </div>
      <div class="modal-footer px-3 pb-3 pt-0">
        <div class="row no-gutters m-0 w-100">
          <div class="col-6 pr-2">
            <button type="button" class="btn btn-primary btn-block">Да</button>
          </div>
          <div class="col-6 pl-2">
            <button type="button" class="btn btn-outline-primary btn-block" data-dismiss="modal">Нет</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
